dtd/restserver/1.2.5/restserver_1_0.dtd

<!--
This is the XML DTD for the Nimbus 1.0 DataSet generation descriptor.
The DOCTYPE is:
  <!DOCTYPE restserver PUBLIC
      "-//Nimbus//DTD Nimbus RestServer definition 1.0//JA"
      "http://nimbus.sourceforge.jp/dtd/restserver_1_0.dtd">

\u4f8b:
    <restserver>
        
        <resource name="/users">
            <post>
                <request code="sample.dto.User"/>
                <response code="sample.dto.Response"/>
            </post>
            <get>
                <request code="sample.dto.UserFilter"/>
                <response code="sample.dto.UserList"/>
            </get>
            <head>
                <request code="sample.dto.UserFilter"/>
            </head>
            <options/>
        </resource>
        
        <resource name="/users/{id}">
            <get>
                <request code="java.lang.String"/>
                <response code="sample.dto.User"/>
            </get>
            <head>
                <request code="java.lang.String"/>
            </head>
            <put>
                <request code="sample.dto.User"/>
                <response code="sample.dto.Response"/>
            </put>
            <delete>
                <request code="java.lang.String"/>
                <response code="sample.dto.Response"/>
            </delete>
            <options/>
        </resource>
        
        <resource name="/users/{id}/friends">
            <get>
                <request code="sample.dto.UserFilter"/>
                <response code="sample.dto.UserList"/>
            </get>
            <head>
                <request code="sample.dto.UserFilter"/>
            </head>
            <options/>
        </resource>
        
        <resource name="/users/{id}/friends/{friend_id}">
            <post>
                <request code="java.util.HashMap"/>
                <response code="sample.dto.Response"/>
            </post>
            <get>
                <request code="java.util.HashMap"/>
                <response code="sample.dto.User"/>
            </get>
            <head>
                <request code="java.util.HashMap"/>
            </head>
            <delete>
                <request code="java.util.HashMap"/>
                <response code="sample.dto.Response"/>
            </delete>
            <options/>
        </resource>
        
    </restserver>
-->

<!-- restserver\u8981\u7d20\u306f\u3001REST\u30b5\u30fc\u30d0\u5b9a\u7fa9\u306e\u30eb\u30fc\u30c8\u8981\u7d20\u3067\u3059\u3002
-->
<!ELEMENT restserver (resource+ | object-def*)*>

<!-- resource\u8981\u7d20\u306f\u3001REST\u30b5\u30fc\u30d0\u306b\u5b58\u5728\u3059\u308b\u30ea\u30bd\u30fc\u30b9\u3092\u5b9a\u7fa9\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
-->
<!ELEMENT resource (post? | get? | head? | put? | delete? | options?)*>

<!-- name\u5c5e\u6027\u306f\u3001REST\u30b5\u30fc\u30d0\u306e\u30ea\u30bd\u30fc\u30b9\u3092\u793a\u3059URI\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST resource name CDATA #REQUIRED>

<!-- post\u8981\u7d20\u306f\u3001\u30ea\u30bd\u30fc\u30b9\u306ePOST\u30e1\u30bd\u30c3\u30c9\u3092\u5b9a\u7fa9\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
-->
<!ELEMENT post (description? | request? | response?)*>

<!-- get\u8981\u7d20\u306f\u3001\u30ea\u30bd\u30fc\u30b9\u306eGET\u30e1\u30bd\u30c3\u30c9\u3092\u5b9a\u7fa9\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
-->
<!ELEMENT get (description? | request? | response)*>

<!-- head\u8981\u7d20\u306f\u3001\u30ea\u30bd\u30fc\u30b9\u306eHEAD\u30e1\u30bd\u30c3\u30c9\u3092\u5b9a\u7fa9\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
-->
<!ELEMENT head (description? | request?)>

<!-- put\u8981\u7d20\u306f\u3001\u30ea\u30bd\u30fc\u30b9\u306ePUT\u30e1\u30bd\u30c3\u30c9\u3092\u5b9a\u7fa9\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
-->
<!ELEMENT put (description? | request? | response?)*>

<!-- delete\u8981\u7d20\u306f\u3001\u30ea\u30bd\u30fc\u30b9\u306eDELETE\u30e1\u30bd\u30c3\u30c9\u3092\u5b9a\u7fa9\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
-->
<!ELEMENT delete (description? | request? | response?)*>

<!-- options\u8981\u7d20\u306f\u3001\u30ea\u30bd\u30fc\u30b9\u306eDELETE\u30e1\u30bd\u30c3\u30c9\u3092\u5b9a\u7fa9\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
-->
<!ELEMENT options EMPTY>

<!-- description\u8981\u7d20\u306f\u3001\u30e1\u30bd\u30c3\u30c9\u306e\u8aac\u660e\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ELEMENT description (#PCDATA)>

<!-- request\u8981\u7d20\u306f\u3001\u30e1\u30bd\u30c3\u30c9\u306e\u30ea\u30af\u30a8\u30b9\u30c8\u60c5\u5831\u3092\u5b9a\u7fa9\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
-->
<!ELEMENT request (constructor? | field* | attribute* | invoke*)*>

<!-- code\u5c5e\u6027\u306f\u3001\u30ea\u30af\u30a8\u30b9\u30c8\u60c5\u5831\u3092\u683c\u7d0d\u3059\u308bBean\u306e\u30af\u30e9\u30b9\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST request code CDATA #IMPLIED>

<!-- name\u5c5e\u6027\u306f\u3001\u30ea\u30af\u30a8\u30b9\u30c8\u60c5\u5831\u3092\u683c\u7d0d\u3059\u308bBean\u3092\u53d6\u5f97\u3059\u308b\u30d5\u30ed\u30fc\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST request name CDATA #IMPLIED>

<!-- ref\u5c5e\u6027\u306f\u3001\u30ea\u30af\u30a8\u30b9\u30c8\u60c5\u5831\u3092\u683c\u7d0d\u3059\u308bBean\u3092\u5b9a\u7fa9\u3057\u305fobject-def\u8981\u7d20\u306ename\u5c5e\u6027\u306e\u5024\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST request ref CDATA #IMPLIED>

<!-- response\u8981\u7d20\u306f\u3001\u30e1\u30bd\u30c3\u30c9\u306e\u30ec\u30b9\u30dd\u30f3\u30b9\u60c5\u5831\u3092\u5b9a\u7fa9\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
-->
<!ELEMENT response (constructor? | field* | attribute* | invoke*)*>

<!-- code\u5c5e\u6027\u306f\u3001\u30ec\u30b9\u30dd\u30f3\u30b9\u60c5\u5831\u3092\u683c\u7d0d\u3059\u308bBean\u306e\u30af\u30e9\u30b9\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST response code CDATA #IMPLIED>

<!-- name\u5c5e\u6027\u306f\u3001\u30ec\u30b9\u30dd\u30f3\u30b9\u60c5\u5831\u3092\u683c\u7d0d\u3059\u308bBean\u3092\u53d6\u5f97\u3059\u308b\u30d5\u30ed\u30fc\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST response name CDATA #IMPLIED>

<!-- ref\u5c5e\u6027\u306f\u3001\u30ec\u30b9\u30dd\u30f3\u30b9\u60c5\u5831\u3092\u683c\u7d0d\u3059\u308bBean\u3092\u5b9a\u7fa9\u3057\u305fobject-def\u8981\u7d20\u306ename\u5c5e\u6027\u306e\u5024\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST response ref CDATA #IMPLIED>

<!-- invoke\u8981\u7d20\u306f\u3001request\u3001response\u3001object\u8981\u7d20\u3067\u751f\u6210\u3059\u308b
\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306e\u30e1\u30bd\u30c3\u30c9\u5b9f\u884c\u5c5e\u6027\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
invoke\u8981\u7d20\u306e\u5b50\u8981\u7d20\u306bargument\u8981\u7d20\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002\u5f15\u6570\u3042\u308a\u306e\u30e1\u30bd\u30c3\u30c9\u3092\u5b9f\u884c\u3057\u305f\u3044
\u5834\u5408\u306b\u6307\u5b9a\u3057\u307e\u3059\u3002
\u3053\u306e\u8981\u7d20\u304cconstructor\u8981\u7d20\u307e\u305f\u306ftarget\u8981\u7d20\u306e\u5b50\u8981\u7d20\u3068\u3057\u3066\u73fe\u308c\u308b\u5834\u5408\u306e\u307f\u3001\u5b50\u8981\u7d20\u306btarget\u8981\u7d20\u3092\u6301\u3064\u4e8b\u304c\u3067\u304d\u307e\u3059\u3002target\u8981\u7d20\u3067\u306f\u3001\u547c\u3073\u51fa\u3057\u5bfe\u8c61\u306e\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
Service\u3084\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306b\u306f\u3001\u8a72\u5f53\u3059\u308b\u30e1\u30bd\u30c3\u30c9\u3092\u5b9f\u88c5\u3057\u3066\u304a\u304f\u5fc5\u8981\u304c\u3042\u308a\u307e\u3059\u3002
-->
<!ELEMENT invoke (target?, argument*)>

<!-- name\u5c5e\u6027\u306f\u3001invoke\u8981\u7d20\u3067\u5b9f\u884c\u3059\u308b\u30e1\u30bd\u30c3\u30c9\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST invoke name CDATA #REQUIRED>

<!-- target\u8981\u7d20\u306f\u3001invoke\u8981\u7d20\u3067\u30e1\u30bd\u30c3\u30c9\u547c\u3073\u51fa\u3057\u3092\u884c\u3046\u5bfe\u8c61\u306e\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ELEMENT target (object | service-ref | invoke | static-invoke | static-field-ref)*>

<!-- static-invoke\u8981\u7d20\u306f\u3001static\u30e1\u30bd\u30c3\u30c9\u306e\u547c\u3073\u51fa\u3057\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
static-invoke\u8981\u7d20\u306e\u5b50\u8981\u7d20\u306bargument\u8981\u7d20\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002\u5f15\u6570\u3042\u308a\u306e\u30e1\u30bd\u30c3\u30c9\u3092\u5b9f\u884c\u3057\u305f\u3044
\u5834\u5408\u306b\u6307\u5b9a\u3057\u307e\u3059\u3002
-->
<!ELEMENT static-invoke (argument*)>

<!-- code\u5c5e\u6027\u306f\u3001static-invoke\u8981\u7d20\u3067\u5b9f\u884c\u3059\u308bstatic\u30e1\u30bd\u30c3\u30c9\u304c\u5ba3\u8a00\u3055\u308c\u3066\u3044\u308b\u30af\u30e9\u30b9\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST static-invoke code CDATA #REQUIRED>

<!-- name\u5c5e\u6027\u306f\u3001static-invoke\u8981\u7d20\u3067\u5b9f\u884c\u3059\u308bstatic\u30e1\u30bd\u30c3\u30c9\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST static-invoke name CDATA #REQUIRED>

<!-- static-field-ref\u8981\u7d20\u306f\u3001static\u30d5\u30a3\u30fc\u30eb\u30c9\u53c2\u7167\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
static-field-ref\u8981\u7d20\u306ecode\u5c5e\u6027\u3067\u30af\u30e9\u30b9\u540d\u3092\u3001name\u5c5e\u6027\u3067\u30d5\u30a3\u30fc\u30eb\u30c9\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ELEMENT static-field-ref EMPTY>

<!-- code\u5c5e\u6027\u306f\u3001static-field-ref\u8981\u7d20\u3067\u53c2\u7167\u3059\u308bstatic\u30d5\u30a3\u30fc\u30eb\u30c9\u304c\u5ba3\u8a00\u3055\u308c\u3066\u3044\u308b\u30af\u30e9\u30b9\u540d\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
-->
<!ATTLIST static-field-ref code CDATA #REQUIRED>

<!-- name\u5c5e\u6027\u306f\u3001static-field-ref\u8981\u7d20\u3067\u53c2\u7167\u3059\u308bstatic\u30d5\u30a3\u30fc\u30eb\u30c9\u540d\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
-->
<!ATTLIST static-field-ref name CDATA #REQUIRED>

<!-- object\u8981\u7d20\u306f\u3001\u751f\u6210\u3059\u308b\u4efb\u610f\u306e\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ELEMENT object (constructor? | field* | attribute* | invoke*)*>

<!-- code\u5c5e\u6027\u306f\u3001object\u8981\u7d20\u3067\u751f\u6210\u3059\u308b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306e\u5b9f\u88c5\u30af\u30e9\u30b9\u540d\u3092\u5b8c\u5168\u4fee\u98fe\u540d\u3067
\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST object code CDATA #IMPLIED>

<!-- ref\u5c5e\u6027\u306f\u3001object\u8981\u7d20\u3067\u751f\u6210\u3059\u308b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u3092\u5b9a\u7fa9\u3057\u305fobject-def\u8981\u7d20\u306ename\u5c5e\u6027\u306e\u5024\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST object ref CDATA #IMPLIED>

<!-- constructor\u8981\u7d20\u306f\u3001request\u3001response\u3001object\u8981\u7d20\u3067\u751f\u6210\u3059\u308b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306e\u30b3\u30f3\u30b9\u30c8\u30e9\u30af\u30bf\u5c5e\u6027\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
constructor\u8981\u7d20\u306e\u5b50\u8981\u7d20\u306bargument\u8981\u7d20\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002\u30c7\u30d5\u30a9\u30eb\u30c8\u30b3\u30f3\u30b9\u30c8\u30e9\u30af\u30bf\u4ee5\u5916
\u306e\u30b3\u30f3\u30b9\u30c8\u30e9\u30af\u30bf\u3092\u6307\u5b9a\u3057\u305f\u3044\u5834\u5408\u306b\u6307\u5b9a\u3057\u307e\u3059\u3002
\u751f\u6210\u3059\u308b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306e\u30af\u30e9\u30b9\u306b\u306f\u3001\u8a72\u5f53\u3059\u308b\u30b3\u30f3\u30b9\u30c8\u30e9\u30af\u30bf\u3092\u5b9f\u88c5\u3057\u3066\u304a\u304f\u5fc5\u8981\u304c\u3042\u308a\u307e\u3059\u3002
-->
<!ELEMENT constructor (argument+ | invoke |static-invoke | static-field-ref)*>

<!-- argument\u8981\u7d20\u306f\u3001constructor\u8981\u7d20\u3067\u6307\u5b9a\u3059\u308b\u30b3\u30f3\u30b9\u30c8\u30e9\u30af\u30bf\u306e\u5f15\u6570\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
argument\u8981\u7d20\u306e\u5185\u5bb9\u306b\u3001\u5f15\u6570\u306e\u5024\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
\u5f15\u6570\u3068\u3057\u3066\u3001\u30b5\u30fc\u30d3\u30b9\u3092\u53c2\u7167\u3059\u308b\u6642\u306f\u3001service-ref\u8981\u7d20\u3002
-->
<!ELEMENT argument (#PCDATA | service-ref | object | static-invoke | static-field-ref)*>

<!-- type\u5c5e\u6027\u306f\u3001argument\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u5f15\u6570\u306e\u578b\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
argument\u8981\u7d20\u306e\u5b50\u8981\u7d20\u306bservice-ref\u8981\u7d20\u3084object\u8981\u7d20\u3092\u5b9a\u7fa9\u3059\u308b\u5834\u5408\u3067\u3001\u5f15\u6570\u306e\u578b\u304c
\u305d\u308c\u3089\u306e\u8981\u7d20\u304c\u8868\u3059\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306e\u578b\u3068\u7b49\u3057\u3044\u5834\u5408\u306f\u3001\u7701\u7565\u53ef\u80fd\u3067\u3059\u3002
-->
<!ATTLIST argument type CDATA #IMPLIED>

<!-- valueType\u5c5e\u6027\u306f\u3001argument\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u5f15\u6570\u306e\u5b9f\u578b\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
\u5f15\u6570\u306e\u578b\u3068\u8a2d\u5b9a\u3057\u305f\u3044\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306e\u578b\u304c\u4ee3\u5165\u4e92\u63db\u306e\u95a2\u4fc2\u306b\u3042\u308a\u3001\u7b49\u3057\u3044\u578b\u3067\u306f\u306a\u3044
\u5834\u5408\u306b\u6307\u5b9a\u3057\u307e\u3059\u3002
-->
<!ATTLIST argument valueType CDATA #IMPLIED>

<!-- nullValue\u5c5e\u6027\u306f\u3001argument\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u5f15\u6570\u306e\u5024\u304cnull\u3067\u3042\u308b\u4e8b\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
argument\u8981\u7d20\u304c\u8868\u3059\u5024\u304cnull\u3067\u3042\u308b\u5834\u5408\u306b\u3001true\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
-->
<!ATTLIST argument nullValue (true|false) "false">

<!-- field\u8981\u7d20\u306f\u3001request\u3001response\u3001object\u8981\u7d20\u3067\u751f\u6210\u3059\u308b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306e\u30d5\u30a3\u30fc\u30eb\u30c9\u5c5e\u6027\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
field\u8981\u7d20\u306e\u5185\u5bb9\u306b\u3001\u5024\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002\u3053\u3053\u3067\u6307\u5b9a\u3055\u308c\u305f\u5024\u306f\u3001
java.beans.PropertyEditor\u306b\u3088\u3063\u3066\u7de8\u96c6\u3055\u308c\u307e\u3059\u3002
\u751f\u6210\u3059\u308b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306e\u30af\u30e9\u30b9\u306b\u306f\u3001\u3053\u306e\u8981\u7d20\u306ename\u5c5e\u6027\u3067\u5b9a\u7fa9\u3059\u308b\u30d5\u30a3\u30fc\u30eb\u30c9\u5c5e\u6027\u540d\u306b\u8a72\u5f53\u3059\u308b\u30d5\u30a3\u30fc\u30eb\u30c9
\u3092\u5b9f\u88c5\u3057\u3066\u304a\u304f\u5fc5\u8981\u304c\u3042\u308a\u307e\u3059\u3002
-->
<!ELEMENT field (#PCDATA | service-ref | object | static-invoke | static-field-ref)*>

<!-- name\u5c5e\u6027\u306f\u3001field\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u30d5\u30a3\u30fc\u30eb\u30c9\u5c5e\u6027\u306e\u5c5e\u6027\u540d\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
request\u3001response\u3001object\u8981\u7d20\u3067\u751f\u6210\u3059\u308b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306b\u306f\u3001\u3053\u306e\u8981\u7d20\u306ename\u5c5e\u6027\u3067\u5b9a\u7fa9\u3059\u308b\u30d5\u30a3\u30fc\u30eb\u30c9\u5c5e\u6027\u540d
\u306b\u8a72\u5f53\u3059\u308b\u30d5\u30a3\u30fc\u30eb\u30c9\u3092\u5b9f\u88c5\u3057\u3066\u304a\u304f\u5fc5\u8981\u304c\u3042\u308a\u307e\u3059\u3002
-->
<!ATTLIST field name CDATA #REQUIRED>

<!-- type\u5c5e\u6027\u306f\u3001field\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u30d5\u30a3\u30fc\u30eb\u30c9\u5c5e\u6027\u306e\u578b\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
request\u3001response\u3001object\u8981\u7d20\u3067\u751f\u6210\u3059\u308b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306b\u3001name\u5c5e\u6027\u3067\u5b9a\u7fa9\u3057\u305f\u5c5e\u6027\u540d\u306b\u5bfe\u3059\u308b\u30d5\u30a3\u30fc\u30eb\u30c9\u306e\u578b
\u3068\u5185\u5bb9\u306e\u6587\u5b57\u5217\u3092\u7de8\u96c6\u3059\u308bPropertyEditor\u304c\u767b\u9332\u3055\u308c\u3066\u3044\u308b\u578b\u304c\u540c\u3058\u5834\u5408\u306f\u3001
\u7701\u7565\u53ef\u80fd\u3067\u3059\u3002
request\u3001response\u3001object\u8981\u7d20\u3067\u751f\u6210\u3059\u308b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306b\u3001name\u5c5e\u6027\u3067\u5b9a\u7fa9\u3057\u305f\u5c5e\u6027\u540d\u306b\u5bfe\u3059\u308b\u30d5\u30a3\u30fc\u30eb\u30c9\u306e\u578b
\u3068\u4ee3\u5165\u4e92\u63db\u306e\u95a2\u4fc2\u306b\u3042\u308b\u5225\u306e\u578b\u3067\u8a2d\u5b9a\u3057\u305f\u3044\u5834\u5408\u306f\u3001\u3053\u306e\u5c5e\u6027\u3067\u5fc5\u8981\u306a\u578b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
\u6307\u5b9a\u3057\u305f\u578b\u306b\u8a72\u5f53\u3059\u308bjava.beans.PropertyEditor\u304c\u767b\u9332\u3055\u308c\u3066\u3044\u306a\u3044\u5834\u5408\u306f\u3001
\u5024\u304c\u8a2d\u5b9a\u3055\u308c\u307e\u305b\u3093\u3002
-->
<!ATTLIST field type CDATA #IMPLIED>

<!-- nullValue\u5c5e\u6027\u306f\u3001field\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u30d5\u30a3\u30fc\u30eb\u30c9\u306e\u5024\u304cnull\u3067\u3042\u308b\u4e8b\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
field\u8981\u7d20\u304c\u8868\u3059\u5024\u304cnull\u3067\u3042\u308b\u5834\u5408\u306b\u3001true\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
-->
<!ATTLIST field nullValue (true|false) "false">

<!-- attribute\u8981\u7d20\u306f\u3001request\u3001response\u3001object\u8981\u7d20\u3067\u751f\u6210\u3059\u308b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306eBean\u5c5e\u6027\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
attribute\u8981\u7d20\u306e\u5185\u5bb9\u306b\u3001\u5024\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002\u3053\u3053\u3067\u6307\u5b9a\u3055\u308c\u305f\u5024\u306f\u3001
java.beans.PropertyEditor\u306b\u3088\u3063\u3066Service\u306b\u8a2d\u5b9a\u3055\u308c\u307e\u3059\u3002
Service\u306b\u306f\u3001\u3053\u306e\u8981\u7d20\u306ename\u5c5e\u6027\u3067\u5b9a\u7fa9\u3059\u308b\u5c5e\u6027\u540d\u306b\u8a72\u5f53\u3059\u308bsetter\u3092\u5b9f\u88c5\u3057\u3066\u304a\u304f\u304b
\u3001Map\u30a4\u30f3\u30bf\u30d5\u30a7\u30fc\u30b9\u3092\u5b9f\u88c5\u3057\u3066\u304a\u304f\u5fc5\u8981\u304c\u3042\u308a\u307e\u3059\u3002
-->
<!ELEMENT attribute (#PCDATA | service-ref | object | static-invoke | static-field-ref)*>

<!-- name\u5c5e\u6027\u306f\u3001attribute\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308bBean\u5c5e\u6027\u306e\u5c5e\u6027\u540d\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
request\u3001response\u3001object\u8981\u7d20\u3067\u751f\u6210\u3059\u308b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306b\u306f\u3001\u3053\u3053\u3067\u5b9a\u7fa9\u3059\u308b\u5c5e\u6027\u540d\u306e\u5c5e\u6027\u306b\u5bfe\u3059\u308bsetter\u3092
\u5b9f\u88c5\u3057\u3066\u304a\u304f\u304b\u3001Map\u30a4\u30f3\u30bf\u30d5\u30a7\u30fc\u30b9\u3092\u5b9f\u88c5\u3059\u308b\u5fc5\u8981\u304c\u3042\u308a\u307e\u3059\u3002
-->
<!ATTLIST attribute name CDATA #REQUIRED>

<!-- type\u5c5e\u6027\u306f\u3001attribute\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308bBean\u5c5e\u6027\u306e\u578b\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
request\u3001response\u3001object\u8981\u7d20\u3067\u751f\u6210\u3059\u308b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306b\u3001name\u5c5e\u6027\u3067\u5b9a\u7fa9\u3057\u305f\u5c5e\u6027\u540d\u306b\u5bfe\u3059\u308bsetter\u304c\u7528\u610f
\u3055\u308c\u3066\u3044\u308b\u5834\u5408\u306f\u3001\u7701\u7565\u53ef\u80fd\u3067\u3059\u3002\u4f46\u3057\u3001DOM\u306eElement\u3092\u305d\u306e\u307e\u307e\u8a2d\u5b9a\u3057\u305f\u3044\u5834\u5408\u306f\u3001
\u3053\u306e\u5c5e\u6027\u306b\u3001"org.w3c.dom.Element"\u3092\u6307\u5b9a\u3059\u308b\u5fc5\u8981\u304c\u3042\u308a\u307e\u3059\u3002
request\u3001response\u3001object\u8981\u7d20\u3067\u751f\u6210\u3059\u308b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306b\u3001name\u5c5e\u6027\u3067\u5b9a\u7fa9\u3057\u305f\u5c5e\u6027\u540d\u306b\u5bfe\u3059\u308bsetter\u304c\u7528\u610f
\u3055\u308c\u3066\u3044\u306a\u3044\u5834\u5408\u3067\u3001Map\u30a4\u30f3\u30bf\u30d5\u30a7\u30fc\u30b9\u3092\u5b9f\u88c5\u3057\u3066\u3044\u308b\u5834\u5408\u306b\u3001String\u578b\u4ee5\u5916\u306e\u578b\u3067
\u8a2d\u5b9a\u3059\u308b\u5fc5\u8981\u304c\u3042\u308b\u5834\u5408\u306f\u3001\u3053\u306e\u5c5e\u6027\u3067\u578b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
\u307e\u305f\u3001request\u3001response\u3001object\u8981\u7d20\u3067\u751f\u6210\u3059\u308b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306b\u3001name\u5c5e\u6027\u3067\u5b9a\u7fa9\u3057\u305f\u5c5e\u6027\u540d\u306b\u5bfe\u3059\u308bsetter\u304c
\u7528\u610f\u3055\u308c\u3066\u3044\u308b\u5834\u5408\u3067\u3082\u3001\u305d\u306esetter\u306e\u5f15\u6570\u306e\u578b\u3068\u4ee3\u5165\u4e92\u63db\u306e\u95a2\u4fc2\u306b\u3042\u308b\u5225\u306e\u578b\u3067\u8a2d\u5b9a
\u3057\u305f\u3044\u5834\u5408\u306a\u3069\u306b\u3082\u3001\u3053\u306e\u5c5e\u6027\u3067\u5fc5\u8981\u306a\u578b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
\u6307\u5b9a\u3057\u305f\u578b\u306b\u8a72\u5f53\u3059\u308bjava.beans.PropertyEditor\u304c\u767b\u9332\u3055\u308c\u3066\u3044\u306a\u3044\u5834\u5408\u306f\u3001
\u5024\u304c\u8a2d\u5b9a\u3055\u308c\u307e\u305b\u3093\u3002
-->
<!ATTLIST attribute type CDATA #IMPLIED>

<!-- nullValue\u5c5e\u6027\u306f\u3001attribute\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u5c5e\u6027\u306e\u5024\u304cnull\u3067\u3042\u308b\u4e8b\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
attribute\u8981\u7d20\u304c\u8868\u3059\u5024\u304cnull\u3067\u3042\u308b\u5834\u5408\u306b\u3001true\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
-->
<!ATTLIST attribute nullValue (true|false) "false">

<!-- service-ref\u8981\u7d20\u306f\u3001\u53c2\u7167\u3059\u308bService\u306e\u30b5\u30fc\u30d3\u30b9\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
service-ref\u8981\u7d20\u306e\u5185\u5bb9\u306b\u3001\u30b5\u30fc\u30d3\u30b9\u540d\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
-->
<!ELEMENT service-ref (#PCDATA)>

<!-- manager-name\u5c5e\u6027\u306f\u3001service-ref\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u30b5\u30fc\u30d3\u30b9\u304c\u767b\u9332\u3055\u308c\u3066\u3044\u308b
manager\u8981\u7d20\u306ename\u5c5e\u6027\u3092\u6307\u5b9a\u3059\u308b\u3002
service-ref\u8981\u7d20\u306e\u89aa\u8981\u7d20\u306emanager\u306e\u5b50\u8981\u7d20\u306b\u5b58\u5728\u3057\u306a\u3044service\u8981\u7d20
\u3092\u53c2\u7167\u3059\u308b\u5834\u5408\u306b\u3001\u305d\u306eservice\u8981\u7d20\u306e\u89aa\u8981\u7d20\u3068\u306a\u3063\u3066\u3044\u308bmanager\u8981\u7d20\u306ename\u5c5e\u6027\u3092\u6307
\u5b9a\u3059\u308b\u3002\u540c\u3058manager\u8981\u7d20\u5185\u306eservice\u8981\u7d20\u3092\u53c2\u7167\u3059\u308b\u5834\u5408\u306b\u306f\u3001\u7701\u7565\u53ef\u80fd\u3067\u3042\u308b\u3002
-->
<!ATTLIST service-ref manager-name CDATA #IMPLIED>

<!-- object-def\u8981\u7d20\u306f\u3001request\u8981\u7d20\u3084response\u8981\u7d20\u3067\u4f7f\u7528\u3059\u308b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u3092\u5b9a\u7fa9\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
-->
<!ELEMENT object-def (constructor? | field* | attribute* | invoke*)*>

<!-- name\u5c5e\u6027\u306f\u3001object-def\u8981\u7d20\u3067\u5b9a\u7fa9\u3055\u308c\u308b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u3092\u53c2\u7167\u3059\u308b\u540d\u524d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST object-def name CDATA #REQUIRED>

<!-- code\u5c5e\u6027\u306f\u3001object-def\u8981\u7d20\u3067\u5b9a\u7fa9\u3055\u308c\u308b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306e\u30af\u30e9\u30b9\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST object-def code CDATA #REQUIRED>

<!-- ref\u5c5e\u6027\u306f\u3001object-def\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306e\u89aa\u5b9a\u7fa9\u3067\u3068\u306a\u308bobject-def\u8981\u7d20\u306ename\u5c5e\u6027\u306e\u5024\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST object-def ref CDATA #IMPLIED>
