dtd/nimbus-service/1.2.5/nimbus-service_1_0.dtd

<!--
This is the XML DTD for the Nimbus 1.0 deployment descriptor.
The DOCTYPE is:
  <!DOCTYPE server PUBLIC
      "-//Nimbus//DTD Nimbus 1.0//JA"
      "http://nimbus.sourceforge.jp/dtd/nimbus-service_1_0.dtd">

\u4f8b:
   <server>
      
      <ref-url>nimbus-service2.xml</ref-url>
      
      <manager-repository manager-name="Manager1">
         Repository1
      </manager-repository>
      
      <property-editors>
         <property-editor type="java.util.Properties">jp.ossc.nimbus.beans.PropertiesEditor</property-editor>
         <property-editor type="jp.ossc.nimbus.core.ServiceName">jp.ossc.nimbus.beans.ServiceNameEditor</property-editor>
      </property-editors>
      
      <default-log>
         <debug output="true"/>
         <information output="true"/>
         <warning output="false"/>
         <error output="true"/>
         <fatal output="true"/>
      </default-log>
     
     <server-property name="REMOTE_HOST_NAME">fuga</server-property>
      
      <log>FileLogger</log>
      
      <message manager-name="Manager2">Message</message>
      
      <manager name="Manager1" shutdown-hook="true">
         
         <repository>Repository1</repository>
         
         <log manager-name="Manager2">FileLogger2</log>
         
         <message>Message2</message>
         
         <manager-property name="HOME_URL">http://hoge.org</manager-property>
         
         <service code="jp.ossc.nimbus.service.repository.MBeanServerRepositoryService"
                  name="Repository1">
         </service>
         
         <service code="hoge.MyService" name="MyService">
            
            <field name="longValue">100</field>
            
            <attribute name="intValue">100</attribute>
            <attribute name="url">${HOME_URL}/index.html</attribute>
            <attribute name="boolValue" type="Boolean">true</attribute>
            <attribute name="MyService1ServiceName">#MyService1</attribute>
            <attribute name="MyService2">
                <service-ref>#MyService2</service-ref>
            </attribute>
            
            <optional-config>
               value1=a,value2=b,value3=c
            </optional-config>
            
            <depends>
               <service code="hoge.MyService2" name="MyService2"></service>
            </depends>
            <depends>MyService3</depends>
         </service>
         
        <service name="StringBuffer"
                 code="java.lang.StringBuffer">
            <constructor>
                <argument type="java.lang.String">hoge</argument>
            </constructor>
            <attribute name="CharAt[0]">f</attribute>
            <invoke name="append">
                <argument type="java.lang.Object">
                    <object code="java.util.Date"/>
                </argument>
            </invoke>
        </service>
        
        <service name="Map"
                 code="java.util.HashMap">
            <constructor>
                <argument type="int">10</argument>
            </constructor>
            <attribute name="A">
                <service-ref>#StringBuffer</service-ref>
            </attribute>
            <attribute name="B">
                <object code="java.lang.String">
                    <constructor>
                        <argument type="[C">a,b,c</argument>
                    </constructor>
                </object>
            </attribute>
            <depends>#StringBuffer</depends>
        </service>
        
      </manager>
   </server>

-->

<!-- server\u8981\u7d20\u306f\u3001\u30eb\u30fc\u30c8\u8981\u7d20\u3067\u3059\u3002
-->
<!ELEMENT server (ref-url* | manager-repository? | property-editors? | default-log? | log? | message? | server-property* | manager* | ifdef*)*>

<!-- ref-url\u8981\u7d20\u306f\u3001\u3053\u306e\u30d5\u30a1\u30a4\u30eb\u304c\u53c2\u7167\u3059\u308bservice.xml\u306eURL\u3092\u6307\u5b9a\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
depends\u8981\u7d20\u3084\u3001repository\u8981\u7d20\u306a\u3069\u3067\u3001\u53c2\u7167\u3059\u308bService\u306e\u540d\u524d\u3092\u6307\u5b9a\u3059\u308b\u4e8b\u304c\u53ef\u80fd
\u3067\u3059\u304c\u3001\u4ed6service.xml\u5185\u306b\u5b9a\u7fa9\u3055\u308c\u305fService\u3092\u53c2\u7167\u3059\u308b\u5834\u5408\u306b\u3001\u660e\u793a\u7684\u306b\u6307\u5b9a\u3092\u884c\u3046
\u4e8b\u304c\u3067\u304d\u307e\u3059\u3002
\u3053\u306e\u8981\u7d20\u3092\u6307\u5b9a\u3057\u305f\u5834\u5408\u306b\u306f\u3001\u3053\u306e\u30d5\u30a1\u30a4\u30eb\u5185\u3068\u53c2\u7167\u3059\u308b\u30d5\u30a1\u30a4\u30eb\u5185\u3068\u3067\u3001\u30b5\u30fc\u30d3\u30b9\u306e
\u4f9d\u5b58\u95a2\u4fc2\u306e\u30c1\u30a7\u30c3\u30af\u3092\u884c\u3044\u3001\u76f8\u4e92\u306b\u4f9d\u5b58\u3057\u3066\u3044\u308b\u5834\u5408\u3084\u3001\u4f9d\u5b58\u3059\u308b\u30b5\u30fc\u30d3\u30b9\u304c\u5b58\u5728\u3057\u306a
\u3044\u5834\u5408\u306a\u3069\u306f\u3001\u4f8b\u5916\u3092throw\u3057\u307e\u3059\u3002
\u3053\u306e\u8981\u7d20\u3092\u6307\u5b9a\u3057\u306a\u3044\u5834\u5408\u306b\u306f\u3001\u76f8\u4e92\u306b\u4f9d\u5b58\u3059\u308b\u30b5\u30fc\u30d3\u30b9\u306f\u3001\u8d77\u52d5\u304c\u4fdd\u8a3c\u3055\u308c\u307e\u305b\u3093\u3002
\u307e\u305f\u3001\u4f9d\u5b58\u3059\u308b\u30b5\u30fc\u30d3\u30b9\u304c\u5b58\u5728\u3057\u306a\u3044\u5834\u5408\u306f\u3001\u4f9d\u5b58\u3059\u308b\u30b5\u30fc\u30d3\u30b9\u304c\u8d77\u52d5\u3055\u308c\u308b\u307e\u3067\u3001
\u8a72\u5f53\u30b5\u30fc\u30d3\u30b9\u304c\u8d77\u52d5\u3055\u308c\u307e\u305b\u3093\u3002
\u3053\u306e\u8981\u7d20\u306e\u5185\u5bb9\u306b\u6307\u5b9a\u3057\u305f\u6587\u5b57\u5217\u306f\u3001\u4ee5\u4e0b\u306e\u9806\u5e8f\u3067\u691c\u7d22\u3055\u308c\u307e\u3059\u3002
 (1)\u7d76\u5bfeURL
 (2)\u3053\u306e\u8981\u7d20\u304c\u6307\u5b9a\u3055\u308c\u3066\u3044\u308b\u30d5\u30a1\u30a4\u30eb\u304b\u3089\u306e\u76f8\u5bfe\u30d1\u30b9
 (3)\u30ed\u30fc\u30ab\u30eb\u30d5\u30a1\u30a4\u30eb\u30d1\u30b9
 (4)nimbus.jar\u3092\u30ed\u30fc\u30c9\u3057\u305f\u30af\u30e9\u30b9\u30ed\u30fc\u30c0\u306e\u30ea\u30bd\u30fc\u30b9
-->
<!ELEMENT ref-url (#PCDATA)>

<!-- manager-repository\u8981\u7d20\u306f\u3001server\u8981\u7d20\u3067\u69cb\u6210\u3055\u308c\u308bServiceManagerFactory\u306b\u3001
manager\u8981\u7d20\u3067\u69cb\u6210\u3055\u308c\u308bServiceManager\u3092\u683c\u7d0d\u3059\u308bRepository\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002

\u3053\u306e\u8981\u7d20\u306e\u5185\u5bb9\u306b\u3001Repository\u306e\u540d\u524d\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
\u6307\u5b9a\u3057\u306a\u3044\u5834\u5408\u306b\u306f\u3001\u30c7\u30d5\u30a9\u30eb\u30c8\u306eRepository\u304c\u4f7f\u7528\u3055\u308c\u307e\u3059\u3002
ServiceManagerFactory\u306b\u3001Map\u5b9f\u88c5\u306eRepository\u304c\u751f\u6210\u3055\u308c\u307e\u3059\u3002\u3053\u306eRepository\u306f\u3001
static\u306a\u9818\u57df\u3067\u4fdd\u6301\u3055\u308c\u308b\u306e\u3067\u3001VM\u5185\u306b\uff11\u3064\u3057\u304b\u8a2d\u5b9a\u3067\u304d\u307e\u305b\u3093\u3002\u4ed6service.xml\u5185\u306b\u3082
\u3053\u306e\u8981\u7d20\u3092\u5b9a\u7fa9\u3057\u305f\u5834\u5408\u306b\u306f\u3001\u3069\u306eRepository\u304c\u9069\u7528\u3055\u308c\u308b\u304b\u306f\u4fdd\u8a3c\u3055\u308c\u307e\u305b\u3093\u3002

\u4f8b:
   <manager-repository manager-name="Manager1">
      MBeanServerRepository
   </manager-repository>
-->
<!ELEMENT manager-repository (#PCDATA)>

<!-- manager-name\u5c5e\u6027\u306f\u3001manager-repository\u8981\u7d20\u3067\u5b9a\u7fa9\u3055\u308c\u308bRepository\u306e\u767b\u9332\u5148\u3068
\u306a\u308bServiceManager\u306e\u540d\u524d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
\u3053\u306emanager-name\u5c5e\u6027\u3092\u7701\u7565\u3059\u308b\u3068\u3001name\u5c5e\u6027\u3092\u7701\u7565\u3057\u305fmanager\u8981\u7d20\u306eServiceManager
\u306b\u767b\u9332\u3055\u308c\u305fRepository\u3068\u307f\u306a\u3057\u307e\u3059\u3002
-->
<!ATTLIST manager-repository manager-name CDATA #IMPLIED>

<!-- property-editors\u8981\u7d20\u306f\u3001service\u8981\u7d20\u306e\u5b50\u8981\u7d20attribute\u8981\u7d20\u306e\u5185\u5bb9\u3092\u30b5\u30fc\u30d3\u30b9\u306b\u8a2d\u5b9a\u3059\u308bjava.beans.PropertyEditor\u3092\u5b9a\u7fa9\u3059\u308bproperty-editor\u8981\u7d20\u306e\u96c6\u5408\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ELEMENT property-editors (property-editor+ | ifdef*)*>

<!-- property-editor\u8981\u7d20\u306f\u3001service\u8981\u7d20\u306e\u5b50\u8981\u7d20attribute\u8981\u7d20\u306e\u5185\u5bb9\u3092\u30b5\u30fc\u30d3\u30b9\u306b\u8a2d\u5b9a\u3059\u308bjava.beans.PropertyEditor\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
type\u5c5e\u6027\u3067\u3001attribute\u8981\u7d20\u306etype\u5c5e\u6027\u306b\u5bfe\u5fdc\u3059\u308b\u30af\u30e9\u30b9\u540d\u3092\u5b8c\u5168\u4fee\u98fe\u30af\u30e9\u30b9\u540d\u3067\u6307\u5b9a\u3057\u307e\u3059\u3002
\u307e\u305f\u3001\u5185\u5bb9\u306b\u3001\u305d\u306e\u578b\u306e\u5024\u3092\u7de8\u96c6\u3059\u308bjava.beans.PropertyEditor\u306e\u5b9f\u88c5\u30af\u30e9\u30b9\u3092\u5b8c\u5168\u4fee\u98fe\u30af\u30e9\u30b9\u540d\u3067\u6307\u5b9a\u3057\u307e\u3059\u3002

\u4f8b:
   <property-editors>
      <property-editor type="java.util.Properties">jp.ossc.nimbus.beans.PropertiesEditor</property-editor>
      <property-editor type="jp.ossc.nimbus.core.ServiceName">jp.ossc.nimbus.beans.ServiceNameEditor</property-editor>
   </property-editors>
-->
<!ELEMENT property-editor (#PCDATA)>

<!-- type\u5c5e\u6027\u306f\u3001property-editor\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308bjava.beans.PropertyEditor\u304c\u7de8\u96c6\u3059\u308bBean\u5c5e\u6027\u306e\u578b\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
-->
<!ATTLIST property-editor type CDATA #REQUIRED>

<!-- server-property\u8981\u7d20\u306f\u3001service\u8981\u7d20\u306e\u5b50\u8981\u7d20attribute\u306e\u5185\u5bb9\u3067${\u30d7\u30ed\u30d1\u30c6\u30a3\u540d}\u3067\u53c2\u7167\u3067\u304d\u308b\u74b0\u5883\u5909\u6570\u30d7\u30ed\u30d1\u30c6\u30a3\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002

\u4f8b:
   <server-property name="hoge">fuga</server-property>
-->
<!ELEMENT server-property (#PCDATA)>

<!-- name\u5c5e\u6027\u306f\u3001service\u8981\u7d20\u306e\u5b50\u8981\u7d20attribute\u306e\u5185\u5bb9\u3067${\u30d7\u30ed\u30d1\u30c6\u30a3\u540d}\u3067\u53c2\u7167\u3067\u304d\u308b\u74b0\u5883\u5909\u6570\u30d7\u30ed\u30d1\u30c6\u30a3\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST server-property name CDATA #REQUIRED>

<!-- manager\u8981\u7d20\u306f\u3001ServerManager\u3092\u69cb\u6210\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
-->
<!ELEMENT manager (repository? | log? | message? | manager-property* | service* | ifdef*)*>

<!-- name\u5c5e\u6027\u306f\u3001manager\u8981\u7d20\u3067\u69cb\u6210\u3055\u308c\u308bServiceManager\u306e\u540d\u524d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
ServiceManager\u3092\u8907\u6570\u751f\u6210\u3059\u308b\u5834\u5408\u306b\u306f\u3001name\u5c5e\u6027\u3067\u4e00\u610f\u306e\u540d\u524d\u3092\u6307\u5b9a\u3059\u308b\u5fc5\u8981\u304c\u3042\u308a
\u307e\u3059\u3002\u4f46\u3057\u3001\u540c\u3058\u30d5\u30a1\u30a4\u30eb\u307e\u305f\u306f\u3001\u5225\u306e\u30d5\u30a1\u30a4\u30eb\u306b\u540c\u3058name\u5c5e\u6027\u3092\u6301\u3063\u305fmanager\u8981\u7d20\u3092
\u6307\u5b9a\u3059\u308b\u4e8b\u3082\u3067\u304d\u307e\u3059\u3002\u305d\u306e\u5834\u5408\u3001\uff11\u3064\u306eServiceManager\u3068\u307f\u306a\u3055\u308c\u307e\u3059\u3002
ServiceManager\u3092\u8907\u6570\u751f\u6210\u3057\u306a\u3044\u5834\u5408\u306b\u306f\u3001name\u8981\u7d20\u306f\u7701\u7565\u53ef\u80fd\u3067\u3059\u3002\u7701\u7565\u3057\u305f\u5834\u5408\u3001
ServiceManager\u306e\u540d\u524d\u306f"Nimbus"\u3068\u306a\u308a\u307e\u3059\u304c\u3001\u540d\u524d\u6307\u5b9a\u306a\u3057\u3067
ServiceManagerFactory#findManager()\u3067\u53d6\u5f97\u3059\u308b\u4e8b\u304c\u3067\u304d\u307e\u3059\u3002
-->
<!ATTLIST manager name ID #IMPLIED>

<!-- shutdown-hook\u5c5e\u6027\u306f\u3001manager\u8981\u7d20\u3067\u69cb\u6210\u3055\u308c\u308bServiceManager\u306b\u3001ShutdownHook
\u3092\u8a2d\u5b9a\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
true\u3092\u8a2d\u5b9a\u3057\u305f\u5834\u5408\u306f\u3001JVM\u306e\u7d42\u4e86\u3068\u540c\u6642\u306b\u3001ServiceManager#destroy()\u304c\u547c\u3073\u51fa\u3055\u308c\u3066
\u7d42\u4e86\u51e6\u7406\u304c\u884c\u308f\u308c\u307e\u3059\u3002
shutdown-hook\u8981\u7d20\u306f\u7701\u7565\u53ef\u80fd\u3067\u3001\u7701\u7565\u3057\u305f\u5834\u5408\u306f\u3001false\u3002
-->
<!ATTLIST manager shutdown-hook (true|false) "false">

<!-- repository\u8981\u7d20\u306f\u3001service\u8981\u7d20\u306b\u3088\u3063\u3066\u767b\u9332\u3059\u308bService\u3092\u683c\u7d0d\u3059\u308bRepository\u3092
\u5b9a\u7fa9\u3057\u307e\u3059\u3002

repository\u8981\u7d20\u306e\u5185\u5bb9\u306b\u3001Repository\u306e\u540d\u524d\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
\u6307\u5b9a\u3057\u306a\u3044\u5834\u5408\u306b\u306f\u3001\u30c7\u30d5\u30a9\u30eb\u30c8\u306eRepository\u304c\u4f7f\u7528\u3055\u308c\u3001\u5404ServiceManager\u5358\u4f4d\u306b\u3001
Map\u5b9f\u88c5\u306eRepository\u304c\u751f\u6210\u3055\u308c\u307e\u3059\u3002

\u4f8b:
   <repository manager-name="Manager1">MBeanServerRepository</repository>
-->
<!ELEMENT repository (#PCDATA)>

<!-- manager-name\u5c5e\u6027\u306f\u3001repository\u8981\u7d20\u3067\u5b9a\u7fa9\u3055\u308c\u308bRepository\u306e\u767b\u9332\u5148\u3068\u306a\u308b
ServiceManager\u306e\u540d\u524d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
\u3053\u306emanager-name\u5c5e\u6027\u3092\u7701\u7565\u3059\u308b\u3068\u3001\u3053\u306erepository\u8981\u7d20\u306e\u89aa\u8981\u7d20\u306emanager\u8981\u7d20\u304c\u8868\u3059
ServiceManager\u306b\u767b\u9332\u3055\u308c\u305fRepository\u3068\u307f\u306a\u3057\u307e\u3059\u3002
-->
<!ATTLIST repository manager-name CDATA #IMPLIED>

<!-- log\u8981\u7d20\u306f\u3001server\u8981\u7d20\u3067\u69cb\u6210\u3055\u308c\u308bServiceManagerFactory\u3084\u3001manager\u8981\u7d20\u3067
\u69cb\u6210\u3055\u308c\u308bServiceManager\u3067\u4f7f\u7528\u3059\u308bLogger\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002

\u3053\u306e\u8981\u7d20\u306e\u5185\u5bb9\u306b\u3001Logger\u306e\u540d\u524d\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
\u6307\u5b9a\u3057\u306a\u3044\u5834\u5408\u306b\u306f\u3001\u30c7\u30d5\u30a9\u30eb\u30c8\u306eLogger\u304c\u4f7f\u7528\u3055\u308c\u307e\u3059\u3002\u30c7\u30d5\u30a9\u30eb\u30c8\u306eLogger\u306f\u3001
\u6a19\u6e96\u51fa\u529b\u3078\u306e\u30e1\u30c3\u30bb\u30fc\u30b8\u306e\u307f\u51fa\u529b\u3067\u304d\u307e\u3059\u3002

\u4f8b:
   <log manager-name="Manager1">
      FileLogger
   </log>
-->
<!ELEMENT log (#PCDATA)>

<!-- manager-name\u5c5e\u6027\u306f\u3001log\u8981\u7d20\u306e\u5185\u5bb9\u3067\u5b9a\u7fa9\u3055\u308c\u308bLogger\u306e\u767b\u9332\u5148\u3068\u306a\u308b
ServiceManager\u306e\u540d\u524d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
\u3053\u306emanager-name\u5c5e\u6027\u3092\u7701\u7565\u3059\u308b\u3068\u3001name\u5c5e\u6027\u3092\u7701\u7565\u3057\u305fmanager\u8981\u7d20\u306eServiceManager
\u306b\u767b\u9332\u3055\u308c\u305fLogger\u3068\u307f\u306a\u3057\u307e\u3059\u3002
-->
<!ATTLIST log manager-name CDATA #IMPLIED>

<!-- message\u8981\u7d20\u306f\u3001server\u8981\u7d20\u3067\u69cb\u6210\u3055\u308c\u308bServiceManagerFactory\u3084\u3001manager\u8981\u7d20\u3067
\u69cb\u6210\u3055\u308c\u308bServiceManager\u3067\u4f7f\u7528\u3059\u308bMessageRecordFactory\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002

\u3053\u306e\u8981\u7d20\u306e\u5185\u5bb9\u306b\u3001MessageRecordFactory\u306e\u540d\u524d\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
\u6307\u5b9a\u3057\u306a\u3044\u5834\u5408\u306b\u306f\u3001\u30c7\u30d5\u30a9\u30eb\u30c8\u306eMessageRecordFactory\u304c\u4f7f\u7528\u3055\u308c\u307e\u3059\u3002
\u30c7\u30d5\u30a9\u30eb\u30c8\u306eMessageRecordFactory\u306f\u3001\u30b7\u30b9\u30c6\u30e0\u30e1\u30c3\u30bb\u30fc\u30b8\u306e\u307f\u53d6\u5f97\u3067\u304d\u307e\u3059\u3002

\u4f8b:
   <message manager-name="Manager1">
      Message
   </message>
-->
<!ELEMENT message (#PCDATA)>

<!-- manager-name\u5c5e\u6027\u306f\u3001message\u8981\u7d20\u306e\u5185\u5bb9\u3067\u5b9a\u7fa9\u3055\u308c\u308bMessageRecordFactory\u306e
\u767b\u9332\u5148\u3068\u306a\u308bServiceManager\u306e\u540d\u524d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
\u3053\u306emanager-name\u5c5e\u6027\u3092\u7701\u7565\u3059\u308b\u3068\u3001name\u5c5e\u6027\u3092\u7701\u7565\u3057\u305fmanager\u8981\u7d20\u306eServiceManager
\u306b\u767b\u9332\u3055\u308c\u305fMessageRecordFactory\u3068\u307f\u306a\u3057\u307e\u3059\u3002
-->
<!ATTLIST message manager-name CDATA #IMPLIED>

<!-- manager-property\u8981\u7d20\u306f\u3001service\u8981\u7d20\u306e\u5b50\u8981\u7d20attribute\u306e\u5185\u5bb9\u3067${\u30d7\u30ed\u30d1\u30c6\u30a3\u540d}\u3067\u53c2\u7167\u3067\u304d\u308b\u74b0\u5883\u5909\u6570\u30d7\u30ed\u30d1\u30c6\u30a3\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002

\u4f8b:
   <manager-property name="hoge">fuga</manager-property>
-->
<!ELEMENT manager-property (#PCDATA)>

<!-- name\u5c5e\u6027\u306f\u3001service\u8981\u7d20\u306e\u5b50\u8981\u7d20attribute\u306e\u5185\u5bb9\u3067${\u30d7\u30ed\u30d1\u30c6\u30a3\u540d}\u3067\u53c2\u7167\u3067\u304d\u308b\u74b0\u5883\u5909\u6570\u30d7\u30ed\u30d1\u30c6\u30a3\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST manager-property name CDATA #REQUIRED>

<!-- default-log\u8981\u7d20\u306f\u3001\u30b5\u30fc\u30d3\u30b9\u57fa\u76e4\u5168\u4f53\u3067\u4f7f\u7528\u3059\u308b\u30c7\u30d5\u30a9\u30eb\u30c8\u306eLogger\u3067
\u51fa\u529b\u3055\u308c\u308b\u30b7\u30b9\u30c6\u30e0\u30ed\u30b0\u3092\u30ed\u30b0\u30ec\u30d9\u30eb\u6bce\u306b\u51fa\u529b\u306e\u8a2d\u5b9a\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
\u3053\u306e\u8981\u7d20\u3092\u6307\u5b9a\u3057\u306a\u3044\u5834\u5408\u306f\u3001Debug\u30ed\u30b0\u4ee5\u5916\u306f\u51fa\u529b\u3055\u308c\u308b\u8a2d\u5b9a\u3068\u306a\u308a\u307e\u3059\u3002

\u4f8b:
   <default-log>
      <debug output="true"/>
      <information output="true"/>
      <warning output="false"/>
      <error output="true"/>
      <fatal output="true"/>
   </default-log>
-->
<!ELEMENT default-log (debug?, information?, warning?, error?, fatal?)>

<!-- debug\u8981\u7d20\u306f\u3001log\u8981\u7d20\u3067\u69cb\u6210\u3055\u308c\u308bLogger\u3067\u51fa\u529b\u3055\u308c\u308bDebug\u30ed\u30b0\u306e\u51fa\u529b\u306e\u8a2d\u5b9a\u3092
\u5b9a\u7fa9\u3057\u307e\u3059\u3002
\u3053\u306e\u8981\u7d20\u3092\u6307\u5b9a\u3057\u306a\u3044\u5834\u5408\u306f\u3001Debug\u30ed\u30b0\u306f\u51fa\u529b\u3055\u308c\u307e\u305b\u3093\u3002
-->
<!ELEMENT debug EMPTY>

<!-- output\u5c5e\u6027\u306f\u3001log\u8981\u7d20\u306e\u5b50\u8981\u7d20debug\u3001informantion\u3001warning\u3001error\u3001fatal\u8981\u7d20
\u3067\u5b9a\u7fa9\u3055\u308c\u308bLogger\u306e\u51fa\u529b\u8a2d\u5b9a\u3067\u3001\u30ed\u30b0\u51fa\u529b\u3092\u884c\u3046\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
\u3053\u306eoutput\u5c5e\u6027\u3092\u7701\u7565\u3059\u308b\u3068\u3001\u30ed\u30b0\u306f\u51fa\u529b\u3055\u308c\u307e\u305b\u3093\u3002
-->
<!ATTLIST debug output (true|false) "false">
<!ATTLIST information output (true|false) "true">
<!ATTLIST warning output (true|false) "true">
<!ATTLIST error output (true|false) "true">
<!ATTLIST fatal output (true|false) "true">

<!-- information\u8981\u7d20\u306f\u3001log\u8981\u7d20\u3067\u69cb\u6210\u3055\u308c\u308bLogger\u3067\u51fa\u529b\u3055\u308c\u308bInformation\u30ed\u30b0\u306e\u51fa\u529b
\u306e\u8a2d\u5b9a\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
\u3053\u306e\u8981\u7d20\u3092\u6307\u5b9a\u3057\u306a\u3044\u5834\u5408\u306f\u3001Information\u30ed\u30b0\u306f\u51fa\u529b\u3055\u308c\u307e\u3059\u3002
-->
<!ELEMENT information EMPTY>

<!-- warning\u8981\u7d20\u306f\u3001log\u8981\u7d20\u3067\u69cb\u6210\u3055\u308c\u308bLogger\u3067\u51fa\u529b\u3055\u308c\u308bWarning\u30ed\u30b0\u306e\u51fa\u529b\u306e\u8a2d\u5b9a\u3092
\u5b9a\u7fa9\u3057\u307e\u3059\u3002
\u3053\u306e\u8981\u7d20\u3092\u6307\u5b9a\u3057\u306a\u3044\u5834\u5408\u306f\u3001Warning\u30ed\u30b0\u306f\u51fa\u529b\u3055\u308c\u307e\u3059\u3002
-->
<!ELEMENT warning EMPTY>

<!-- error\u8981\u7d20\u306f\u3001log\u8981\u7d20\u3067\u69cb\u6210\u3055\u308c\u308bLogger\u3067\u51fa\u529b\u3055\u308c\u308bError\u30ed\u30b0\u306e\u51fa\u529b\u306e\u8a2d\u5b9a\u3092\u5b9a\u7fa9
\u3057\u307e\u3059\u3002
\u3053\u306e\u8981\u7d20\u3092\u6307\u5b9a\u3057\u306a\u3044\u5834\u5408\u306f\u3001Error\u30ed\u30b0\u306f\u51fa\u529b\u3055\u308c\u307e\u3059\u3002
-->
<!ELEMENT error EMPTY>

<!-- fatal\u8981\u7d20\u306f\u3001log\u8981\u7d20\u3067\u69cb\u6210\u3055\u308c\u308bLogger\u3067\u51fa\u529b\u3055\u308c\u308bFatal\u30ed\u30b0\u306e\u51fa\u529b\u306e\u8a2d\u5b9a\u3092\u5b9a\u7fa9
\u3057\u307e\u3059\u3002
\u3053\u306e\u8981\u7d20\u3092\u6307\u5b9a\u3057\u306a\u3044\u5834\u5408\u306f\u3001Fatal\u30ed\u30b0\u306f\u51fa\u529b\u3055\u308c\u307e\u3059\u3002
-->
<!ELEMENT fatal EMPTY>

<!-- service\u8981\u7d20\u306f\u3001manager\u8981\u7d20\u3067\u69cb\u6210\u3055\u308c\u308bServiceManager\u306b\u767b\u9332\u3059\u308bService\u3092
\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ELEMENT service (service-property* | constructor? | field* | attribute* | optional-config? | invoke* | depends* | ifdef*)*>

<!-- code\u5c5e\u6027\u306f\u3001service\u8981\u7d20\u3067\u767b\u9332\u3059\u308bService\u306e\u5b9f\u88c5\u30af\u30e9\u30b9\u540d\u3092\u5b8c\u5168\u4fee\u98fe\u540d\u3067\u5b9a\u7fa9\u3057
\u307e\u3059\u3002
\u3053\u3053\u306b\u5b9a\u7fa9\u3067\u304d\u308b\u30af\u30e9\u30b9\u306f\u3001\u57fa\u672c\u7684\u306b\u5236\u9650\u306f\u3042\u308a\u307e\u305b\u3093\u304c\u3001\u30af\u30e9\u30b9\u306e\u5b9f\u88c5\u306b\u3088\u3063\u3066\u3001
\u52d5\u4f5c\u7684\u306a\u5236\u9650\u306f\u767a\u751f\u3057\u307e\u3059\u3002\u4ee5\u4e0b\u306b\u3001\u63a8\u5968\u3059\u308b\u5b9f\u88c5\u65b9\u6cd5\u306e\u9806\u3067\u3001\u8aac\u660e\u3057\u307e\u3059\u3002
(1)jp.ossc.nimbus.core.ServiceBase\u306e\u30b5\u30d6\u30af\u30e9\u30b9
  \u5f15\u6570\u306a\u3057\u306e\u30b3\u30f3\u30b9\u30c8\u30e9\u30af\u30bf\u3067\u751f\u6210\u3055\u308c\u307e\u3059\u3002
  \u30ed\u30fc\u30c9\u6642\u306b\u3001ServiceBaseSupport#createService()\u3001startService()\u3092\u547c\u3073\u51fa\u3057\u307e\u3059\u3002
  \u307e\u305f\u3001ServiceManager#create()\u3001start()\u3001stop()\u3001destroy()\u3092\u547c\u3073\u51fa\u3059\u3068\u3001
  ServiceManager\u306b\u767b\u9332\u3055\u308c\u3066\u3044\u308bService\u306e\u5bfe\u5fdc\u3059\u308b\u30e1\u30bd\u30c3\u30c9\u3092\u547c\u3073\u51fa\u3057\u307e\u3059\u3002
  ServiceBase\u306f\u3001JMX\u306b\u5bfe\u5fdc\u3057\u3066\u304a\u308ajp.ossc.nimbus.core.ServiceBaseMBean
  \u30a4\u30f3\u30bf\u30d5\u30a7\u30fc\u30b9\u3092MBean\u30a4\u30f3\u30bf\u30d5\u30a7\u30fc\u30b9\u3068\u3057\u3066\u6301\u3063\u3066\u307e\u3059\u3002
(2)jp.ossc.nimbus.core.FactoryServiceBase\u306e\u30b5\u30d6\u30af\u30e9\u30b9
  FactoryServiceBase\u306f\u3001ServiceBase\u306e\u30b5\u30d6\u30af\u30e9\u30b9\u3067\u3042\u308b\u305f\u3081\u3001(1)\u306b\u6e96\u62e0\u3057\u307e\u3059\u3002
  \u4f46\u3057\u3001ServiceManager#getServiceObject(String)\u3092\u547c\u3073\u51fa\u3055\u308c\u305f\u5834\u5408\u3001\u3053\u306e\u30af\u30e9\u30b9\u306e
  \u30a4\u30f3\u30b9\u30bf\u30f3\u30b9\u306f\u8fd4\u3055\u305a\u306b\u3001FactoryService#newInstance()\u3067\u751f\u6210\u3055\u308c\u308b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8
  \u3092\u8fd4\u3057\u307e\u3059\u3002
(3)jp.ossc.nimbus.core.ServiceBaseSupport\u30a4\u30f3\u30bf\u30d5\u30a7\u30fc\u30b9\u5b9f\u88c5\u30af\u30e9\u30b9
  \u5f15\u6570\u306a\u3057\u306e\u30b3\u30f3\u30b9\u30c8\u30e9\u30af\u30bf\u3067\u751f\u6210\u3055\u308c\u307e\u3059\u3002
  ServiceBase\u3092\u3053\u306e\u5b9f\u88c5\u30af\u30e9\u30b9\u306e\u30d7\u30ed\u30ad\u30b7\u3068\u3057\u3066\u751f\u6210\u3057\u3066\u3001ServiceManager\u306b\u767b\u9332\u3055\u308c
  \u307e\u3059\u3002
  \u30ed\u30fc\u30c9\u6642\u306b\u3001Service#createService()\u3001startService()\u3092\u547c\u3073\u51fa\u3057\u307e\u3059\u3002
  \u307e\u305f\u3001ServiceManager#create()\u3001start()\u3001stop()\u3001destroy()\u3092\u547c\u3073\u51fa\u3059\u3068\u3001
  ServiceManager\u306b\u767b\u9332\u3055\u308c\u3066\u3044\u308bServiceBase\u30d7\u30ed\u30ad\u30b7\u3092\u901a\u3057\u3066\u3001
  ServiceBaseSupport#createService()\u3001startService()\u3001stopService()\u3001
  destroyService()\u3092\u547c\u3073\u51fa\u3057\u307e\u3059\u3002
  \u30d7\u30ed\u30ad\u30b7\u3067\u3042\u308bServiceBase\u304c\u3001JMX\u306b\u5bfe\u5fdc\u3057\u3066\u3044\u308b\u305f\u3081\u3001ServiceManager\u306b\u767b\u9332\u3055\u308c
  \u308b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306f\u3001jp.ossc.nimbus.core.ServiceBaseMBean\u30a4\u30f3\u30bf\u30d5\u30a7\u30fc\u30b9\u3092
  MBean\u30a4\u30f3\u30bf\u30d5\u30a7\u30fc\u30b9\u3068\u3057\u3066\u6301\u3061\u307e\u3059\u3002
  \u307e\u305f\u3001FactoryService\u30a4\u30f3\u30bf\u30d5\u30a7\u30fc\u30b9\u3082\u5b9f\u88c5\u3059\u308c\u3070\u3001(2)\u306b\u6e96\u62e0\u3057\u305f\u52d5\u4f5c\u3092\u3057\u307e\u3059\u3002
(4)jp.ossc.nimbus.core.Service\u30a4\u30f3\u30bf\u30d5\u30a7\u30fc\u30b9\u5b9f\u88c5\u30af\u30e9\u30b9
  \u5f15\u6570\u306a\u3057\u306e\u30b3\u30f3\u30b9\u30c8\u30e9\u30af\u30bf\u3067\u751f\u6210\u3055\u308c\u307e\u3059\u3002
  \u30ed\u30fc\u30c9\u6642\u306b\u3001Service#setServiceName()\u3001create()\u3001start()\u3092\u547c\u3073\u51fa\u3057\u307e\u3059\u3002
  \u307e\u305f\u3001ServiceManager#create()\u3001start()\u3001stop()\u3001destroy()\u3092\u547c\u3073\u51fa\u3059\u3068\u3001
  Service\u306e\u5bfe\u5fdc\u3059\u308b\u30e1\u30bd\u30c3\u30c9\u3092\u547c\u3073\u51fa\u3057\u307e\u3059\u3002
  Service#getState()\u306b\u5bfe\u3059\u308b\u5b9f\u88c5\u306e\u8cac\u4efb\u3092\u8ca0\u3046\u5fc5\u8981\u304c\u3042\u308a\u307e\u3059\u3002
  JMX\u306b\u306f\u3001\u5bfe\u5fdc\u3057\u3066\u3044\u307e\u305b\u3093\u3002\u5bfe\u5fdc\u3059\u308b\u305f\u3081\u306b\u306f\u3001\u72ec\u81ea\u306b\u5b9f\u88c5\u3059\u308b\u5fc5\u8981\u304c\u3042\u308a\u307e\u3059\u3002
(5)\u4e0a\u8a18\u4ee5\u5916\u306e\u30af\u30e9\u30b9
  \u5f15\u6570\u306a\u3057\u306e\u30b3\u30f3\u30b9\u30c8\u30e9\u30af\u30bf\u3067\u751f\u6210\u3055\u308c\u307e\u3059\u3002
  Service\u30a4\u30f3\u30bf\u30d5\u30a7\u30fc\u30b9\u3092\u5b9f\u88c5\u3057\u3066\u3044\u306a\u3044\u5834\u5408\u306f\u3001Service\u306e\u30d7\u30ed\u30ad\u30b7\u3092\u751f\u6210\u3057\u3066\u3001
  ServiceManager\u306b\u767b\u9332\u3055\u308c\u307e\u3059\u3002
  Service#create()\u3001start()\u3001stop()\u3001destroy()\u3068\u540c\u3058\u30b7\u30b0\u30cb\u30c1\u30e3\u306e\u30e1\u30bd\u30c3\u30c9\u3092\u6301\u3063
  \u3066\u3044\u308b\u5834\u5408\u306f\u3001(1)\u3068\u540c\u3058\u52d5\u4f5c\u3092\u3057\u307e\u3059\u3002
  \u305d\u308c\u4ee5\u5916\u306e\u5834\u5408\u306f\u3001ServiceManager#create()\u3092\u547c\u3073\u51fa\u3059\u3068\u3001ServiceManager\u3078\u81ea\u5206\u81ea
  \u8eab\u3092\u767b\u9332\u3059\u308b\u4e8b\u3068\u3001ServiceManager#destroy()\u3092\u547c\u3073\u51fa\u3059\u3068\u3001ServiceManager\u304b\u3089\u81ea
  \u5206\u81ea\u8eab\u3092\u524a\u9664\u3059\u308b\u3002\u307e\u305f\u3001Service#getState()\u306f\u3001CREATED\u3001DESTROYED\u4ee5\u5916\u306e\u72b6\u614b\u306f
  UNKNOWN\u3068\u306a\u308a\u307e\u3059\u3002
-->
<!ATTLIST service code CDATA #IMPLIED>

<!-- name\u5c5e\u6027\u306f\u3001service\u8981\u7d20\u3067\u767b\u9332\u3059\u308bService\u306e\u540d\u524d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
\u3053\u3053\u3067\u6307\u5b9a\u3057\u305f\u540d\u524d\u3092\u3001ServiceManager#getService(String)\u306e\u5f15\u6570\u306b\u6307\u5b9a\u3059\u308b\u4e8b\u3067\u3001
\u3053\u306eService\u3092\u53d6\u5f97\u3067\u304d\u307e\u3059\u3002
\u307e\u305f\u3001ServiceManager#getServiceObject(String)\u3092\u547c\u3076\u3068\u3001code\u5c5e\u6027\u3067\u6307\u5b9a\u3057\u305f\u30af\u30e9\u30b9
\u306e\u30a4\u30f3\u30b9\u30bf\u30f3\u30b9\u304c\u53d6\u5f97\u3067\u304d\u307e\u3059\u3002\u4f46\u3057\u3001\u767b\u9332\u3059\u308bService\u304cFactoryService\u30a4\u30f3\u30bf\u30d5\u30a7\u30fc
\u30b9\u3092\u5b9f\u88c5\u3057\u3066\u3044\u308b\u5834\u5408\u306f\u3001FactoryService#newInstance()\u3067\u751f\u6210\u3055\u308c\u305f\u30a4\u30f3\u30b9\u30bf\u30f3\u30b9\u304c
\u53d6\u5f97\u3055\u308c\u307e\u3059\u3002
-->
<!ATTLIST service name CDATA #IMPLIED>

<!-- initState\u5c5e\u6027\u306f\u3001service\u8981\u7d20\u3067\u767b\u9332\u3059\u308bService\u306e\u521d\u671f\u72b6\u614b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST service initState (Created|Started) "Started">

<!-- instance\u5c5e\u6027\u306f\u3001service\u8981\u7d20\u3067\u767b\u9332\u3059\u308bService\u306e\u30a4\u30f3\u30b9\u30bf\u30f3\u30b9\u751f\u6210\u7a2e\u5225\u3092
\u5b9a\u7fa9\u3057\u307e\u3059\u3002
\u30c7\u30d5\u30a9\u30eb\u30c8\u5024\u306f\u3001singleton\u3067\u3001\u30a4\u30f3\u30b9\u30bf\u30f3\u30b9\u306f\uff11\u3064\u3060\u3051\u751f\u6210\u3055\u308c\u767b\u9332\u3055\u308c\u307e\u3059\u3002
factory\u3092\u8a2d\u5b9a\u3059\u308b\u3068\u3001ServiceManager#getServiceObject(String)\u3092\u547c\u3073\u51fa\u3059\u6bce\u306b
\u65b0\u3057\u3044\u30a4\u30f3\u30b9\u30bf\u30f3\u30b9\u3092\u751f\u6210\u3057\u3066\u8fd4\u3057\u307e\u3059\u3002\u307e\u305f\u3001ServiceManager#getService(String)
\u306e\u623b\u308a\u5024\u306f\u3001FactoryService\u306b\u306a\u308a\u307e\u3059\u3002
threadlocal\u3092\u8a2d\u5b9a\u3059\u308b\u3068\u3001ServiceManager#getServiceObject(String)\u3092\u547c\u3073\u51fa\u3059
\u30b9\u30ec\u30c3\u30c9\u6bce\u306b\u3001\u30a4\u30f3\u30b9\u30bf\u30f3\u30b9\u3092\u751f\u6210\u3057\u3066\u8fd4\u3057\u307e\u3059\u3002
\u307e\u305f\u3001ServiceManager#getService(String)\u306e\u623b\u308a\u5024\u306f\u3001FactoryService\u306b\u306a\u308a\u307e\u3059\u3002
template\u3092\u8a2d\u5b9a\u3059\u308b\u3068\u3001\u30b5\u30fc\u30d3\u30b9\u5b9a\u7fa9\u306e\u30c6\u30f3\u30d7\u30ec\u30fc\u30c8\u5b9a\u7fa9\u3068\u306a\u308a\u3001\u3053\u306e\u5b9a\u7fa9\u81ea\u4f53\u3067\u306f\u3001
\u30b5\u30fc\u30d3\u30b9\u306f\u767b\u9332\u3055\u308c\u305a\u3001template\u5c5e\u6027\u3067\u3053\u306e\u5b9a\u7fa9\u3092\u30c6\u30f3\u30d7\u30ec\u30fc\u30c8\u3068\u3057\u3066\u53d6\u308a\u8fbc\u3080\u4e8b\u304c
\u3067\u304d\u307e\u3059\u3002\u4f46\u3057\u3001\u30c6\u30f3\u30d7\u30ec\u30fc\u30c8\u3068\u3057\u3066\u9069\u7528\u3055\u308c\u308b\u306e\u306f\u3001\u3053\u306e\u8981\u7d20\u306e\u5c5e\u6027\u4ee5\u5916\u3067\u3059\u3002
-->
<!ATTLIST service instance (singleton|factory|threadlocal|template) "singleton">

<!-- management\u5c5e\u6027\u306f\u3001service\u8981\u7d20\u306einstance\u5c5e\u6027\u306bfactory\u307e\u305f\u306fthreadlocal\u3092
\u6307\u5b9a\u3057\u305f\u5834\u5408\u306b\u3001\u751f\u6210\u3055\u308c\u305f\u30a4\u30f3\u30b9\u30bf\u30f3\u30b9\u3092ServiceManager\u306b\u767b\u9332\u3059\u308b\u304b\u3069\u3046\u304b\u3092
\u5b9a\u7fa9\u3057\u307e\u3059\u3002
\u30c7\u30d5\u30a9\u30eb\u30c8\u5024\u306f\u3001false\u3067\u3001\u751f\u6210\u3055\u308c\u305f\u30a4\u30f3\u30b9\u30bf\u30f3\u30b9\u306fServiceManager\u306b\u767b\u9332\u3055\u308c\u307e\u305b\u3093\u3002
true\u3092\u8a2d\u5b9a\u3059\u308b\u3068\u3001\u751f\u6210\u3055\u308c\u305f\u30a4\u30f3\u30b9\u30bf\u30f3\u30b9\u306fServiceManager\u306b\u767b\u9332\u3055\u308c\u307e\u3059\u3002
\u751f\u6210\u3055\u308c\u305f\u30a4\u30f3\u30b9\u30bf\u30f3\u30b9\u306e\u30b5\u30fc\u30d3\u30b9\u540d\u306f\u3001\u3053\u306eservice\u8981\u7d20\u306ename\u5c5e\u6027\u306e\u5024\u306b\u3001\u901a\u756a\u3092
\u4ed8\u3051\u305f\u540d\u524d\u306b\u306a\u308a\u307e\u3059\u3002
-->
<!ATTLIST service management (true|false) "false">

<!-- createTemplate\u5c5e\u6027\u306f\u3001service\u8981\u7d20\u306einstance\u5c5e\u6027\u306bfactory\u307e\u305f\u306fthreadlocal\u3092
\u6307\u5b9a\u3057\u305f\u5834\u5408\u306b\u3001\u30d5\u30a1\u30af\u30c8\u30ea\u306e\u958b\u59cb\u6642\u306b\u30d5\u30a1\u30af\u30c8\u30ea\u304c\u751f\u6210\u3059\u308b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u3092\u751f\u6210\u3057\u3066
\u307f\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
\u30c7\u30d5\u30a9\u30eb\u30c8\u5024\u306f\u3001true\u3067\u3001\u30d5\u30a1\u30af\u30c8\u30ea\u306e\u958b\u59cb\u6642\u306b\u30d5\u30a1\u30af\u30c8\u30ea\u304c\u751f\u6210\u3059\u308b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306e\u751f\u6210\u3092\u8a66\u307f\u307e\u3059\u3002
-->
<!ATTLIST service createTemplate (true|false) "true">

<!-- template\u5c5e\u6027\u306f\u3001\u3053\u306eservice\u8981\u7d20\u3067\u30c6\u30f3\u30d7\u30ec\u30fc\u30c8\u3068\u3057\u3066\u53c2\u7167\u3059\u308bservice\u8981\u7d20\u306e
\u30b5\u30fc\u30d3\u30b9\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST service template CDATA #IMPLIED>

<!-- service-property\u8981\u7d20\u306f\u3001service\u8981\u7d20\u306e\u5b50\u8981\u7d20attribute\u306e\u5185\u5bb9\u3067${\u30d7\u30ed\u30d1\u30c6\u30a3\u540d}\u3067\u53c2\u7167\u3067\u304d\u308b\u74b0\u5883\u5909\u6570\u30d7\u30ed\u30d1\u30c6\u30a3\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002

\u4f8b:
   <service-property name="hoge">fuga</service-property>
-->
<!ELEMENT service-property (#PCDATA)>

<!-- name\u5c5e\u6027\u306f\u3001service\u8981\u7d20\u306e\u5b50\u8981\u7d20attribute\u306e\u5185\u5bb9\u3067${\u30d7\u30ed\u30d1\u30c6\u30a3\u540d}\u3067\u53c2\u7167\u3067\u304d\u308b\u74b0\u5883\u5909\u6570\u30d7\u30ed\u30d1\u30c6\u30a3\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST service-property name CDATA #REQUIRED>

<!-- extends\u5c5e\u6027\u306f\u3001\u89aa\u8981\u7d20\u3067\u3042\u308bservice\u8981\u7d20\u306einstance\u5c5e\u6027\u304c"template"\u306e\u5834\u5408\u306b\u3001\u3053\u306e\u30c6\u30f3\u30d7\u30ec\u30fc\u30c8\u3092\u7d99\u627f\u3057\u305fservice\u8981\u7d20\u306b\u3053\u306e\u8981\u7d20\u3092\u7d99\u627f\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
\u30c7\u30d5\u30a9\u30eb\u30c8\u5024\u306f\u3001false\u3067\u3001\u7d99\u627f\u3055\u308c\u307e\u305b\u3093\u3002
-->
<!ATTLIST service-property extends (true|false) "false">

<!-- constructor\u8981\u7d20\u306f\u3001service\u8981\u7d20\u3067\u767b\u9332\u3059\u308bService\u3084object\u8981\u7d20\u3067\u751f\u6210\u3059\u308b
\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306e\u30b3\u30f3\u30b9\u30c8\u30e9\u30af\u30bf\u5c5e\u6027\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
constructor\u8981\u7d20\u306e\u5b50\u8981\u7d20\u306bargument\u8981\u7d20\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002\u30c7\u30d5\u30a9\u30eb\u30c8\u30b3\u30f3\u30b9\u30c8\u30e9\u30af\u30bf\u4ee5\u5916
\u306e\u30b3\u30f3\u30b9\u30c8\u30e9\u30af\u30bf\u3092\u6307\u5b9a\u3057\u305f\u3044\u5834\u5408\u306b\u6307\u5b9a\u3057\u307e\u3059\u3002
Service\u306b\u306f\u3001\u8a72\u5f53\u3059\u308b\u30b3\u30f3\u30b9\u30c8\u30e9\u30af\u30bf\u3092\u5b9f\u88c5\u3057\u3066\u304a\u304f\u5fc5\u8981\u304c\u3042\u308a\u307e\u3059\u3002
-->
<!ELEMENT constructor (argument+ | invoke |static-invoke | static-field-ref | ifdef*)*>

<!-- argument\u8981\u7d20\u306f\u3001constructor\u8981\u7d20\u3067\u6307\u5b9a\u3059\u308b\u30b3\u30f3\u30b9\u30c8\u30e9\u30af\u30bf\u306e\u5f15\u6570\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
argument\u8981\u7d20\u306e\u5185\u5bb9\u306b\u3001\u5f15\u6570\u306e\u5024\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
\u5f15\u6570\u3068\u3057\u3066\u3001\u30b5\u30fc\u30d3\u30b9\u3092\u53c2\u7167\u3059\u308b\u6642\u306f\u3001service-ref\u8981\u7d20\u3002\u4efb\u610f\u306e\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u3092\u53c2\u7167
\u3059\u308b\u6642\u306f\u3001object\u8981\u7d20\u3092\u6307\u5b9a\u3067\u304d\u307e\u3059\u304c\u3001\u30b5\u30fc\u30d3\u30b9\u306e\u30b3\u30f3\u30b9\u30c8\u30e9\u30af\u30bf\u306e\u5f15\u6570\u3068\u3057\u3066\u5b9a\u7fa9
\u3059\u308b\u5834\u5408\u306b\u306f\u3001service-ref\u8981\u7d20\u306f\u6307\u5b9a\u3067\u304d\u307e\u305b\u3093\u3002
-->
<!ELEMENT argument (#PCDATA | service-ref | object | static-invoke | static-field-ref)*>

<!-- type\u5c5e\u6027\u306f\u3001argument\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u5f15\u6570\u306e\u578b\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
argument\u8981\u7d20\u306e\u5b50\u8981\u7d20\u306bservice-ref\u8981\u7d20\u3084object\u8981\u7d20\u3092\u5b9a\u7fa9\u3059\u308b\u5834\u5408\u3067\u3001\u5f15\u6570\u306e\u578b\u304c
\u305d\u308c\u3089\u306e\u8981\u7d20\u304c\u8868\u3059\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306e\u578b\u3068\u7b49\u3057\u3044\u5834\u5408\u306f\u3001\u7701\u7565\u53ef\u80fd\u3067\u3059\u3002
-->
<!ATTLIST argument type CDATA #IMPLIED>

<!-- valueType\u5c5e\u6027\u306f\u3001argument\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u5f15\u6570\u306e\u5b9f\u578b\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
\u5f15\u6570\u306e\u578b\u3068\u8a2d\u5b9a\u3057\u305f\u3044\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306e\u578b\u304c\u4ee3\u5165\u4e92\u63db\u306e\u95a2\u4fc2\u306b\u3042\u308a\u3001\u7b49\u3057\u3044\u578b\u3067\u306f\u306a\u3044
\u5834\u5408\u306b\u6307\u5b9a\u3057\u307e\u3059\u3002
-->
<!ATTLIST argument valueType CDATA #IMPLIED>

<!-- nullValue\u5c5e\u6027\u306f\u3001argument\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u5f15\u6570\u306e\u5024\u304cnull\u3067\u3042\u308b\u4e8b\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
argument\u8981\u7d20\u304c\u8868\u3059\u5024\u304cnull\u3067\u3042\u308b\u5834\u5408\u306b\u3001true\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
-->
<!ATTLIST argument nullValue (true|false) "false">

<!-- field\u8981\u7d20\u306f\u3001service\u8981\u7d20\u3067\u767b\u9332\u3059\u308bService\u306e\u30d5\u30a3\u30fc\u30eb\u30c9\u5c5e\u6027\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
field\u8981\u7d20\u306e\u5185\u5bb9\u306b\u3001\u5024\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002\u3053\u3053\u3067\u6307\u5b9a\u3055\u308c\u305f\u5024\u306f\u3001
java.beans.PropertyEditor\u306b\u3088\u3063\u3066Service\u306b\u8a2d\u5b9a\u3055\u308c\u307e\u3059\u3002
Service\u306b\u306f\u3001\u3053\u306e\u8981\u7d20\u306ename\u5c5e\u6027\u3067\u5b9a\u7fa9\u3059\u308b\u30d5\u30a3\u30fc\u30eb\u30c9\u5c5e\u6027\u540d\u306b\u8a72\u5f53\u3059\u308b\u30d5\u30a3\u30fc\u30eb\u30c9
\u3092\u5b9f\u88c5\u3057\u3066\u304a\u304f\u5fc5\u8981\u304c\u3042\u308a\u307e\u3059\u3002
-->
<!ELEMENT field (#PCDATA | service-ref | object | static-invoke | static-field-ref)*>

<!-- name\u5c5e\u6027\u306f\u3001field\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u30d5\u30a3\u30fc\u30eb\u30c9\u5c5e\u6027\u306e\u5c5e\u6027\u540d\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
service\u8981\u7d20\u3067\u767b\u9332\u3059\u308bService\u306b\u306f\u3001\u3053\u306e\u8981\u7d20\u306ename\u5c5e\u6027\u3067\u5b9a\u7fa9\u3059\u308b\u30d5\u30a3\u30fc\u30eb\u30c9\u5c5e\u6027\u540d
\u306b\u8a72\u5f53\u3059\u308b\u30d5\u30a3\u30fc\u30eb\u30c9\u3092\u5b9f\u88c5\u3057\u3066\u304a\u304f\u5fc5\u8981\u304c\u3042\u308a\u307e\u3059\u3002
-->
<!ATTLIST field name CDATA #REQUIRED>

<!-- type\u5c5e\u6027\u306f\u3001field\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u30d5\u30a3\u30fc\u30eb\u30c9\u5c5e\u6027\u306e\u578b\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
service\u8981\u7d20\u3067\u767b\u9332\u3059\u308bService\u306b\u3001name\u5c5e\u6027\u3067\u5b9a\u7fa9\u3057\u305f\u5c5e\u6027\u540d\u306b\u5bfe\u3059\u308b\u30d5\u30a3\u30fc\u30eb\u30c9\u306e\u578b
\u3068\u5185\u5bb9\u306e\u6587\u5b57\u5217\u3092\u7de8\u96c6\u3059\u308bPropertyEditor\u304c\u767b\u9332\u3055\u308c\u3066\u3044\u308b\u578b\u304c\u540c\u3058\u5834\u5408\u306f\u3001
\u7701\u7565\u53ef\u80fd\u3067\u3059\u3002
service\u8981\u7d20\u3067\u767b\u9332\u3059\u308bService\u306b\u3001name\u5c5e\u6027\u3067\u5b9a\u7fa9\u3057\u305f\u5c5e\u6027\u540d\u306b\u5bfe\u3059\u308b
\u30d5\u30a3\u30fc\u30eb\u30c9\u306e\u578b\u3068\u4ee3\u5165\u4e92\u63db\u306e\u95a2\u4fc2\u306b\u3042\u308b\u5225\u306e\u578b\u3067\u8a2d\u5b9a\u3057\u305f\u3044\u5834\u5408\u306f\u3001\u3053\u306e\u5c5e\u6027\u3067\u5fc5\u8981\u306a
\u578b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
\u6307\u5b9a\u3057\u305f\u578b\u306b\u8a72\u5f53\u3059\u308bjava.beans.PropertyEditor\u304c\u767b\u9332\u3055\u308c\u3066\u3044\u306a\u3044\u5834\u5408\u306f\u3001
\u5024\u304c\u8a2d\u5b9a\u3055\u308c\u307e\u305b\u3093\u3002
-->
<!ATTLIST field type CDATA #IMPLIED>

<!-- nullValue\u5c5e\u6027\u306f\u3001field\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u30d5\u30a3\u30fc\u30eb\u30c9\u306e\u5024\u304cnull\u3067\u3042\u308b\u4e8b\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
field\u8981\u7d20\u304c\u8868\u3059\u5024\u304cnull\u3067\u3042\u308b\u5834\u5408\u306b\u3001true\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
-->
<!ATTLIST field nullValue (true|false) "false">

<!-- attribute\u8981\u7d20\u306f\u3001service\u8981\u7d20\u3067\u767b\u9332\u3059\u308bService\u306eBean\u5c5e\u6027\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
attribute\u8981\u7d20\u306e\u5185\u5bb9\u306b\u3001\u5024\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002\u3053\u3053\u3067\u6307\u5b9a\u3055\u308c\u305f\u5024\u306f\u3001
java.beans.PropertyEditor\u306b\u3088\u3063\u3066Service\u306b\u8a2d\u5b9a\u3055\u308c\u307e\u3059\u3002
Service\u306b\u306f\u3001\u3053\u306e\u8981\u7d20\u306ename\u5c5e\u6027\u3067\u5b9a\u7fa9\u3059\u308b\u5c5e\u6027\u540d\u306b\u8a72\u5f53\u3059\u308bsetter\u3092\u5b9f\u88c5\u3057\u3066\u304a\u304f\u304b
\u3001Map\u30a4\u30f3\u30bf\u30d5\u30a7\u30fc\u30b9\u3092\u5b9f\u88c5\u3057\u3066\u304a\u304f\u5fc5\u8981\u304c\u3042\u308a\u307e\u3059\u3002
-->
<!ELEMENT attribute (#PCDATA | service-ref | object | static-invoke | static-field-ref)*>

<!-- name\u5c5e\u6027\u306f\u3001attribute\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308bBean\u5c5e\u6027\u306e\u5c5e\u6027\u540d\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
service\u8981\u7d20\u3067\u767b\u9332\u3059\u308bService\u306b\u306f\u3001\u3053\u3053\u3067\u5b9a\u7fa9\u3059\u308b\u5c5e\u6027\u540d\u306e\u5c5e\u6027\u306b\u5bfe\u3059\u308bsetter\u3092
\u5b9f\u88c5\u3057\u3066\u304a\u304f\u304b\u3001Map\u30a4\u30f3\u30bf\u30d5\u30a7\u30fc\u30b9\u3092\u5b9f\u88c5\u3059\u308b\u5fc5\u8981\u304c\u3042\u308a\u307e\u3059\u3002
-->
<!ATTLIST attribute name CDATA #REQUIRED>

<!-- type\u5c5e\u6027\u306f\u3001attribute\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308bBean\u5c5e\u6027\u306e\u578b\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
service\u8981\u7d20\u3067\u767b\u9332\u3059\u308bService\u306b\u3001name\u5c5e\u6027\u3067\u5b9a\u7fa9\u3057\u305f\u5c5e\u6027\u540d\u306b\u5bfe\u3059\u308bsetter\u304c\u7528\u610f
\u3055\u308c\u3066\u3044\u308b\u5834\u5408\u306f\u3001\u7701\u7565\u53ef\u80fd\u3067\u3059\u3002\u4f46\u3057\u3001DOM\u306eElement\u3092\u305d\u306e\u307e\u307e\u8a2d\u5b9a\u3057\u305f\u3044\u5834\u5408\u306f\u3001
\u3053\u306e\u5c5e\u6027\u306b\u3001"org.w3c.dom.Element"\u3092\u6307\u5b9a\u3059\u308b\u5fc5\u8981\u304c\u3042\u308a\u307e\u3059\u3002
service\u8981\u7d20\u3067\u767b\u9332\u3059\u308bService\u306b\u3001name\u5c5e\u6027\u3067\u5b9a\u7fa9\u3057\u305f\u5c5e\u6027\u540d\u306b\u5bfe\u3059\u308bsetter\u304c\u7528\u610f
\u3055\u308c\u3066\u3044\u306a\u3044\u5834\u5408\u3067\u3001Map\u30a4\u30f3\u30bf\u30d5\u30a7\u30fc\u30b9\u3092\u5b9f\u88c5\u3057\u3066\u3044\u308b\u5834\u5408\u306b\u3001String\u578b\u4ee5\u5916\u306e\u578b\u3067
\u8a2d\u5b9a\u3059\u308b\u5fc5\u8981\u304c\u3042\u308b\u5834\u5408\u306f\u3001\u3053\u306e\u5c5e\u6027\u3067\u578b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
\u307e\u305f\u3001service\u8981\u7d20\u3067\u767b\u9332\u3059\u308bService\u306b\u3001name\u5c5e\u6027\u3067\u5b9a\u7fa9\u3057\u305f\u5c5e\u6027\u540d\u306b\u5bfe\u3059\u308bsetter\u304c
\u7528\u610f\u3055\u308c\u3066\u3044\u308b\u5834\u5408\u3067\u3082\u3001\u305d\u306esetter\u306e\u5f15\u6570\u306e\u578b\u3068\u4ee3\u5165\u4e92\u63db\u306e\u95a2\u4fc2\u306b\u3042\u308b\u5225\u306e\u578b\u3067\u8a2d\u5b9a
\u3057\u305f\u3044\u5834\u5408\u306a\u3069\u306b\u3082\u3001\u3053\u306e\u5c5e\u6027\u3067\u5fc5\u8981\u306a\u578b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
\u6307\u5b9a\u3057\u305f\u578b\u306b\u8a72\u5f53\u3059\u308bjava.beans.PropertyEditor\u304c\u767b\u9332\u3055\u308c\u3066\u3044\u306a\u3044\u5834\u5408\u306f\u3001
\u5024\u304c\u8a2d\u5b9a\u3055\u308c\u307e\u305b\u3093\u3002
-->
<!ATTLIST attribute type CDATA #IMPLIED>

<!-- nullValue\u5c5e\u6027\u306f\u3001attribute\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u5c5e\u6027\u306e\u5024\u304cnull\u3067\u3042\u308b\u4e8b\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
attribute\u8981\u7d20\u304c\u8868\u3059\u5024\u304cnull\u3067\u3042\u308b\u5834\u5408\u306b\u3001true\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
-->
<!ATTLIST attribute nullValue (true|false) "false">

<!-- service-ref\u8981\u7d20\u306f\u3001\u53c2\u7167\u3059\u308bService\u306e\u30b5\u30fc\u30d3\u30b9\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
service-ref\u8981\u7d20\u306e\u5185\u5bb9\u306b\u3001\u30b5\u30fc\u30d3\u30b9\u540d\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
-->
<!ELEMENT service-ref (#PCDATA)>

<!-- manager-name\u5c5e\u6027\u306f\u3001service-ref\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u30b5\u30fc\u30d3\u30b9\u304c\u767b\u9332\u3055\u308c\u3066\u3044\u308b
manager\u8981\u7d20\u306ename\u5c5e\u6027\u3092\u6307\u5b9a\u3059\u308b\u3002
service-ref\u8981\u7d20\u306e\u89aa\u8981\u7d20\u306emanager\u306e\u5b50\u8981\u7d20\u306b\u5b58\u5728\u3057\u306a\u3044service\u8981\u7d20
\u3092\u53c2\u7167\u3059\u308b\u5834\u5408\u306b\u3001\u305d\u306eservice\u8981\u7d20\u306e\u89aa\u8981\u7d20\u3068\u306a\u3063\u3066\u3044\u308bmanager\u8981\u7d20\u306ename\u5c5e\u6027\u3092\u6307
\u5b9a\u3059\u308b\u3002\u540c\u3058manager\u8981\u7d20\u5185\u306eservice\u8981\u7d20\u3092\u53c2\u7167\u3059\u308b\u5834\u5408\u306b\u306f\u3001\u7701\u7565\u53ef\u80fd\u3067\u3042\u308b\u3002
-->
<!ATTLIST service-ref manager-name CDATA #IMPLIED>

<!-- depends\u8981\u7d20\u306f\u3001service\u8981\u7d20\u3067\u767b\u9332\u3059\u308bService\u304c\u3001\u4f9d\u5b58\u3057\u3066\u3044\u308bService\u3092\u5b9a\u7fa9\u3057
\u307e\u3059\u3002
depends\u8981\u7d20\u306e\u5185\u5bb9\u306b\u3001Service\u306e\u540d\u524d\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
\u307e\u305f\u3001service\u8981\u7d20\u3092\u8a18\u8ff0\u3059\u308b\u4e8b\u3082\u3067\u304d\u308b\u306e\u3067\u3001Service\u306e\u5b9a\u7fa9\u3092\u76f4\u63a5\u66f8\u304f\u4e8b\u3082\u3067\u304d\u307e\u3059\u3002
\u3053\u306e\u8981\u7d20\u304c\u6307\u5b9a\u3055\u308c\u3066\u3044\u308b\u5834\u5408\u306f\u3001\u4f9d\u5b58\u3059\u308bService\u306e\u72b6\u614b\u306b\u8ffd\u968f\u3057\u3066\u8d77\u52d5\u3055\u308c\u307e\u3059\u3002
\u4ed6ServiceManager\u306eService\u306b\u4f9d\u5b58\u3057\u3066\u3044\u308b\u5834\u5408\u306b\u306f\u3001\u305d\u306eService\u304c\u8d77\u52d5\u3055\u308c\u308b\u307e\u3067\u3001
\u5f85\u6a5f\u3057\u307e\u3059\u3002
\u307e\u305f\u3001Service\u306e\u505c\u6b62\u53ca\u3073\u7834\u68c4\u3067\u306f\u3001\u4f9d\u5b58\u3055\u308c\u3066\u3044\u308bService\u306e\u72b6\u614b\u306b\u8ffd\u968f\u3057\u3067\u3001\u505c\u6b62\u3001
\u53ca\u3073\u7834\u68c4\u3055\u308c\u307e\u3059\u3002\u4ed6ServiceManager\u306eService\u306b\u4f9d\u5b58\u3055\u308c\u3066\u3044\u308b\u5834\u5408\u306b\u306f\u3001
\u4ed6ServiceManager\u306e\u72b6\u614b\u306b\u95a2\u308f\u3089\u305a\u3001\u305d\u306eService\u3092\u505c\u6b62\u3001\u53ca\u3073\u7834\u68c4\u3057\u307e\u3059\u3002

\u4f8b:
   <service code="hoge.MyService" name="MyService">
      <depends>MyService2</depends>
   </service>
   
   <service code="hoge.MyService" name="MyService">
      <depends>Manager2#MyService2</depends>
   </service>

   <service code="hoge.MyService" name="MyService">
      <depends manager-name="Manager2">
         <service code="hoge.MyService2" name="MyService2">
         ...
         </service>
      </depends>
   </service>
-->
<!ELEMENT depends (#PCDATA | service)*>

<!-- manager-name\u5c5e\u6027\u306f\u3001depends\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u4f9d\u5b58\u30b5\u30fc\u30d3\u30b9\u304c\u767b\u9332\u3055\u308c\u3066\u3044\u308b
manager\u8981\u7d20\u306ename\u5c5e\u6027\u3092\u6307\u5b9a\u3059\u308b\u3002
depends\u8981\u7d20\u306e\u89aa\u8981\u7d20\u306eservice\u8981\u7d20\u306e\u89aa\u8981\u7d20manager\u306e\u5b50\u8981\u7d20\u306b\u5b58\u5728\u3057\u306a\u3044service\u8981\u7d20
\u3092\u53c2\u7167\u3059\u308b\u5834\u5408\u306b\u3001\u305d\u306eservice\u8981\u7d20\u306e\u89aa\u8981\u7d20\u3068\u306a\u3063\u3066\u3044\u308bmanager\u8981\u7d20\u306ename\u5c5e\u6027\u3092\u6307
\u5b9a\u3059\u308b\u3002\u540c\u3058manager\u8981\u7d20\u5185\u306eservice\u8981\u7d20\u3092depends\u3059\u308b\u5834\u5408\u306b\u306f\u3001\u7701\u7565\u53ef\u80fd\u3067\u3042\u308b\u3002
-->
<!ATTLIST depends manager-name CDATA #IMPLIED>

<!-- optional-config\u8981\u7d20\u306f\u3001\u30e6\u30fc\u30b6\u304c\u4efb\u610f\u306e\u30d5\u30a9\u30fc\u30de\u30c3\u30c8\u3067Service\u306e\u69cb\u6210\u60c5\u5831\u3092\u5b9a\u7fa9
\u3057\u307e\u3059\u3002
\u3053\u3053\u3067\u3001\u8a2d\u5b9a\u3057\u305f\u60c5\u5831\u306f\u3001ServiceManager#getServiceMetaData(String)\u3067\u53d6\u5f97\u3067\u304d\u308b
ServiceMetaData\u306eServiceMetaData#getOptionalConfig()\u3067org.w3c.dom.Element\u304c\u53d6\u5f97
\u3067\u304d\u307e\u3059\u3002
-->
<!ELEMENT optional-config ANY>

<!-- invoke\u8981\u7d20\u306f\u3001service\u8981\u7d20\u3067\u767b\u9332\u3059\u308bService\u3084object\u8981\u7d20\u3067\u751f\u6210\u3059\u308b
\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306e\u30e1\u30bd\u30c3\u30c9\u5b9f\u884c\u5c5e\u6027\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
invoke\u8981\u7d20\u306e\u5b50\u8981\u7d20\u306bargument\u8981\u7d20\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002\u5f15\u6570\u3042\u308a\u306e\u30e1\u30bd\u30c3\u30c9\u3092\u5b9f\u884c\u3057\u305f\u3044
\u5834\u5408\u306b\u6307\u5b9a\u3057\u307e\u3059\u3002
\u3053\u306e\u8981\u7d20\u304cconstructor\u8981\u7d20\u307e\u305f\u306ftarget\u8981\u7d20\u306e\u5b50\u8981\u7d20\u3068\u3057\u3066\u73fe\u308c\u308b\u5834\u5408\u306e\u307f\u3001\u5b50\u8981\u7d20\u306btarget\u8981\u7d20\u3092\u6301\u3064\u4e8b\u304c\u3067\u304d\u307e\u3059\u3002target\u8981\u7d20\u3067\u306f\u3001\u547c\u3073\u51fa\u3057\u5bfe\u8c61\u306e\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
Service\u3084\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306b\u306f\u3001\u8a72\u5f53\u3059\u308b\u30e1\u30bd\u30c3\u30c9\u3092\u5b9f\u88c5\u3057\u3066\u304a\u304f\u5fc5\u8981\u304c\u3042\u308a\u307e\u3059\u3002
-->
<!ELEMENT invoke (target?, argument*)>

<!-- name\u5c5e\u6027\u306f\u3001invoke\u8981\u7d20\u3067\u5b9f\u884c\u3059\u308b\u30e1\u30bd\u30c3\u30c9\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST invoke name CDATA #REQUIRED>

<!-- callState\u5c5e\u6027\u306f\u3001invoke\u8981\u7d20\u3067\u5b9f\u884c\u3059\u308b\u30e1\u30bd\u30c3\u30c9\u304c\u5b9f\u884c\u3055\u308c\u308b\u30bf\u30a4\u30df\u30f3\u30b0\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
\u4f46\u3057\u3001\u3053\u306e\u5c5e\u6027\u306f\u3001service\u8981\u7d20\u306e\u5b50\u8981\u7d20\u3068\u3057\u3066\u5b9a\u7fa9\u3057\u305finvoke\u8981\u7d20\u3067\u306e\u307f\u6709\u52b9\u3067\u3059\u3002
-->
<!ATTLIST invoke callState (Creating|Created|Starting|Started|Stopping|Stopped|Destorying|Destroyed) "Created">

<!-- target\u8981\u7d20\u306f\u3001invoke\u8981\u7d20\u3067\u30e1\u30bd\u30c3\u30c9\u547c\u3073\u51fa\u3057\u3092\u884c\u3046\u5bfe\u8c61\u306e\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ELEMENT target (object | service-ref | invoke | static-invoke | static-field-ref)*>

<!-- static-invoke\u8981\u7d20\u306f\u3001static\u30e1\u30bd\u30c3\u30c9\u306e\u547c\u3073\u51fa\u3057\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
static-invoke\u8981\u7d20\u306e\u5b50\u8981\u7d20\u306bargument\u8981\u7d20\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002\u5f15\u6570\u3042\u308a\u306e\u30e1\u30bd\u30c3\u30c9\u3092\u5b9f\u884c\u3057\u305f\u3044
\u5834\u5408\u306b\u6307\u5b9a\u3057\u307e\u3059\u3002
-->
<!ELEMENT static-invoke (argument*)>

<!-- code\u5c5e\u6027\u306f\u3001static-invoke\u8981\u7d20\u3067\u5b9f\u884c\u3059\u308bstatic\u30e1\u30bd\u30c3\u30c9\u304c\u5ba3\u8a00\u3055\u308c\u3066\u3044\u308b\u30af\u30e9\u30b9\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST static-invoke code CDATA #REQUIRED>

<!-- name\u5c5e\u6027\u306f\u3001static-invoke\u8981\u7d20\u3067\u5b9f\u884c\u3059\u308bstatic\u30e1\u30bd\u30c3\u30c9\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST static-invoke name CDATA #REQUIRED>

<!-- static-field-ref\u8981\u7d20\u306f\u3001static\u30d5\u30a3\u30fc\u30eb\u30c9\u53c2\u7167\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
static-field-ref\u8981\u7d20\u306ecode\u5c5e\u6027\u3067\u30af\u30e9\u30b9\u540d\u3092\u3001name\u5c5e\u6027\u3067\u30d5\u30a3\u30fc\u30eb\u30c9\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ELEMENT static-field-ref EMPTY>

<!-- code\u5c5e\u6027\u306f\u3001static-field-ref\u8981\u7d20\u3067\u53c2\u7167\u3059\u308bstatic\u30d5\u30a3\u30fc\u30eb\u30c9\u304c\u5ba3\u8a00\u3055\u308c\u3066\u3044\u308b\u30af\u30e9\u30b9\u540d\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
-->
<!ATTLIST static-field-ref code CDATA #REQUIRED>

<!-- name\u5c5e\u6027\u306f\u3001static-field-ref\u8981\u7d20\u3067\u53c2\u7167\u3059\u308bstatic\u30d5\u30a3\u30fc\u30eb\u30c9\u540d\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
-->
<!ATTLIST static-field-ref name CDATA #REQUIRED>

<!-- object\u8981\u7d20\u306f\u3001\u751f\u6210\u3059\u308b\u4efb\u610f\u306e\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
\u3053\u306e\u8981\u7d20\u3067\u5b9a\u7fa9\u3055\u308c\u305f\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306f\u3001ServiceManager\u306b\u306f\u767b\u9332\u3055\u308c\u306a\u3044\u70b9\u304c\u3001
service\u8981\u7d20\u3068\u306f\u7570\u306a\u308b\u70b9\u3067\u3059\u3002
-->
<!ELEMENT object (constructor? | field* | attribute* | invoke* | ifdef*)*>

<!-- code\u5c5e\u6027\u306f\u3001object\u8981\u7d20\u3067\u751f\u6210\u3059\u308b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306e\u5b9f\u88c5\u30af\u30e9\u30b9\u540d\u3092\u5b8c\u5168\u4fee\u98fe\u540d\u3067
\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST object code CDATA #REQUIRED>

<!-- ifdef\u8981\u7d20\u306f\u3001\u5b50\u8981\u7d20\u3092\u6709\u52b9\u306b\u3059\u308b\u6761\u4ef6\u3092\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ELEMENT ifdef ANY>

<!-- name\u5c5e\u6027\u306f\u3001\u6761\u4ef6\u3068\u306a\u308b\u74b0\u5883\u5909\u6570\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
\u3053\u3053\u3067\u8a00\u3046\u74b0\u5883\u5909\u6570\u306f\u3001JVM\u306e\u30b7\u30b9\u30c6\u30e0\u30d7\u30ed\u30d1\u30c6\u30a3\u3001server-property\u8981\u7d20\u3067\u6307\u5b9a\u3057\u305f\u5909\u6570\u3001manager-property\u8981\u7d20\u3067\u6307\u5b9a\u3057\u305f\u5909\u6570\u3001service-property\u8981\u7d20\u3067\u6307\u5b9a\u3057\u305f\u5909\u6570\u3092\u6307\u3057\u307e\u3059\u3002
-->
<!ATTLIST ifdef name CDATA #REQUIRED>

<!-- value\u5c5e\u6027\u306f\u3001\u6761\u4ef6\u3068\u306a\u308b\u74b0\u5883\u5909\u6570\u5024\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST ifdef value CDATA #IMPLIED>

<!-- not\u5c5e\u6027\u306f\u3001\u5426\u5b9a\u6761\u4ef6\u3068\u306a\u308b\u3088\u3046\u306b\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST ifdef not (true|false) "false">
