dtd/beanflow/1.2.6/beanflow_1_0.dtd

<!--
This is the XML DTD for the Nimbus 1.0 Bean Flow definition descriptor.
The DOCTYPE is:
  <!DOCTYPE flows PUBLIC
      "-//Nimbus//DTD Nimbus Bean Flow 1.0//JA"
      "http://nimbus.sourceforge.jp/dtd/beanflow_1_0.dtd">
-->

<!-- flows\u8981\u7d20\u306f\u3001\u696d\u52d9\u30d5\u30ed\u30fc\u5b9a\u7fa9\u306e\u30eb\u30fc\u30c8\u8981\u7d20\u3067\u3059\u3002
-->
<!ELEMENT flows (flow*)>

<!-- flow\u8981\u7d20\u306f\u3001\u696d\u52d9\u30d5\u30ed\u30fc\u3092\u5b9a\u7fa9\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
-->
<!ELEMENT flow (alias* | override* | input-def* | resource* | step* | callflow* | reply* | switch* | if* | for* | while* | catch* | finally? | return?)*>

<!-- name\u5c5e\u6027\u306f\u3001flow\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u696d\u52d9\u30d5\u30ed\u30fc\u306e\u4e00\u610f\u306a\u540d\u524d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST flow name CDATA #REQUIRED>

<!-- maxRunThreads\u5c5e\u6027\u306f\u3001flow\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u696d\u52d9\u30d5\u30ed\u30fc\u306e\u540c\u6642\u5b9f\u884c\u6570\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u5c5e\u6027\u3092\u5b9a\u7fa9\u3057\u306a\u3044\u5834\u5408\u306f\u3001\u540c\u6642\u5b9f\u884c\u6570\u306e\u5236\u9650\u306f\u3042\u308a\u307e\u305b\u3093\u3002
-->
<!ATTLIST flow maxRunThreads CDATA #IMPLIED>

<!-- maxWaitThreads\u5c5e\u6027\u306f\u3001flow\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u696d\u52d9\u30d5\u30ed\u30fc\u306e\u540c\u6642\u5b9f\u884c\u5f85\u3061\u6570\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u540c\u6642\u5b9f\u884c\u6570\u304c\u9650\u754c\u307e\u3067\u6765\u3066\u3044\u308b\u6642\u306b\u3001\u540c\u6642\u5b9f\u884c\u6570\u306b\u7a7a\u304d\u304c\u51fa\u6765\u308b\u307e\u3067\u5f85\u6a5f\u3055\u305b\u3089\u308c\u307e\u3059\u3002
 \u305d\u306e\u969b\u306b\u3001\u5f85\u6a5f\u3057\u3066\u3044\u308b\u6570\u304c\u591a\u3044\u5834\u5408\u306f\u3001\u9577\u3044\u6642\u9593\u5f85\u305f\u3055\u308c\u308b\u53ef\u80fd\u6027\u304c\u3042\u308a\u307e\u3059\u3002
 \u305d\u306e\u305f\u3081\u3001\u305d\u306e\u5f85\u6a5f\u6570\u304c\u591a\u3044\u5834\u5408\u306f\u3001\u5f85\u305f\u305a\u306b\u8ae6\u3081\u305f\u3044\u3053\u3068\u304c\u3042\u308a\u307e\u3059\u3002
 \u3053\u306e\u5c5e\u6027\u306f\u3001\u305d\u306e\u5f85\u6a5f\u6570\u306e\u6700\u5927\u5024\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u5f85\u6a5f\u305b\u305a\u306b\u8ae6\u3081\u305f\u6642\u306f\u3001UnavailableFlowException\u3092throw\u3057\u307e\u3059\u3002
 \u3053\u306e\u5c5e\u6027\u3092\u5b9a\u7fa9\u3057\u306a\u3044\u5834\u5408\u306f\u3001\u540c\u6642\u5b9f\u884c\u5f85\u3061\u6570\u306e\u5236\u9650\u306f\u3042\u308a\u307e\u305b\u3093\u3002
 \u307e\u305f\u3001maxRunThreads\u5c5e\u6027\u304c\u6307\u5b9a\u3055\u308c\u3066\u3044\u306a\u3044\u5834\u5408\u306f\u3001\u7121\u52b9\u3067\u3059\u3002
-->
<!ATTLIST flow maxWaitThreads CDATA #IMPLIED>

<!-- timeout\u5c5e\u6027\u306f\u3001flow\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u696d\u52d9\u30d5\u30ed\u30fc\u306e\u540c\u6642\u5b9f\u884c\u5f85\u3061\u6642\u9593\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u540c\u6642\u5b9f\u884c\u6570\u304c\u9650\u754c\u307e\u3067\u6765\u3066\u3044\u308b\u6642\u306b\u3001\u540c\u6642\u5b9f\u884c\u6570\u306b\u7a7a\u304d\u304c\u51fa\u6765\u308b\u307e\u3067\u5f85\u6a5f\u3055\u305b\u3089\u308c\u307e\u3059\u3002
 \u305d\u306e\u969b\u306b\u3001\u8ae6\u3081\u305a\u306b\u5f85\u6a5f\u3059\u308b\u6642\u9593\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u6307\u5b9a\u3055\u308c\u305f\u6642\u9593\u3060\u3051\u5f85\u6a5f\u3057\u3066\u8ae6\u3081\u305f\u6642\u306f\u3001UnavailableFlowException\u3092throw\u3057\u307e\u3059\u3002
 \u3053\u306e\u5c5e\u6027\u3092\u5b9a\u7fa9\u3057\u306a\u3044\u5834\u5408\u306f\u3001\u7121\u9650\u306b\u5f85\u3061\u7d9a\u3051\u307e\u3059\u3002
 \u307e\u305f\u3001maxRunThreads\u5c5e\u6027\u304c\u6307\u5b9a\u3055\u308c\u3066\u3044\u306a\u3044\u5834\u5408\u306f\u3001\u7121\u52b9\u3067\u3059\u3002
-->
<!ATTLIST flow timeout CDATA #IMPLIED>

<!-- forceFreeTimeout\u5c5e\u6027\u306f\u3001flow\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u696d\u52d9\u30d5\u30ed\u30fc\u306e\u540c\u6642\u5b9f\u884c\u6570\u5236\u5fa1\u30bf\u30a4\u30e0\u30a2\u30a6\u30c8\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u540c\u6642\u5b9f\u884c\u6570\u5236\u5fa1\u3092\u884c\u3063\u3066\u3044\u308b\u5834\u5408\u3067\u3001\u5b9f\u884c\u6642\u9593\u304c\u3053\u306e\u6642\u9593\u3092\u904e\u304e\u305f\u5834\u5408\u306b\u306f\u3001\u305d\u306e\u30b9\u30ec\u30c3\u30c9\u304c\u78ba\u4fdd\u3057\u3066\u3044\u308b\u540c\u6642\u5b9f\u884c\u6570\u3092\u958b\u653e\u3059\u308b\u305f\u3081\u306e\u3082\u306e\u3067\u3059\u3002
 \u3053\u306e\u5c5e\u6027\u3092\u5b9a\u7fa9\u3057\u306a\u3044\u5834\u5408\u306f\u3001\u5b9f\u884c\u6642\u9593\u306f\u7121\u5236\u9650\u3067\u3059\u3002
 \u307e\u305f\u3001maxRunThreads\u5c5e\u6027\u304c\u6307\u5b9a\u3055\u308c\u3066\u3044\u306a\u3044\u5834\u5408\u306f\u3001\u7121\u52b9\u3067\u3059\u3002
-->
<!ATTLIST flow forceFreeTimeout CDATA #IMPLIED>

<!-- transaction\u5c5e\u6027\u306f\u3001flow\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u696d\u52d9\u30d5\u30ed\u30fc\u306e\u30c8\u30e9\u30f3\u30b6\u30af\u30b7\u30e7\u30f3\u5c5e\u6027\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 "Supports"\u4ee5\u5916\u306e\u5024\u3092\u6307\u5b9a\u3057\u305f\u5834\u5408\u306f\u3001JTA\u3092\u4f7f\u7528\u3057\u3066\u30c8\u30e9\u30f3\u30b6\u30af\u30b7\u30e7\u30f3\u5236\u5fa1\u3092\u884c\u3046\u305f\u3081\u3001JTA\u5b9f\u88c5\u3092\u6301\u3063\u305fJ2EE\u30b3\u30f3\u30c6\u30ca\u4e0a\u3067\u52d5\u4f5c\u3055\u305b\u308b\u5fc5\u8981\u304c\u3042\u308a\u307e\u3059\u3002
-->
<!ATTLIST flow transaction (Required|RequiresNew|Supports|Mandatory|Never|NotSupported) "Supports">

<!-- trantimeout\u5c5e\u6027\u306f\u3001flow\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u696d\u52d9\u30d5\u30ed\u30fc\u306e\u30c8\u30e9\u30f3\u30b6\u30af\u30b7\u30e7\u30f3\u30bf\u30a4\u30e0\u30a2\u30a6\u30c8[s]\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 transaction\u5c5e\u6027\u304cRequired\u307e\u305f\u306fRequiresNew\u3067\u3001\u30c8\u30e9\u30f3\u30b6\u30af\u30b7\u30e7\u30f3\u304c\u305d\u3053\u3067\u958b\u59cb\u3055\u308c\u308b\u5834\u5408\u306e\u307f\u6709\u52b9\u3067\u3059\u3002
-->
<!ATTLIST flow trantimeout CDATA #IMPLIED>

<!-- journal\u5c5e\u6027\u306f\u3001flow\u8981\u7d20\u3067\u30b8\u30e3\u30fc\u30ca\u30eb\u3092\u51fa\u529b\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u8981\u7d20\u306e\u5b50\u8981\u7d20\u5168\u3066\u306b\u9069\u7528\u3055\u308c\u308b\u3002
-->
<!ATTLIST flow journal (true | false) "true">

<!-- alias\u8981\u7d20\u306f\u3001\u696d\u52d9\u30d5\u30ed\u30fc\u306e\u5225\u540d\u3092\u5b9a\u7fa9\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
 \u5225\u540d\u3092\u4ed8\u3051\u306a\u3044\u5834\u5408\u306f\u3001\u6307\u5b9a\u3059\u308b\u5fc5\u8981\u306f\u3042\u308a\u307e\u305b\u3093\u3002
 \u307e\u305f\u3001\u8907\u6570\u306ealias\u8981\u7d20\u3092\u5b9a\u7fa9\u3059\u308b\u4e8b\u3067\u8907\u6570\u306e\u5225\u540d\u3092\u6301\u305f\u305b\u308b\u4e8b\u304c\u3067\u304d\u307e\u3059\u3002
-->
<!ELEMENT alias EMPTY>

<!-- name\u5c5e\u6027\u306f\u3001\u696d\u52d9\u30d5\u30ed\u30fc\u306e\u5225\u540d\u3092\u5b9a\u7fa9\u3059\u308b\u5c5e\u6027\u3067\u3059\u3002
-->
<!ATTLIST alias name CDATA #REQUIRED>

<!-- resouce\u8981\u7d20\u306f\u3001\u30c8\u30e9\u30f3\u30b6\u30af\u30b7\u30e7\u30f3\u5236\u5fa1\u3092\u884c\u3046\u30ea\u30bd\u30fc\u30b9\u3092\u5b9a\u7fa9\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
 \u3053\u306e\u8981\u7d20\u306eservice\u5c5e\u6027\u3067\u3001jp.ossc.nimbus.service.resource.ResourceFactory\u30a4\u30f3\u30bf\u30d5\u30a7\u30fc\u30b9\u3092\u5b9f\u88c5\u3057\u305f\u30b5\u30fc\u30d3\u30b9\u306e\u30b5\u30fc\u30d3\u30b9\u540d\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
 \u696d\u52d9\u30d5\u30ed\u30fc\u5185\u3067\u3001\u3053\u306e\u8981\u7d20\u3067\u5ba3\u8a00\u3057\u305f\u30ea\u30bd\u30fc\u30b9\u3092resource-ref\u8981\u7d20\u3067\u53c2\u7167\u3057\u305f\u6642\u306b\u3001
 ResourceFactory\u304b\u3089jp.ossc.nimbus.service.resource.TransactionResource\u3092\u751f\u6210\u3057\u3066\u3001TransactionResource\u304b\u3089\u53d6\u308a\u51fa\u3057\u305f\u30ea\u30bd\u30fc\u30b9\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u3092\u6e21\u3057\u307e\u3059\u3002
 \u696d\u52d9\u30d5\u30ed\u30fc\u304c\u6b63\u5e38\u7d42\u4e86\u3059\u308b\u3068\u3001TransactionResource.commit()\u30e1\u30bd\u30c3\u30c9\u3092\u4f7f\u3063\u3066\u30c8\u30e9\u30f3\u30b6\u30af\u30b7\u30e7\u30f3\u3092\u30b3\u30df\u30c3\u30c8\u3057\u307e\u3059\u3002
 \u696d\u52d9\u30d5\u30ed\u30fc\u304c\u7570\u5e38\u7d42\u4e86\u3059\u308b\u3068\u3001TransactionResource.rollback()\u30e1\u30bd\u30c3\u30c9\u3092\u4f7f\u3063\u3066\u30c8\u30e9\u30f3\u30b6\u30af\u30b7\u30e7\u30f3\u3092\u30ed\u30fc\u30eb\u30d0\u30c3\u30af\u3057\u307e\u3059\u3002
 \u6700\u5f8c\u306b\u3001TransactionResource.close()\u30e1\u30bd\u30c3\u30c9\u3092\u4f7f\u3063\u3066\u30ea\u30bd\u30fc\u30b9\u3092\u958b\u653e\u3057\u307e\u3059\u3002
-->
<!ELEMENT resource EMPTY>

<!-- name\u5c5e\u6027\u306f\u3001\u30ea\u30bd\u30fc\u30b9\u540d\u3092\u5b9a\u7fa9\u3059\u308b\u5c5e\u6027\u3067\u3059\u3002
 resource-ref\u8981\u7d20\u3067\u30ea\u30bd\u30fc\u30b9\u3092\u53c2\u7167\u3059\u308b\u969b\u306b\u4f7f\u7528\u3059\u308b\u540d\u524d\u3067\u3059\u3002
-->
<!ATTLIST resource name CDATA #REQUIRED>

<!-- service\u5c5e\u6027\u306f\u3001\u30ea\u30bd\u30fc\u30b9\u3068\u3057\u3066\u53c2\u7167\u3059\u308b\u30b5\u30fc\u30d3\u30b9\u306e\u30b5\u30fc\u30d3\u30b9\u540d\u3092\u5b9a\u7fa9\u3059\u308b\u5c5e\u6027\u3067\u3059\u3002
 \u3053\u3053\u3067\u53c2\u7167\u3059\u308b\u30b5\u30fc\u30d3\u30b9\u306f\u3001jp.ossc.nimbus.service.resource.ResourceFactory\u30a4\u30f3\u30bf\u30d5\u30a7\u30fc\u30b9\u3092\u5b9f\u88c5\u3057\u3066\u3044\u306a\u3051\u308c\u3070\u306a\u308a\u307e\u305b\u3093\u3002
-->
<!ATTLIST resource service CDATA #REQUIRED>

<!-- key\u5c5e\u6027\u306f\u3001\u30ea\u30bd\u30fc\u30b9\u306e\u30ad\u30fc\u540d\u3092\u5b9a\u7fa9\u3059\u308b\u5c5e\u6027\u3067\u3059\u3002
 jp.ossc.nimbus.service.resource.ResourceFactory\u30a4\u30f3\u30bf\u30d5\u30a7\u30fc\u30b9\u3092\u5b9f\u88c5\u3057\u305f\u30b5\u30fc\u30d3\u30b9\u304b\u3089ResourceFactory.makeResource(String key)\u30e1\u30bd\u30c3\u30c9\u3067TransactionResource\u3092\u53d6\u5f97\u3059\u308b\u969b\u306b\u6307\u5b9a\u3059\u308b\u30ad\u30fc\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u5c5e\u6027\u3092\u6307\u5b9a\u3057\u306a\u3044\u5834\u5408\u306f\u3001null\u3092\u6e21\u3057\u307e\u3059\u3002
-->
<!ATTLIST resource key CDATA #IMPLIED>

<!-- trancontrol\u5c5e\u6027\u306f\u3001\u3053\u306e\u30ea\u30bd\u30fc\u30b9\u306e\u30c8\u30e9\u30f3\u30b6\u30af\u30b7\u30e7\u30f3\u5236\u5fa1\u3092\u884c\u3046\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3059\u308b\u5c5e\u6027\u3067\u3059\u3002
 \u30c7\u30d5\u30a9\u30eb\u30c8\u306f\u3001false\u3067\u3001\u30c8\u30e9\u30f3\u30b6\u30af\u30b7\u30e7\u30f3\u5236\u5fa1\u3092\u884c\u3044\u307e\u305b\u3093\u3002
 true\u3092\u6307\u5b9a\u3057\u305f\u5834\u5408\u3001\u696d\u52d9\u30d5\u30ed\u30fc\u304c\u6b63\u5e38\u7d42\u4e86\u3059\u308b\u3068\u3001TransactionResource.commit()\u30e1\u30bd\u30c3\u30c9\u3092\u4f7f\u3063\u3066\u30c8\u30e9\u30f3\u30b6\u30af\u30b7\u30e7\u30f3\u3092\u30b3\u30df\u30c3\u30c8\u3057\u307e\u3059\u3002
 \u307e\u305f\u3001\u696d\u52d9\u30d5\u30ed\u30fc\u304c\u7570\u5e38\u7d42\u4e86\u3059\u308b\u3068\u3001TransactionResource.rollback()\u30e1\u30bd\u30c3\u30c9\u3092\u4f7f\u3063\u3066\u30c8\u30e9\u30f3\u30b6\u30af\u30b7\u30e7\u30f3\u3092\u30ed\u30fc\u30eb\u30d0\u30c3\u30af\u3057\u307e\u3059\u3002
-->
<!ATTLIST resource trancontrol (true|false) "false">

<!-- tranclose\u5c5e\u6027\u306f\u3001\u3053\u306e\u30ea\u30bd\u30fc\u30b9\u306e\u30c8\u30e9\u30f3\u30b6\u30af\u30b7\u30e7\u30f3\u7d42\u4e86\u51e6\u7406\u3092\u884c\u3046\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3059\u308b\u5c5e\u6027\u3067\u3059\u3002
 \u30c7\u30d5\u30a9\u30eb\u30c8\u306f\u3001true\u3067\u3001\u696d\u52d9\u30d5\u30ed\u30fc\u304c\u7d42\u4e86\u3059\u308b\u3068\u3001TransactionResource.close()\u30e1\u30bd\u30c3\u30c9\u3092\u4f7f\u3063\u3066\u30c8\u30e9\u30f3\u30b6\u30af\u30b7\u30e7\u30f3\u3092\u7d42\u4e86\u3057\u307e\u3059\u3002
-->
<!ATTLIST resource tranclose (true|false) "true">

<!-- step\u8981\u7d20\u306f\u3001\u3072\u3068\u304b\u305f\u307e\u308a\u306e\u51e6\u7406\u3092\u5b9a\u7fa9\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
 \u51e6\u7406\u3092\u884c\u3046\u5bfe\u8c61\u3068\u305d\u306e\u5bfe\u8c61\u306b\u5bfe\u3059\u308b\u30a4\u30f3\u30b8\u30a7\u30af\u30b7\u30e7\u30f3\u3001\u53ca\u3073\u7d50\u679c\u3092\u4f34\u3046\u547c\u3073\u51fa\u3057\u3092\u884c\u3044\u307e\u3059\u3002
 \u4f46\u3057\u3001\u7d50\u679c\u3092\u4f34\u3046\u547c\u3073\u51fa\u3057\u306f\u3001\u5fc5\u8981\u306a\u3051\u308c\u3070\u884c\u3046\u5fc5\u8981\u306f\u3042\u308a\u307e\u305b\u3093\u3002
 \u51e6\u7406\u306e\u5bfe\u8c61\u306b\u306f\u3001\u4ee5\u4e0b\u306e\u3082\u306e\u304c\u4f7f\u7528\u53ef\u80fd\u3067\u3059\u3002
 \u30fb\u30d5\u30ed\u30fc\u3078\u306e\u5165\u529b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8
 \u30fb\u30ea\u30bd\u30fc\u30b9
 \u30fb\u30b5\u30fc\u30d3\u30b9
 \u30fb\u4ed6\u30b9\u30c6\u30c3\u30d7\u306e\u5bfe\u8c61\u53ca\u3073\u7d50\u679c
 \u30fb\u7e70\u308a\u8fd4\u3057\u5909\u6570
 \u30fb\u30a4\u30f3\u30b8\u30a7\u30af\u30b7\u30e7\u30f3\u306b\u3088\u308a\u751f\u6210\u3055\u308c\u305f\u4efb\u610f\u306e\u30aa\u30d6\u30b8\u30a7\u30af\u30c8
 
 \u5bfe\u8c61\u306b\u5bfe\u3059\u308b\u30a4\u30f3\u30b8\u30a7\u30af\u30b7\u30e7\u30f3\u306f\u3001\u4ee5\u4e0b\u306e\u30a4\u30f3\u30b8\u30a7\u30af\u30b7\u30e7\u30f3\u304c\u884c\u3048\u307e\u3059\u3002
 \u30fb\u30d5\u30a3\u30fc\u30eb\u30c9\u30a4\u30f3\u30b8\u30a7\u30af\u30b7\u30e7\u30f3
 \u30fb\u30d7\u30ed\u30d1\u30c6\u30a3\u30a4\u30f3\u30b8\u30a7\u30af\u30b7\u30e7\u30f3
 \u30fb\u30e1\u30bd\u30c3\u30c9\u30a4\u30f3\u30b8\u30a7\u30af\u30b7\u30e7\u30f3
 
 \u7d50\u679c\u3068\u3057\u3066\u4ee5\u4e0b\u306e\u7d50\u679c\u3092\u8fd4\u3059\u4e8b\u304c\u3067\u304d\u307e\u3059\u3002
 \u30fb\u51e6\u7406\u5bfe\u8c61\u306e\u30d5\u30a3\u30fc\u30eb\u30c9
 \u30fb\u51e6\u7406\u5bfe\u8c61\u306e\u30d7\u30ed\u30d1\u30c6\u30a3
 \u30fb\u51e6\u7406\u5bfe\u8c61\u306e\u30e1\u30bd\u30c3\u30c9\u547c\u3073\u51fa\u3057\u7d50\u679c
 \u30fb\u51e6\u7406\u5bfe\u8c61\u81ea\u8eab
 \u30fb\u30d5\u30ed\u30fc\u3078\u306e\u5165\u529b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8
-->
<!ELEMENT step (target?, (field* | attribute* | invoke* | static-invoke* | catch*)*, interpreter?, template?, result?, finally?)>

<!-- name\u5c5e\u6027\u306f\u3001\u30b9\u30c6\u30c3\u30d7\u306e\u540d\u524d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 step-ref\u8981\u7d20\u3067\u4ed6\u30b9\u30c6\u30c3\u30d7\u304b\u3089\u53c2\u7167\u3059\u308b\u5834\u5408\u306b\u3001\u30b9\u30c6\u30c3\u30d7\u3092\u4e00\u610f\u306b\u8b58\u5225\u3059\u308b\u305f\u3081\u306b\u540d\u524d\u3092\u3064\u3051\u307e\u3059\u3002
 \u540c\u3058\u540d\u524d\u306e\u30b9\u30c6\u30c3\u30d7\u304c\u3042\u308b\u5834\u5408\u306f\u3001\u5f8c\u52dd\u3061\u3067\u4e0a\u66f8\u304b\u308c\u3066\u3044\u304d\u307e\u3059\u3002
 \u307e\u305f\u3001\u4ed6\u30b9\u30c6\u30c3\u30d7\u304b\u3089\u53c2\u7167\u3057\u306a\u3044\u5834\u5408\u306f\u3001\u540d\u524d\u3092\u4ed8\u3051\u308b\u5fc5\u8981\u306f\u3042\u308a\u307e\u305b\u3093\u3002
-->
<!ATTLIST step name CDATA #IMPLIED>

<!-- maxRunThreads\u5c5e\u6027\u306f\u3001step\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u30b9\u30c6\u30c3\u30d7\u306e\u540c\u6642\u5b9f\u884c\u6570\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u5c5e\u6027\u3092\u5b9a\u7fa9\u3057\u306a\u3044\u5834\u5408\u306f\u3001\u540c\u6642\u5b9f\u884c\u6570\u306e\u5236\u9650\u306f\u3042\u308a\u307e\u305b\u3093\u3002
-->
<!ATTLIST step maxRunThreads CDATA #IMPLIED>

<!-- maxWaitThreads\u5c5e\u6027\u306f\u3001step\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u30b9\u30c6\u30c3\u30d7\u306e\u540c\u6642\u5b9f\u884c\u5f85\u3061\u6570\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u540c\u6642\u5b9f\u884c\u6570\u304c\u9650\u754c\u307e\u3067\u6765\u3066\u3044\u308b\u6642\u306b\u3001\u540c\u6642\u5b9f\u884c\u6570\u306b\u7a7a\u304d\u304c\u51fa\u6765\u308b\u307e\u3067\u5f85\u6a5f\u3055\u305b\u3089\u308c\u307e\u3059\u3002
 \u305d\u306e\u969b\u306b\u3001\u5f85\u6a5f\u3057\u3066\u3044\u308b\u6570\u304c\u591a\u3044\u5834\u5408\u306f\u3001\u9577\u3044\u6642\u9593\u5f85\u305f\u3055\u308c\u308b\u53ef\u80fd\u6027\u304c\u3042\u308a\u307e\u3059\u3002
 \u305d\u306e\u305f\u3081\u3001\u305d\u306e\u5f85\u6a5f\u6570\u304c\u591a\u3044\u5834\u5408\u306f\u3001\u5f85\u305f\u305a\u306b\u8ae6\u3081\u305f\u3044\u3053\u3068\u304c\u3042\u308a\u307e\u3059\u3002
 \u3053\u306e\u5c5e\u6027\u306f\u3001\u305d\u306e\u5f85\u6a5f\u6570\u306e\u6700\u5927\u5024\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u5f85\u6a5f\u305b\u305a\u306b\u8ae6\u3081\u305f\u6642\u306f\u3001UnavailableFlowException\u3092throw\u3057\u307e\u3059\u3002
 \u3053\u306e\u5c5e\u6027\u3092\u5b9a\u7fa9\u3057\u306a\u3044\u5834\u5408\u306f\u3001\u540c\u6642\u5b9f\u884c\u5f85\u3061\u6570\u306e\u5236\u9650\u306f\u3042\u308a\u307e\u305b\u3093\u3002
 \u307e\u305f\u3001maxRunThreads\u5c5e\u6027\u304c\u6307\u5b9a\u3055\u308c\u3066\u3044\u306a\u3044\u5834\u5408\u306f\u3001\u7121\u52b9\u3067\u3059\u3002
-->
<!ATTLIST step maxWaitThreads CDATA #IMPLIED>

<!-- timeout\u5c5e\u6027\u306f\u3001step\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u30b9\u30c6\u30c3\u30d7\u306e\u540c\u6642\u5b9f\u884c\u5f85\u3061\u6642\u9593\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u540c\u6642\u5b9f\u884c\u6570\u304c\u9650\u754c\u307e\u3067\u6765\u3066\u3044\u308b\u6642\u306b\u3001\u540c\u6642\u5b9f\u884c\u6570\u306b\u7a7a\u304d\u304c\u51fa\u6765\u308b\u307e\u3067\u5f85\u6a5f\u3055\u305b\u3089\u308c\u307e\u3059\u3002
 \u305d\u306e\u969b\u306b\u3001\u8ae6\u3081\u305a\u306b\u5f85\u6a5f\u3059\u308b\u6642\u9593\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u6307\u5b9a\u3055\u308c\u305f\u6642\u9593\u3060\u3051\u5f85\u6a5f\u3057\u3066\u8ae6\u3081\u305f\u6642\u306f\u3001UnavailableFlowException\u3092throw\u3057\u307e\u3059\u3002
 \u3053\u306e\u5c5e\u6027\u3092\u5b9a\u7fa9\u3057\u306a\u3044\u5834\u5408\u306f\u3001\u7121\u9650\u306b\u5f85\u3061\u7d9a\u3051\u307e\u3059\u3002
 \u307e\u305f\u3001maxRunThreads\u5c5e\u6027\u304c\u6307\u5b9a\u3055\u308c\u3066\u3044\u306a\u3044\u5834\u5408\u306f\u3001\u7121\u52b9\u3067\u3059\u3002
-->
<!ATTLIST step timeout CDATA #IMPLIED>

<!-- forceFreeTimeout\u5c5e\u6027\u306f\u3001step\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u30b9\u30c6\u30c3\u30d7\u306e\u540c\u6642\u5b9f\u884c\u6570\u5236\u5fa1\u30bf\u30a4\u30e0\u30a2\u30a6\u30c8\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u540c\u6642\u5b9f\u884c\u6570\u5236\u5fa1\u3092\u884c\u3063\u3066\u3044\u308b\u5834\u5408\u3067\u3001\u5b9f\u884c\u6642\u9593\u304c\u3053\u306e\u6642\u9593\u3092\u904e\u304e\u305f\u5834\u5408\u306b\u306f\u3001\u305d\u306e\u30b9\u30ec\u30c3\u30c9\u304c\u78ba\u4fdd\u3057\u3066\u3044\u308b\u540c\u6642\u5b9f\u884c\u6570\u3092\u958b\u653e\u3059\u308b\u305f\u3081\u306e\u3082\u306e\u3067\u3059\u3002
 \u3053\u306e\u5c5e\u6027\u3092\u5b9a\u7fa9\u3057\u306a\u3044\u5834\u5408\u306f\u3001\u5b9f\u884c\u6642\u9593\u306f\u7121\u5236\u9650\u3067\u3059\u3002
 \u307e\u305f\u3001maxRunThreads\u5c5e\u6027\u304c\u6307\u5b9a\u3055\u308c\u3066\u3044\u306a\u3044\u5834\u5408\u306f\u3001\u7121\u52b9\u3067\u3059\u3002
-->
<!ATTLIST step forceFreeTimeout CDATA #IMPLIED>

<!-- journal\u5c5e\u6027\u306f\u3001step\u8981\u7d20\u3067\u30b8\u30e3\u30fc\u30ca\u30eb\u3092\u51fa\u529b\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u8981\u7d20\u306e\u5b50\u8981\u7d20\u5168\u3066\u306b\u9069\u7528\u3055\u308c\u308b\u3002
-->
<!ATTLIST step journal (true | false) "true">

<!-- suspend\u5c5e\u6027\u306f\u3001\u3053\u306estep\u8981\u7d20\u3067\u5b9f\u884c\u306e\u4e00\u6642\u4e2d\u65ad\u3092\u8a31\u5bb9\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST step suspend (true | false) "true">

<!-- stop\u5c5e\u6027\u306f\u3001\u3053\u306estep\u8981\u7d20\u3067\u5b9f\u884c\u306e\u505c\u6b62\u3092\u8a31\u5bb9\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST step stop (true | false) "true">

<!-- target\u8981\u7d20\u306f\u3001\u51e6\u7406\u306e\u5bfe\u8c61\u3068\u306a\u308b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u3092\u5b9a\u7fa9\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
 step\u8981\u7d20\u3068for\u8981\u7d20\u306e\u5b50\u8981\u7d20\u3068\u3057\u3066\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 step\u8981\u7d20\u306e\u5b50\u8981\u7d20\u3068\u3057\u3066\u5b9a\u7fa9\u3059\u308b\u5834\u5408\u306f\u3001\u305d\u306e\u30b9\u30c6\u30c3\u30d7\u3067\u5404\u30a4\u30f3\u30b8\u30a7\u30af\u30b7\u30e7\u30f3\u3092\u884c\u3046\u5bfe\u8c61\u306e\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 for\u8981\u7d20\u306e\u5b50\u8981\u7d20\u3068\u3057\u3066\u5b9a\u7fa9\u3059\u308b\u5834\u5408\u306f\u3001\u7e70\u308a\u8fd4\u3057\u5bfe\u8c61\u306e\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u7e70\u308a\u8fd4\u3057\u5bfe\u8c61\u306e\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306b\u306f\u3001\u4ee5\u4e0b\u306e\u30af\u30e9\u30b9\u306e\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u3092\u6307\u5b9a\u3067\u304d\u307e\u3059\u3002
 \u30fb\u4efb\u610f\u306e\u30af\u30e9\u30b9\u306e\u914d\u5217
 \u30fbjava.util.Collection\u30a4\u30f3\u30bf\u30d5\u30a7\u30fc\u30b9\u3092\u5b9f\u88c5\u3057\u305f\u30af\u30e9\u30b9
 \u30fbjava.sql.ResultSet\u30a4\u30f3\u30bf\u30d5\u30a7\u30fc\u30b9\u3092\u5b9f\u88c5\u3057\u305f\u30af\u30e9\u30b9
 \u30fbjp.ossc.nimbus.recset.RecordSet\u30af\u30e9\u30b9
-->
<!ELEMENT target (input | object | service-ref | resource-ref | step-ref | static-field-ref | static-invoke | var| expression)>

<!-- journal\u5c5e\u6027\u306f\u3001target\u8981\u7d20\u3067\u30b8\u30e3\u30fc\u30ca\u30eb\u3092\u51fa\u529b\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u8981\u7d20\u306e\u5b50\u8981\u7d20\u5168\u3066\u306b\u9069\u7528\u3055\u308c\u308b\u3002
-->
<!ATTLIST target journal (true | false) "true">

<!-- field\u8981\u7d20\u306f\u3001\u30d5\u30a3\u30fc\u30eb\u30c9\u30a4\u30f3\u30b8\u30a7\u30af\u30b7\u30e7\u30f3\u53ca\u3073\u30d5\u30a3\u30fc\u30eb\u30c9\u53c2\u7167\u3092\u5b9a\u7fa9\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
 object\u8981\u7d20\u3001step\u8981\u7d20\u306e\u5b50\u8981\u7d20\u3068\u3057\u3066\u5b9a\u7fa9\u3059\u308b\u5834\u5408\u306f\u3001\u30d5\u30a3\u30fc\u30eb\u30c9\u30a4\u30f3\u30b8\u30a7\u30af\u30b7\u30e7\u30f3\u3092\u884c\u3044\u307e\u3059\u3002
 result\u8981\u7d20\u306e\u5b50\u8981\u7d20\u3068\u3057\u3066\u5b9a\u7fa9\u3059\u308b\u5834\u5408\u306f\u3001\u30d5\u30a3\u30fc\u30eb\u30c9\u53c2\u7167\u3092\u884c\u3044\u307e\u3059\u3002
-->
<!ELEMENT field (#PCDATA | input | object | service-ref | resource-ref | step-ref | static-field-ref | static-invoke | var | this | expression)*>

<!-- name\u5c5e\u6027\u306f\u3001field\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u30d5\u30a3\u30fc\u30eb\u30c9\u306e\u30d5\u30a3\u30fc\u30eb\u30c9\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u3053\u3067\u6307\u5b9a\u3059\u308b\u540d\u524d\u306e\u30d5\u30a3\u30fc\u30eb\u30c9\u306f\u3001public\u306a\u30af\u30e9\u30b9\u306epublic\u306a\u30d5\u30a3\u30fc\u30eb\u30c9\u3067\u306a\u3051\u308c\u3070\u306a\u308a\u307e\u305b\u3093\u3002\u307e\u305f\u3001\u30d5\u30a3\u30fc\u30eb\u30c9\u540d\u306f\u5927\u6587\u5b57\u5c0f\u6587\u5b57\u3092\u533a\u5225\u3057\u307e\u3059\u3002
-->
<!ATTLIST field name CDATA #REQUIRED>

<!-- type\u5c5e\u6027\u306f\u3001field\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u30d5\u30a3\u30fc\u30eb\u30c9\u306e\u578b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u3053\u3067\u6307\u5b9a\u3059\u308b\u578b\u306f\u3001\u5b8c\u5168\u4fee\u98fe\u30af\u30e9\u30b9\u540d\u3067\u306a\u3051\u308c\u3070\u306a\u308a\u307e\u305b\u3093\u3002
 \u4f46\u3057\u3001\u914d\u5217\u30af\u30e9\u30b9\u306f\u3001\u5b8c\u5168\u4fee\u98fe\u30af\u30e9\u30b9\u540d\u306e\u5f8c\u308d\u306b[]\u3092\u4ed8\u4e0e\u3059\u308b\u4e8b\u3067\u8868\u73fe\u3067\u304d\u307e\u3059\u3002
-->
<!ATTLIST field type CDATA #IMPLIED>

<!-- nullValue\u5c5e\u6027\u306f\u3001\u5024\u304cnull\u3067\u3042\u308b\u4e8b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u30d5\u30a3\u30fc\u30eb\u30c9\u30a4\u30f3\u30b8\u30a7\u30af\u30b7\u30e7\u30f3\u306e\u5834\u5408\u306e\u307f\u6709\u52b9\u3067\u3059\u3002
-->
<!ATTLIST field nullValue (true|false) "false">

<!-- journal\u5c5e\u6027\u306f\u3001field\u8981\u7d20\u3067\u30b8\u30e3\u30fc\u30ca\u30eb\u3092\u51fa\u529b\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u8981\u7d20\u306e\u5b50\u8981\u7d20\u5168\u3066\u306b\u9069\u7528\u3055\u308c\u308b\u3002
-->
<!ATTLIST field journal (true | false) "true">

<!-- attribute\u8981\u7d20\u306f\u3001\u30d7\u30ed\u30d1\u30c6\u30a3\u30a4\u30f3\u30b8\u30a7\u30af\u30b7\u30e7\u30f3\u53ca\u3073\u30d7\u30ed\u30d1\u30c6\u30a3\u53c2\u7167\u3092\u5b9a\u7fa9\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
 object\u8981\u7d20\u3001step\u8981\u7d20\u306e\u5b50\u8981\u7d20\u3068\u3057\u3066\u5b9a\u7fa9\u3059\u308b\u5834\u5408\u306f\u3001\u30d7\u30ed\u30d1\u30c6\u30a3\u30a4\u30f3\u30b8\u30a7\u30af\u30b7\u30e7\u30f3\u3092\u884c\u3044\u307e\u3059\u3002
 result\u8981\u7d20\u306e\u5b50\u8981\u7d20\u3068\u3057\u3066\u5b9a\u7fa9\u3059\u308b\u5834\u5408\u306f\u3001\u30d7\u30ed\u30d1\u30c6\u30a3\u53c2\u7167\u3092\u884c\u3044\u307e\u3059\u3002
-->
<!ELEMENT attribute (#PCDATA | input | object | service-ref | resource-ref | step-ref | static-field-ref | static-invoke | var | this | expression)*>

<!-- name\u5c5e\u6027\u306f\u3001attribute\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u30d7\u30ed\u30d1\u30c6\u30a3\u306e\u30d7\u30ed\u30d1\u30c6\u30a3\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u3053\u3067\u6307\u5b9a\u3059\u308b\u540d\u524d\u306e\u30d7\u30ed\u30d1\u30c6\u30a3\u306f\u3001public\u306a\u30af\u30e9\u30b9\u306epublic\u306a\u30d7\u30ed\u30d1\u30c6\u30a3\u3067\u306a\u3051\u308c\u3070\u306a\u308a\u307e\u305b\u3093\u3002\u307e\u305f\u3001\u30d7\u30ed\u30d1\u30c6\u30a3\u540d\u306f\u6700\u521d\u306e1\u6587\u5b57\u4ee5\u5916\u306f\u5927\u6587\u5b57\u5c0f\u6587\u5b57\u3092\u533a\u5225\u3057\u307e\u3059\u3002
 \u30d7\u30ed\u30d1\u30c6\u30a3\u306e\u6982\u5ff5\u306f\u3001Java Beans\u306e\u30d7\u30ed\u30d1\u30c6\u30a3\u306e\u6982\u5ff5\u3088\u308a\u5e83\u304f\u3001jp.ossc.nimbus.beans.PropertyFactory\u306e\u898f\u7d04\u306b\u5f93\u3044\u307e\u3059\u3002
 Java Beans\u306e\u3088\u3046\u306a\u5358\u7d14\u306a\u30d7\u30ed\u30d1\u30c6\u30a3\u306b\u52a0\u3048\u3001java.util.Map\u306a\u3069\u306e\u30de\u30c3\u30d7\u30d7\u30ed\u30d1\u30c6\u30a3\u3084java.util.List\u3001\u914d\u5217\u306a\u3069\u306e\u30a4\u30f3\u30c7\u30c3\u30af\u30b9\u30d7\u30ed\u30d1\u30c6\u30a3\u3001\u307e\u305f\u305d\u308c\u3089\u304c\u30cd\u30b9\u30c8\u3057\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u306a\u3069\u3082\u30b5\u30dd\u30fc\u30c8\u3057\u307e\u3059\u3002
-->
<!ATTLIST attribute name CDATA #REQUIRED>

<!-- type\u5c5e\u6027\u306f\u3001attribute\u8981\u7d20\u306e\u5185\u5bb9\u3067\u5b9a\u7fa9\u3059\u308b\u30d7\u30ed\u30d1\u30c6\u30a3\u5024\u306e\u578b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u3053\u3067\u6307\u5b9a\u3059\u308b\u578b\u306f\u3001\u5b8c\u5168\u4fee\u98fe\u30af\u30e9\u30b9\u540d\u3067\u306a\u3051\u308c\u3070\u306a\u308a\u307e\u305b\u3093\u3002
 \u4f46\u3057\u3001\u914d\u5217\u30af\u30e9\u30b9\u306f\u3001\u5b8c\u5168\u4fee\u98fe\u30af\u30e9\u30b9\u540d\u306e\u5f8c\u308d\u306b[]\u3092\u4ed8\u4e0e\u3059\u308b\u4e8b\u3067\u8868\u73fe\u3067\u304d\u307e\u3059\u3002
-->
<!ATTLIST attribute type CDATA #IMPLIED>

<!-- nullValue\u5c5e\u6027\u306f\u3001\u5024\u304cnull\u3067\u3042\u308b\u4e8b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u30d7\u30ed\u30d1\u30c6\u30a3\u30a4\u30f3\u30b8\u30a7\u30af\u30b7\u30e7\u30f3\u306e\u5834\u5408\u306e\u307f\u6709\u52b9\u3067\u3059\u3002
-->
<!ATTLIST attribute nullValue (true|false) "false">

<!-- journal\u5c5e\u6027\u306f\u3001attribute\u8981\u7d20\u3067\u30b8\u30e3\u30fc\u30ca\u30eb\u3092\u51fa\u529b\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u8981\u7d20\u306e\u5b50\u8981\u7d20\u5168\u3066\u306b\u9069\u7528\u3055\u308c\u308b\u3002
-->
<!ATTLIST attribute journal (true | false) "true">

<!-- narrowCast\u5c5e\u6027\u306f\u3001\u6570\u5024\u578b\u306e\u30c0\u30a6\u30f3\u30ad\u30e3\u30b9\u30c8\u3092\u8a31\u53ef\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST attribute narrowCast (true|false) "false">

<!-- invoke\u8981\u7d20\u306f\u3001\u30e1\u30bd\u30c3\u30c9\u30a4\u30f3\u30b8\u30a7\u30af\u30b7\u30e7\u30f3\u53ca\u3073\u30e1\u30bd\u30c3\u30c9\u547c\u3073\u51fa\u3057\u7d50\u679c\u53c2\u7167\u3092\u5b9a\u7fa9\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
 object\u8981\u7d20\u3001step\u8981\u7d20\u306e\u5b50\u8981\u7d20\u3068\u3057\u3066\u5b9a\u7fa9\u3059\u308b\u5834\u5408\u306f\u3001\u30e1\u30bd\u30c3\u30c9\u30a4\u30f3\u30b8\u30a7\u30af\u30b7\u30e7\u30f3\u3092\u884c\u3044\u307e\u3059\u3002
 result\u8981\u7d20\u306e\u5b50\u8981\u7d20\u3068\u3057\u3066\u5b9a\u7fa9\u3059\u308b\u5834\u5408\u306f\u3001\u30e1\u30bd\u30c3\u30c9\u547c\u3073\u51fa\u3057\u7d50\u679c\u53c2\u7167\u3092\u884c\u3044\u307e\u3059\u3002
 \u30e1\u30bd\u30c3\u30c9\u306b\u5f15\u6570\u304c\u3042\u308b\u5834\u5408\u306f\u3001\u5b50\u8981\u7d20\u306bargument\u8981\u7d20\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
-->
<!ELEMENT invoke (argument*)>

<!-- name\u5c5e\u6027\u306f\u3001invoke\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u30e1\u30bd\u30c3\u30c9\u547c\u3073\u51fa\u3057\u306e\u30e1\u30bd\u30c3\u30c9\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u3053\u3067\u6307\u5b9a\u3059\u308b\u540d\u524d\u306e\u30e1\u30bd\u30c3\u30c9\u306f\u3001public\u306a\u30af\u30e9\u30b9\u306epublic\u306a\u30e1\u30bd\u30c3\u30c9\u3067\u306a\u3051\u308c\u3070\u306a\u308a\u307e\u305b\u3093\u3002\u307e\u305f\u3001\u30e1\u30bd\u30c3\u30c9\u540d\u306f\u5927\u6587\u5b57\u5c0f\u6587\u5b57\u3092\u533a\u5225\u3057\u307e\u3059\u3002
-->
<!ATTLIST invoke name CDATA #REQUIRED>

<!-- journal\u5c5e\u6027\u306f\u3001invoke\u8981\u7d20\u3067\u30b8\u30e3\u30fc\u30ca\u30eb\u3092\u51fa\u529b\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u8981\u7d20\u306e\u5b50\u8981\u7d20\u5168\u3066\u306b\u9069\u7528\u3055\u308c\u308b\u3002
-->
<!ATTLIST invoke journal (true | false) "true">

<!-- result\u8981\u7d20\u306f\u3001\u89aa\u8981\u7d20\u306estep\u8981\u7d20\u304c\u8868\u3059\u30b9\u30c6\u30c3\u30d7\u306e\u7d50\u679c\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u30b9\u30c6\u30c3\u30d7\u306b\u7d50\u679c\u304c\u5fc5\u8981\u306a\u5834\u5408\u306b\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u8981\u7d20\u306b\u3088\u3063\u3066\u5b9a\u7fa9\u3055\u308c\u305f\u30b9\u30c6\u30c3\u30d7\u7d50\u679c\u306f\u3001step-ref\u8981\u7d20\u3067\u53c2\u7167\u3059\u308b\u4e8b\u304c\u3067\u304d\u307e\u3059\u3002
 \u4f46\u3057\u3001step\u8981\u7d20\u306bname\u5c5e\u6027\u3092\u6307\u5b9a\u3057\u306a\u3051\u308c\u3070\u306a\u308a\u307e\u305b\u3093\u3002
-->
<!ELEMENT result (#PCDATA | attribute | field | invoke | this | input | static-invoke | static-field-ref | object | expression | step-ref | var | service-ref)*>

<!-- journal\u5c5e\u6027\u306f\u3001result\u8981\u7d20\u3067\u30b8\u30e3\u30fc\u30ca\u30eb\u3092\u51fa\u529b\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u8981\u7d20\u306e\u5b50\u8981\u7d20\u5168\u3066\u306b\u9069\u7528\u3055\u308c\u308b\u3002
-->
<!ATTLIST result journal (true | false) "true">

<!-- callflow\u8981\u7d20\u306f\u3001\u5b50\u30d5\u30ed\u30fc\u547c\u3073\u51fa\u3057\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u5b50\u30d5\u30ed\u30fc\u306b\u5f15\u6570\u3092\u6e21\u3059\u5834\u5408\u306f\u3001\u5b50\u8981\u7d20\u306bargument\u8981\u7d20\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u307e\u305f\u3001\u5b50\u30d5\u30ed\u30fc\u306e\u547c\u3073\u51fa\u3057\u7d50\u679c\u306f\u3001\u30b9\u30c6\u30c3\u30d7\u7d50\u679c\u306e\u53c2\u7167\u3068\u540c\u69d8\u3067\u3001step-ref\u8981\u7d20\u3067\u884c\u3044\u307e\u3059\u3002
-->
<!ELEMENT callflow (override*, argument*, catch*, finally?, callback?)>

<!-- name\u5c5e\u6027\u306f\u3001callflow\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u5b50\u30d5\u30ed\u30fc\u547c\u3073\u51fa\u3057\u306e\u5b50\u30d5\u30ed\u30fc\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST callflow name CDATA #REQUIRED>

<!-- stepname\u5c5e\u6027\u306f\u3001callflow\u8981\u7d20\u306e\u30b9\u30c6\u30c3\u30d7\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u5b9a\u7fa9\u3057\u306a\u3044\u5834\u5408\u306f\u3001name\u5c5e\u6027\u3067\u6307\u5b9a\u3057\u305f\u5b50\u30d5\u30ed\u30fc\u540d\u304c\u305d\u306e\u307e\u307e\u30b9\u30c6\u30c3\u30d7\u540d\u306b\u306a\u308a\u307e\u3059\u3002
-->
<!ATTLIST callflow stepname CDATA #IMPLIED>

<!-- transaction\u5c5e\u6027\u306f\u3001callflow\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u696d\u52d9\u30d5\u30ed\u30fc\u306e\u30c8\u30e9\u30f3\u30b6\u30af\u30b7\u30e7\u30f3\u5c5e\u6027\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 "NotSupported"\u4ee5\u5916\u306e\u5024\u3092\u6307\u5b9a\u3057\u305f\u5834\u5408\u306f\u3001JTA\u3092\u4f7f\u7528\u3057\u3066\u30c8\u30e9\u30f3\u30b6\u30af\u30b7\u30e7\u30f3\u5236\u5fa1\u3092\u884c\u3046\u305f\u3081\u3001JTA\u5b9f\u88c5\u3092\u6301\u3063\u305fJ2EE\u30b3\u30f3\u30c6\u30ca\u4e0a\u3067\u52d5\u4f5c\u3055\u305b\u308b\u5fc5\u8981\u304c\u3042\u308a\u307e\u3059\u3002
 \u307e\u305f\u3001\u3053\u306e\u5c5e\u6027\u304c\u6307\u5b9a\u3055\u308c\u3066\u3044\u306a\u3044\u5834\u5408\u306f\u3001\u547c\u3073\u51fa\u3057\u5bfe\u8c61\u3068\u306a\u308bflow\u8981\u7d20\u306etransaction\u5c5e\u6027\u306b\u4f9d\u5b58\u3057\u307e\u3059\u3002
-->
<!ATTLIST callflow transaction (Required|RequiresNew|Supports|Mandatory|Never|NotSupported) #IMPLIED>

<!-- trantimeout\u5c5e\u6027\u306f\u3001callflow\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u696d\u52d9\u30d5\u30ed\u30fc\u306e\u30c8\u30e9\u30f3\u30b6\u30af\u30b7\u30e7\u30f3\u30bf\u30a4\u30e0\u30a2\u30a6\u30c8[s]\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u307e\u305f\u3001transaction\u5c5e\u6027\u304c\u6307\u5b9a\u3055\u308c\u3066\u3044\u306a\u3044\u5834\u5408\u306f\u3001\u7121\u52b9\u3067\u3059\u3002
-->
<!ATTLIST callflow trantimeout CDATA #IMPLIED>

<!-- factory\u5c5e\u6027\u306f\u3001callflow\u8981\u7d20\u3067\u547c\u3073\u51fa\u3059\u696d\u52d9\u30d5\u30ed\u30fc\u306eBeanFlowInvoker\u3092\u751f\u6210\u3059\u308bBeanFlowInvokerFactory\u30b5\u30fc\u30d3\u30b9\u306e\u30b5\u30fc\u30d3\u30b9\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 factory\u5c5e\u6027\u304c\u6307\u5b9a\u3055\u308c\u3066\u3044\u306a\u3044\u5834\u5408\u306f\u3001\u3053\u306e\u696d\u52d9\u30d5\u30ed\u30fc\u306eBeanFlowInvoker\u3092\u751f\u6210\u3057\u305fBeanFlowInvokerFactory\u30b5\u30fc\u30d3\u30b9\u3092\u4f7f\u7528\u3057\u307e\u3059\u3002
-->
<!ATTLIST callflow factory CDATA #IMPLIED>

<!-- override\u5c5e\u6027\u306f\u3001callflow\u8981\u7d20\u3067\u547c\u3073\u51fa\u3059\u696d\u52d9\u30d5\u30ed\u30fc\u3067\u3001\u547c\u3073\u51fa\u3055\u308c\u305f\u5074\u3067\u30aa\u30fc\u30d0\u30fc\u30e9\u30a4\u30c9\u3092\u8003\u616e\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u5b50\u8981\u7d20\u306boverride\u8981\u7d20\u304c\u3042\u308b\u5834\u5408\u306f\u3001\u6697\u9ed9\u7684\u306bfalse\u306b\u306a\u308a\u307e\u3059\u3002
-->
<!ATTLIST callflow override (true|false) "true">

<!-- asynch\u5c5e\u6027\u306f\u3001callflow\u8981\u7d20\u3067\u547c\u3073\u51fa\u3059\u696d\u52d9\u30d5\u30ed\u30fc\u3092\u975e\u540c\u671f\u3067\u5b9f\u884c\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST callflow asynch (true|false) "false">

<!-- reply\u5c5e\u6027\u306f\u3001callflow\u8981\u7d20\u3067\u975e\u540c\u671f\u547c\u3073\u51fa\u3057\u3092\u884c\u3063\u305f\u5834\u5408\u306e\u5fdc\u7b54\u3092\u5fc5\u8981\u3068\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 asynch\u5c5e\u6027\u304cfalse\u306e\u5834\u5408\u306f\u3001\u7121\u52b9\u3067\u3059\u3002
-->
<!ATTLIST callflow reply (true|false) "false">

<!-- maxAsynchWait\u5c5e\u6027\u306f\u3001callflow\u8981\u7d20\u3067\u975e\u540c\u671f\u547c\u3073\u51fa\u3057\u3092\u884c\u3063\u305f\u5834\u5408\u306e\u975e\u540c\u671f\u5b9f\u884c\u5f85\u6a5f\u6570\u306e\u6700\u5927\u5024\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u975e\u540c\u671f\u5b9f\u884c\u5f85\u6a5f\u6570\u304c\u591a\u3044\u6642\u306f\u3001\u975e\u540c\u671f\u5b9f\u884c\u30b9\u30ec\u30c3\u30c9\u306b\u7a7a\u304d\u304c\u51fa\u6765\u308b\u307e\u3067\u5f85\u6a5f\u3055\u305b\u3089\u308c\u307e\u3059\u3002
 \u305d\u306e\u969b\u306b\u3001\u5f85\u6a5f\u3057\u3066\u3044\u308b\u6570\u304c\u591a\u3044\u5834\u5408\u306f\u3001\u9577\u3044\u6642\u9593\u5f85\u305f\u3055\u308c\u308b\u53ef\u80fd\u6027\u304c\u3042\u308a\u307e\u3059\u3002
 \u305d\u306e\u305f\u3081\u3001\u305d\u306e\u5f85\u6a5f\u6570\u304c\u591a\u3044\u5834\u5408\u306f\u3001\u5f85\u305f\u305a\u306b\u8ae6\u3081\u305f\u3044\u3053\u3068\u304c\u3042\u308a\u307e\u3059\u3002
 \u3053\u306e\u5c5e\u6027\u306f\u3001\u305d\u306e\u5f85\u6a5f\u6570\u306e\u6700\u5927\u5024\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u5f85\u6a5f\u305b\u305a\u306b\u8ae6\u3081\u305f\u6642\u306f\u3001UnavailableFlowException\u3092throw\u3057\u307e\u3059\u3002
 \u3053\u306e\u5c5e\u6027\u3092\u5b9a\u7fa9\u3057\u306a\u3044\u5834\u5408\u306f\u3001\u975e\u540c\u671f\u5b9f\u884c\u5f85\u6a5f\u6570\u306e\u5236\u9650\u306f\u3042\u308a\u307e\u305b\u3093\u3002
 \u307e\u305f\u3001asynch\u5c5e\u6027\u304cfalse\u306e\u5834\u5408\u306f\u3001\u7121\u52b9\u3067\u3059\u3002
-->
<!ATTLIST callflow maxAsynchWait CDATA #IMPLIED>

<!-- journal\u5c5e\u6027\u306f\u3001callflow\u8981\u7d20\u3067\u30b8\u30e3\u30fc\u30ca\u30eb\u3092\u51fa\u529b\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u8981\u7d20\u306e\u5b50\u8981\u7d20\u5168\u3066\u306b\u9069\u7528\u3055\u308c\u308b\u3002
-->
<!ATTLIST callflow journal (true | false) "true">

<!-- callback\u8981\u7d20\u306f\u3001\u975e\u540c\u671f\u5b50\u30d5\u30ed\u30fc\u547c\u3073\u51fa\u3057\u306e\u30b3\u30fc\u30eb\u30d0\u30c3\u30af\u30d5\u30ed\u30fc\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u30b3\u30fc\u30eb\u30d0\u30c3\u30af\u30d5\u30ed\u30fc\u306b\u30d1\u30e9\u30e1\u30fc\u30bf\u3092\u6e21\u3059\u5834\u5408\u306f\u3001\u5b50\u8981\u7d20\u306battribute\u8981\u7d20\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ELEMENT callback (override*, attribute*)>

<!-- name\u5c5e\u6027\u306f\u3001callback\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u30b3\u30fc\u30eb\u30d0\u30c3\u30af\u30d5\u30ed\u30fc\u547c\u3073\u51fa\u3057\u306e\u30b3\u30fc\u30eb\u30d0\u30c3\u30af\u30d5\u30ed\u30fc\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST callback name CDATA #REQUIRED>

<!-- reply\u8981\u7d20\u306f\u3001\u975e\u540c\u671f\u5b50\u30d5\u30ed\u30fc\u547c\u3073\u51fa\u3057\u306e\u5fdc\u7b54\u306e\u53d6\u5f97\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u5b50\u30d5\u30ed\u30fc\u306b\u5f15\u6570\u3092\u6e21\u3059\u5834\u5408\u306f\u3001\u5b50\u8981\u7d20\u306bargument\u8981\u7d20\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u307e\u305f\u3001\u5b50\u30d5\u30ed\u30fc\u306e\u547c\u3073\u51fa\u3057\u7d50\u679c\u306f\u3001\u30b9\u30c6\u30c3\u30d7\u7d50\u679c\u306e\u53c2\u7167\u3068\u540c\u69d8\u3067\u3001step-ref\u8981\u7d20\u3067\u884c\u3044\u307e\u3059\u3002
-->
<!ELEMENT reply (catch*, finally?)>

<!-- name\u5c5e\u6027\u306f\u3001reply\u8981\u7d20\u306e\u30b9\u30c6\u30c3\u30d7\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST reply name CDATA #IMPLIED>

<!-- stepname\u5c5e\u6027\u306f\u3001reply\u8981\u7d20\u3067\u53d6\u5f97\u3059\u308b\u975e\u540c\u671f\u5b50\u30d5\u30ed\u30fc\u547c\u3073\u51fa\u3057\u3067\u3042\u308bcallflow\u8981\u7d20\u306e\u30b9\u30c6\u30c3\u30d7\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u5b9a\u7fa9\u3057\u306a\u3044\u5834\u5408\u306f\u3001name\u5c5e\u6027\u3067\u6307\u5b9a\u3057\u305f\u30b9\u30c6\u30c3\u30d7\u540d\u304c\u305d\u306e\u307e\u307ecallflow\u8981\u7d20\u306e\u30b9\u30c6\u30c3\u30d7\u540d\u306b\u306a\u308a\u307e\u3059\u3002
-->
<!ATTLIST reply stepname CDATA #IMPLIED>

<!-- timeout\u5c5e\u6027\u306f\u3001reply\u8981\u7d20\u3067\u975e\u540c\u671f\u5b50\u30d5\u30ed\u30fc\u547c\u3073\u51fa\u3057\u306e\u5fdc\u7b54\u5f85\u3061\u30bf\u30a4\u30e0\u30a2\u30a6\u30c8[ms]\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u307e\u305f\u3001timeout\u5c5e\u6027\u304c\u6307\u5b9a\u3055\u308c\u3066\u3044\u306a\u3044\u5834\u5408\u306f\u3001\u7121\u9650\u5f85\u3061\u3057\u307e\u3059\u3002
-->
<!ATTLIST reply timeout CDATA #IMPLIED>

<!-- cancel\u5c5e\u6027\u306f\u3001\u5fdc\u7b54\u5f85\u3061\u3067\u30bf\u30a4\u30e0\u30a2\u30a6\u30c8\u3057\u305f\u5834\u5408\u306b\u975e\u540c\u671f\u547c\u3073\u51fa\u3057\u3092\u30ad\u30e3\u30f3\u30bb\u30eb\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 timeout\u5c5e\u6027\u3092\u6307\u5b9a\u3057\u3066\u3044\u306a\u3044\u5834\u5408\u306f\u3001\u7121\u52b9\u3067\u3059\u3002
-->
<!ATTLIST reply cancel (true|false) "true">

<!-- overwrid\u8981\u7d20\u306f\u3001callflow\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u5b50\u30d5\u30ed\u30fc\u547c\u3073\u51fa\u3057\u306e\u4e0a\u66f8\u304d\u5b50\u30d5\u30ed\u30fc\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u4e0a\u66f8\u304d\u5b50\u30d5\u30ed\u30fc\u540d\u306b\u306f\u3001"${\u30b9\u30ec\u30c3\u30c9\u30b3\u30f3\u30c6\u30ad\u30b9\u30c8\u30d7\u30ed\u30d1\u30c6\u30a3\u540d}"\u3092\u542b\u3080\u4e8b\u304c\u53ef\u80fd\u3067\u3001
 \u4e88\u3081\u30b9\u30ec\u30c3\u30c9\u30b3\u30f3\u30c6\u30ad\u30b9\u30c8\u4e0a\u306b\u3001\u4e0a\u66f8\u304d\u5b50\u30d5\u30ed\u30fc\u540d\u306e\u4e00\u90e8\u3068\u306a\u308b\u540d\u524d\u3092\u8a2d\u5b9a\u3057\u3066\u304a\u3051\u3070\u3001
 \u547c\u3073\u51fa\u3059\u30d5\u30ed\u30fc\u540d\u3092\u52d5\u7684\u306b\u5909\u3048\u308b\u4e8b\u304c\u3067\u304d\u308b\u3002\u4e0a\u66f8\u304d\u5b50\u30d5\u30ed\u30fc\u540d\u306e\u30d5\u30ed\u30fc\u304c\u5b58\u5728\u3057\u306a\u3044\u5834\u5408\u306f\u3001name\u5c5e\u6027\u3067\u6307\u5b9a\u3057\u305f\u5b50\u30d5\u30ed\u30fc\u540d\u304c\u9069\u7528\u3055\u308c\u308b\u3002
-->
<!ELEMENT override EMPTY>

<!-- name\u5c5e\u6027\u306f\u3001\u4e0a\u66f8\u304d\u5b50\u30d5\u30ed\u30fc\u540d\u3092\u5b9a\u7fa9\u3059\u308b\u5c5e\u6027\u3067\u3059\u3002
-->
<!ATTLIST override name CDATA #REQUIRED>

<!-- switch\u8981\u7d20\u306f\u3001\u30d5\u30ed\u30fc\u4e2d\u3067\u6761\u4ef6\u9078\u629e\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
\u5404\u6761\u4ef6\u306f\u3001\u5b50\u8981\u7d20\u306ecase\u8981\u7d20\u306b\u6307\u5b9a\u3057\u3001\u305d\u306e\u6761\u4ef6\u306b\u8a72\u5f53\u3059\u308b\u5834\u5408\u306e\u51e6\u7406\u306f\u3001case\u8981\u7d20\u306e\u5b50\u8981\u7d20\u306b\u5b9a\u7fa9\u3057\u307e\u3059\u3002
\u307e\u305f\u3001\u5168\u3066\u306ecase\u8981\u7d20\u306e\u6761\u4ef6\u306b\u4e00\u81f4\u3057\u306a\u3044\u5834\u5408\u306e\u51e6\u7406\u3092\u5b9a\u7fa9\u3057\u305f\u3044\u5834\u5408\u306f\u3001default\u8981\u7d20\u3092\u5b9a\u7fa9\u3057\u3066\u3001\u305d\u306e\u5b50\u8981\u7d20\u306b\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ELEMENT switch (case+, default?)>

<!-- journal\u5c5e\u6027\u306f\u3001switch\u8981\u7d20\u3067\u30b8\u30e3\u30fc\u30ca\u30eb\u3092\u51fa\u529b\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u8981\u7d20\u306e\u5b50\u8981\u7d20\u5168\u3066\u306b\u9069\u7528\u3055\u308c\u308b\u3002
-->
<!ATTLIST switch journal (true | false) "true">

<!-- case\u8981\u7d20\u306f\u3001switch\u8981\u7d20\u306b\u3088\u308b\u6761\u4ef6\u9078\u629e\u4e2d\u306e1\u6761\u4ef6\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u6761\u4ef6\u306b\u4e00\u81f4\u3059\u308b\u5834\u5408\u306e\u51e6\u7406\u3092\u3001\u5b50\u8981\u7d20\u306b\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ELEMENT case ((test? | step* | callflow* | reply* | switch* | if* | for* | while* | break? | continue? | return? | throw?), finally?)*>

<!-- test\u5c5e\u6027\u306f\u3001case\u8981\u7d20\u304c\u8868\u3059\u6761\u4ef6\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u5c5e\u6027\u306e\u5024\u306b\u306f\u3001@\u3067\u56f2\u3093\u3060\u30ad\u30fc\u3068\u305d\u306e\u30ad\u30fc\u5024\u306b\u5bfe\u3059\u308b\u6761\u4ef6\u5f0f\u3092\u8a18\u8ff0\u3057\u307e\u3059\u3002
 \u30ad\u30fc\u3067\u306f\u3001\u4ee5\u4e0b\u306e\u3082\u306e\u304c\u53c2\u7167\u3067\u304d\u307e\u3059\u3002
 (1)\u30b9\u30c6\u30c3\u30d7
   \u30b9\u30c6\u30c3\u30d7\u306e\u53c2\u7167\u3067\u306f\u3001\u30b9\u30c6\u30c3\u30d7\u306e\u5bfe\u8c61\u3068\u7d50\u679c\u3092\u53c2\u7167\u3059\u308b\u4e8b\u304c\u3067\u304d\u307e\u3059\u3002
   \u30fb\u30b9\u30c6\u30c3\u30d7\u306e\u5bfe\u8c61 : @\u30b9\u30c6\u30c3\u30d7\u540d.target@
   \u30fb\u30b9\u30c6\u30c3\u30d7\u306e\u7d50\u679c : @\u30b9\u30c6\u30c3\u30d7\u540d.result@ \u307e\u305f\u306f @\u30b9\u30c6\u30c3\u30d7\u540d@
   \u30fb\u3053\u306e\u8981\u7d20\u306e\u89aa\u8981\u7d20\u30b9\u30c6\u30c3\u30d7\u306e\u5bfe\u8c61\uff1a@this@
   \u30fb\u30b9\u30c6\u30c3\u30d7\u81ea\u4f53\uff1a\u30b9\u30c6\u30c3\u30d7\u540d
  \u307e\u305f\u3001\u30b9\u30c6\u30c3\u30d7\u306e\u5bfe\u8c61\u53ca\u3073\u7d50\u679c\u306e\u30d7\u30ed\u30d1\u30c6\u30a3\u3092\u53c2\u7167\u3059\u308b\u4e8b\u3082\u3067\u304d\u307e\u3059\u3002
  \u305d\u306e\u5834\u5408\u306f\u3001\u4e0a\u8a18\u306e\u8868\u73fe\u306e\u5f8c\u306b\u3001\u30d7\u30ed\u30d1\u30c6\u30a3\u3092\u8868\u73fe\u3059\u308b\u6587\u5b57\u5217\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
  \u3053\u3053\u3067\u8a00\u3046\u3001\u30d7\u30ed\u30d1\u30c6\u30a3\u306e\u6982\u5ff5\u306f\u3001Java Beans\u306e\u30d7\u30ed\u30d1\u30c6\u30a3\u306e\u6982\u5ff5\u3088\u308a\u5e83\u304f\u3001jp.ossc.nimbus.beans.PropertyFactory\u306e\u898f\u7d04\u306b\u5f93\u3044\u307e\u3059\u3002
  Java Beans\u306e\u3088\u3046\u306a\u5358\u7d14\u306a\u30d7\u30ed\u30d1\u30c6\u30a3\u306b\u52a0\u3048\u3001java.util.Map\u306a\u3069\u306e\u30de\u30c3\u30d7\u30d7\u30ed\u30d1\u30c6\u30a3\u3084java.util.List\u3001\u914d\u5217\u306a\u3069\u306e\u30a4\u30f3\u30c7\u30c3\u30af\u30b9\u30d7\u30ed\u30d1\u30c6\u30a3\u3001\u307e\u305f\u305d\u308c\u3089\u304c\u30cd\u30b9\u30c8\u3057\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u306a\u3069\u3082\u30b5\u30dd\u30fc\u30c8\u3057\u307e\u3059\u3002
   \u4f8b : @\u30b9\u30c6\u30c3\u30d7\u540d.hoge[0].fuga@
   
 (2)\u30d5\u30ed\u30fc\u306e\u5165\u529b
   \u30d5\u30ed\u30fc\u306e\u5165\u529b\u3092\u53c2\u7167\u3059\u308b\u5834\u5408\u306b\u306f\u3001@input@\u3068\u6307\u5b9a\u3057\u307e\u3059\u3002
   input-def\u8981\u7d20\u3067\u540d\u524d\u5ba3\u8a00\u3057\u305f\u3082\u306e\u3092\u53c2\u7167\u3059\u308b\u5834\u5408\u306f\u3001@inputDef(\u5909\u6570\u540d)@\u3068\u6307\u5b9a\u3057\u307e\u3059\u3002
   \u30b9\u30c6\u30c3\u30d7\u306e\u53c2\u7167\u3068\u540c\u69d8\u306b\u30d5\u30ed\u30fc\u306e\u5165\u529b\u306e\u30d7\u30ed\u30d1\u30c6\u30a3\u3082\u6307\u5b9a\u3067\u304d\u307e\u3059\u3002
   
 (3)\u7e70\u308a\u8fd4\u3057\u5909\u6570
   \u7e70\u308a\u8fd4\u3057\u5909\u6570\u3092\u53c2\u7167\u3059\u308b\u5834\u5408\u306b\u306f\u3001@var(\u5909\u6570\u540d)@\u3068\u6307\u5b9a\u3057\u307e\u3059\u3002\u307e\u305f\u3001\u5909\u6570\u540d\u306e\u307f\u3067\u3082\u53c2\u7167\u3067\u304d\u308b\u3088\u3046\u306b\u306a\u308a\u307e\u3057\u305f\u3002
   \u30b9\u30c6\u30c3\u30d7\u306e\u53c2\u7167\u3068\u540c\u69d8\u306b\u7e70\u308a\u8fd4\u3057\u5909\u6570\u306e\u30d7\u30ed\u30d1\u30c6\u30a3\u3082\u6307\u5b9a\u3067\u304d\u307e\u3059\u3002
 
 \u6761\u4ef6\u5f0f\u306f\u3001The Apache Jakarta Project\u306e Commons Jexl(http://jakarta.apache.org/commons/jexl/)\u3092\u4f7f\u7528\u3057\u307e\u3059\u3002
 \u307e\u305f\u3001\u6761\u4ef6\u5f0f\u306e\u7d50\u679c\u306f\u5fc5\u305aboolean\u3067\u306a\u3051\u308c\u3070\u306a\u308a\u307e\u305b\u3093\u3002
   \u4f8b : test='@\u30b9\u30c6\u30c3\u30d7\u540d.hoge[0].fuga@ == "HOGE"'
-->
<!ATTLIST case test CDATA #IMPLIED>

<!-- nullCheck\u5c5e\u6027\u306f\u3001test\u5c5e\u6027\u3067\u3001\u30d7\u30ed\u30d1\u30c6\u30a3\u8868\u73fe\u306e\u30ad\u30fc\u3092\u6307\u5b9a\u3057\u305f\u5834\u5408\u306b\u3001\u30cd\u30b9\u30c8\u3055\u308c\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u304cnull\u304b\u3069\u3046\u304b\u3092\u30c1\u30a7\u30c3\u30af\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u8a2d\u5b9a\u3057\u307e\u3059\u3002
 true\u3092\u8a2d\u5b9a\u3057\u305f\u5834\u5408\u306f\u3001\u30cd\u30b9\u30c8\u3055\u308c\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u304cnull\u306e\u5834\u5408\u3001jp.ossc.nimbus.beans.NoSuchPropertyException\u304c\u767a\u751f\u3057\u307e\u3059\u3002
 \u30c7\u30d5\u30a9\u30eb\u30c8\u306f\u3001false\u3067\u3001\u30cd\u30b9\u30c8\u3055\u308c\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u304cnull\u306e\u5834\u5408\u3001\u305d\u306e\u30ad\u30fc\u306fnull\u3068\u307f\u306a\u3055\u308c\u307e\u3059\u3002
-->
<!ATTLIST case nullCheck (true | false) "false">


<!-- default\u8981\u7d20\u306f\u3001switch\u8981\u7d20\u306b\u3088\u308b\u6761\u4ef6\u9078\u629e\u4e2d\u306e\u6761\u4ef6\u5916\u306e\u6761\u4ef6\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u5168\u3066\u306ecase\u8981\u7d20\u306e\u6761\u4ef6\u306b\u8a72\u5f53\u3057\u306a\u3044\u5834\u5408\u306e\u51e6\u7406\u3092\u3001\u5b50\u8981\u7d20\u306b\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ELEMENT default ((step* | callflow* | reply* | switch* | if* | for* | while* | break? | continue? | return? | throw?)*, finally?)>

<!-- if\u8981\u7d20\u306f\u3001\u4e00\u5b9a\u6761\u4ef6\u4e0b\u3067\u306e\u51e6\u7406\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u6761\u4ef6\u306b\u4e00\u81f4\u3059\u308b\u5834\u5408\u306e\u51e6\u7406\u3092\u3001\u5b50\u8981\u7d20\u306b\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ELEMENT if ((test? | step* | callflow* | reply* | switch* | if* | for* | while* | break? | continue? | return? | throw?)*, finally?) >

<!-- test\u5c5e\u6027\u306f\u3001if\u8981\u7d20\u304c\u8868\u3059\u6761\u4ef6\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 case\u8981\u7d20\u306etest\u5c5e\u6027\u3068\u540c\u69d8\u306e\u5024\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST if test CDATA #IMPLIED>

<!-- nullCheck\u5c5e\u6027\u306f\u3001test\u5c5e\u6027\u3067\u3001\u30d7\u30ed\u30d1\u30c6\u30a3\u8868\u73fe\u306e\u30ad\u30fc\u3092\u6307\u5b9a\u3057\u305f\u5834\u5408\u306b\u3001\u30cd\u30b9\u30c8\u3055\u308c\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u304cnull\u304b\u3069\u3046\u304b\u3092\u30c1\u30a7\u30c3\u30af\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u8a2d\u5b9a\u3057\u307e\u3059\u3002
 case\u8981\u7d20\u306enullCheck\u5c5e\u6027\u3068\u540c\u69d8\u306e\u5024\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST if nullCheck (true | false) "false">

<!-- journal\u5c5e\u6027\u306f\u3001if\u8981\u7d20\u3067\u30b8\u30e3\u30fc\u30ca\u30eb\u3092\u51fa\u529b\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u8981\u7d20\u306e\u5b50\u8981\u7d20\u5168\u3066\u306b\u9069\u7528\u3055\u308c\u308b\u3002
-->
<!ATTLIST if journal (true | false) "true">

<!-- test\u8981\u7d20\u306f\u3001\u6761\u4ef6\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 case\u8981\u7d20\u306etest\u5c5e\u6027\u3068\u540c\u69d8\u306e\u5024\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 XML\u30a8\u30b9\u30b1\u30fc\u30d7\u3092\u610f\u8b58\u3057\u305f\u304f\u306a\u3044\u5834\u5408\u306f\u3001\u5b50\u8981\u7d20\u306e\u30b3\u30e1\u30f3\u30c8\u30a2\u30a6\u30c8\u5185\u306b\u6761\u4ef6\u3092\u8a18\u8ff0\u3067\u304d\u307e\u3059\u3002
-->
<!ELEMENT test (#PCDATA)>

<!-- for\u8981\u7d20\u306f\u3001\u7e70\u308a\u8fd4\u3057\u51e6\u7406\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u7e70\u308a\u8fd4\u3057\u5bfe\u8c61\u306e\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u3092\u5b50\u8981\u7d20\u306etarget\u8981\u7d20\u3067\u6307\u5b9a\u3057\u307e\u3059\u3002
 \u7e70\u308a\u8fd4\u3057\u5bfe\u8c61\u306e\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306b\u306f\u3001\u4ee5\u4e0b\u306e\u30af\u30e9\u30b9\u306e\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u3092\u6307\u5b9a\u3067\u304d\u307e\u3059\u3002
 \u30fb\u4efb\u610f\u306e\u30af\u30e9\u30b9\u306e\u914d\u5217
 \u30fbjava.util.Collection\u30a4\u30f3\u30bf\u30d5\u30a7\u30fc\u30b9\u3092\u5b9f\u88c5\u3057\u305f\u30af\u30e9\u30b9
 \u30fbjava.util.Enumeration\u30a4\u30f3\u30bf\u30d5\u30a7\u30fc\u30b9\u3092\u5b9f\u88c5\u3057\u305f\u30af\u30e9\u30b9
 \u30fbjava.sql.ResultSet\u30a4\u30f3\u30bf\u30d5\u30a7\u30fc\u30b9\u3092\u5b9f\u88c5\u3057\u305f\u30af\u30e9\u30b9
 \u30fbjp.ossc.nimbus.recset.RecordSet\u30a4\u30f3\u30bf\u30d5\u30a7\u30fc\u30b9\u3092\u5b9f\u88c5\u3057\u305f\u30af\u30e9\u30b9
 
 \u7e70\u308a\u8fd4\u3057\u5909\u6570\u540d\u3092var\u5c5e\u6027\u3067\u5fc5\u305a\u6307\u5b9a\u3057\u307e\u3059\u3002
 \u7e70\u308a\u8fd4\u3057\u5909\u6570\u306f\u3001var\u8981\u7d20\u3067\u53c2\u7167\u3059\u308b\u4e8b\u304c\u3067\u304d\u307e\u3059\u3002
 
 \u7e70\u308a\u8fd4\u3057\u5bfe\u8c61\u306e\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u3092\u6307\u5b9a\u3057\u306a\u3044\u5834\u5408\u306f\u3001end\u5c5e\u6027\u3067\u6307\u5b9a\u3057\u305f\u56de\u6570\u5206\u3001\u5b50\u8981\u7d20\u306e\u30b9\u30c6\u30c3\u30d7\u3092\u5b9f\u884c\u3057\u307e\u3059\u3002
-->
<!ELEMENT for (target?, (step* | callflow* | reply* | switch* | if* | for* | while* | break? | continue? | return? | throw?)*, finally?)>

<!-- var\u5c5e\u6027\u306f\u3001\u7e70\u308a\u8fd4\u3057\u5909\u6570\u306e\u5909\u6570\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u3053\u3067\u5b9a\u7fa9\u3057\u305f\u5909\u6570\u540d\u3067\u3001var\u8981\u7d20\u3092\u4f7f\u3063\u3066\u53c2\u7167\u3059\u308b\u4e8b\u304c\u3067\u304d\u307e\u3059\u3002
-->
<!ATTLIST for var CDATA #IMPLIED>

<!-- index\u5c5e\u6027\u306f\u3001\u73fe\u5728\u306e\u7e70\u308a\u8fd4\u3057\u56de\u6570\u306e\u5909\u6570\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u3053\u3067\u5b9a\u7fa9\u3057\u305f\u5909\u6570\u540d\u3067\u3001var\u8981\u7d20\u3092\u4f7f\u3063\u3066\u53c2\u7167\u3059\u308b\u4e8b\u304c\u3067\u304d\u307e\u3059\u3002
-->
<!ATTLIST for index CDATA #IMPLIED>

<!-- begin\u5c5e\u6027\u306f\u3001\u7e70\u308a\u8fd4\u3057\u958b\u59cb\u756a\u53f7\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u5c5e\u6027\u3092\u6307\u5b9a\u3057\u306a\u3044\u5834\u5408\u306f\u30010\u756a\u76ee\u304b\u3089\u7e70\u308a\u8fd4\u3057\u307e\u3059\u3002
 \u6570\u5024\u3092\u76f4\u63a5\u8a18\u8ff0\u3059\u308b\u4ee5\u5916\u306b\u3082\u3001expression\u8981\u7d20\u3068\u540c\u3058\u5f0f\u8868\u73fe\u3067\u6570\u5024\u3092\u8868\u73fe\u3059\u308b\u4e8b\u3082\u3067\u304d\u307e\u3059\u3002
-->
<!ATTLIST for begin CDATA #IMPLIED>

<!-- end\u5c5e\u6027\u306f\u3001\u7e70\u308a\u8fd4\u3057\u7d42\u4e86\u756a\u53f7\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u5c5e\u6027\u3092\u6307\u5b9a\u3057\u306a\u3044\u5834\u5408\u306f\u3001\u7e70\u308a\u8fd4\u3057\u5bfe\u8c61\u306e\u9577\u3055\u5206\u3060\u3051\u7e70\u308a\u8fd4\u3057\u307e\u3059\u3002
 \u3053\u306e\u5c5e\u6027\u3092\u6307\u5b9a\u3057\u305f\u5834\u5408\u3067\u3001\u7e70\u308a\u8fd4\u3057\u5bfe\u8c61\u306e\u9577\u3055\u3088\u308a\u3082\u5927\u304d\u306a\u6570\u5024\u3092\u6307\u5b9a\u3057\u305f\u5834\u5408\u306b\u306f\u3001\u7e70\u308a\u8fd4\u3057\u5bfe\u8c61\u306e\u9577\u3055\u5206\u3060\u3051\u7e70\u308a\u8fd4\u3057\u307e\u3059\u3002
 \u6570\u5024\u3092\u76f4\u63a5\u8a18\u8ff0\u3059\u308b\u4ee5\u5916\u306b\u3082\u3001expression\u8981\u7d20\u3068\u540c\u3058\u5f0f\u8868\u73fe\u3067\u6570\u5024\u3092\u8868\u73fe\u3059\u308b\u4e8b\u3082\u3067\u304d\u307e\u3059\u3002
-->
<!ATTLIST for end CDATA #IMPLIED>

<!-- journal\u5c5e\u6027\u306f\u3001for\u8981\u7d20\u3067\u30b8\u30e3\u30fc\u30ca\u30eb\u3092\u51fa\u529b\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u8981\u7d20\u306e\u5b50\u8981\u7d20\u5168\u3066\u306b\u9069\u7528\u3055\u308c\u308b\u3002
-->
<!ATTLIST for journal (true | false) "true">

<!-- journalOnlyLast\u5c5e\u6027\u306f\u3001for\u8981\u7d20\u3067\u30b8\u30e3\u30fc\u30ca\u30eb\u3092\u51fa\u529b\u3059\u308b\u5834\u5408\u306b\u3001\u6700\u5f8c\u306e\u30eb\u30fc\u30d7\u306e\u307f\u51fa\u529b\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST for journalOnlyLast (true | false) "false">

<!-- while\u8981\u7d20\u306f\u3001\u4e00\u5b9a\u6761\u4ef6\u4e0b\u3067\u306e\u51e6\u7406\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u6761\u4ef6\u306b\u4e00\u81f4\u3059\u308b\u5834\u5408\u306e\u51e6\u7406\u3092\u3001\u5b50\u8981\u7d20\u306b\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ELEMENT while ((test? | step* | callflow* | reply* | switch* | if* | for* | while* | break? | continue? | return? | throw?)*, finally?)>

<!-- test\u5c5e\u6027\u306f\u3001while\u8981\u7d20\u304c\u8868\u3059\u6761\u4ef6\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 case\u8981\u7d20\u306etest\u5c5e\u6027\u3068\u540c\u69d8\u306e\u5024\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST while test CDATA #IMPLIED>

<!-- nullCheck\u5c5e\u6027\u306f\u3001test\u5c5e\u6027\u3067\u3001\u30d7\u30ed\u30d1\u30c6\u30a3\u8868\u73fe\u306e\u30ad\u30fc\u3092\u6307\u5b9a\u3057\u305f\u5834\u5408\u306b\u3001\u30cd\u30b9\u30c8\u3055\u308c\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u304cnull\u304b\u3069\u3046\u304b\u3092\u30c1\u30a7\u30c3\u30af\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u8a2d\u5b9a\u3057\u307e\u3059\u3002
 case\u8981\u7d20\u306enullCheck\u5c5e\u6027\u3068\u540c\u69d8\u306e\u5024\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST while nullCheck (true | false) "false">

<!-- do\u5c5e\u6027\u306f\u3001while\u8981\u7d20\u3067\u6761\u4ef6\u5224\u5b9a\u3088\u308a\u5148\u306b\u5b50\u8981\u7d20\u306e\u30b9\u30c6\u30c3\u30d7\u3092\u5b9f\u884c\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST while do (true | false) "false">

<!-- journal\u5c5e\u6027\u306f\u3001while\u8981\u7d20\u3067\u30b8\u30e3\u30fc\u30ca\u30eb\u3092\u51fa\u529b\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u8981\u7d20\u306e\u5b50\u8981\u7d20\u5168\u3066\u306b\u9069\u7528\u3055\u308c\u308b\u3002
-->
<!ATTLIST while journal (true | false) "true">

<!-- journalOnlyLast\u5c5e\u6027\u306f\u3001while\u8981\u7d20\u3067\u30b8\u30e3\u30fc\u30ca\u30eb\u3092\u51fa\u529b\u3059\u308b\u5834\u5408\u306b\u3001\u6700\u5f8c\u306e\u30eb\u30fc\u30d7\u306e\u307f\u51fa\u529b\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST while journalOnlyLast (true | false) "false">

<!-- object\u8981\u7d20\u306f\u3001\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306e\u751f\u6210\u3092\u5b9a\u7fa9\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
 \u5b50\u8981\u7d20\u3067\u3001\u4ee5\u4e0b\u306e\u30a4\u30f3\u30b8\u30a7\u30af\u30b7\u30e7\u30f3\u3092\u884c\u3046\u4e8b\u304c\u3067\u304d\u307e\u3059\u3002
 \u30fb\u30b3\u30f3\u30b9\u30c8\u30e9\u30af\u30bf\u30a4\u30f3\u30b8\u30a7\u30af\u30b7\u30e7\u30f3
 \u30fb\u30d5\u30a3\u30fc\u30eb\u30c9\u30a4\u30f3\u30b8\u30a7\u30af\u30b7\u30e7\u30f3
 \u30fb\u30d7\u30ed\u30d1\u30c6\u30a3\u30a4\u30f3\u30b8\u30a7\u30af\u30b7\u30e7\u30f3
 \u30fb\u30e1\u30bd\u30c3\u30c9\u30a4\u30f3\u30b8\u30a7\u30af\u30b7\u30e7\u30f3
-->
<!ELEMENT object (constructor?, (field* | attribute* | invoke*)*)>

<!-- code\u5c5e\u6027\u306f\u3001object\u8981\u7d20\u3067\u751f\u6210\u3059\u308b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u306e\u30af\u30e9\u30b9\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u30af\u30e9\u30b9\u540d\u306f\u3001\u5b8c\u5168\u4fee\u98fe\u30af\u30e9\u30b9\u540d\u3067\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u307e\u305f\u3001\u914d\u5217\u30af\u30e9\u30b9\u306f\u3001\u5b8c\u5168\u4fee\u98fe\u30af\u30e9\u30b9\u540d\u306e\u5f8c\u308d\u306b[]\u3092\u4ed8\u4e0e\u3059\u308b\u4e8b\u3067\u8868\u73fe\u3067\u304d\u307e\u3059\u3002
-->
<!ATTLIST object code CDATA #REQUIRED>

<!-- journal\u5c5e\u6027\u306f\u3001object\u8981\u7d20\u3067\u30b8\u30e3\u30fc\u30ca\u30eb\u3092\u51fa\u529b\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u8981\u7d20\u306e\u5b50\u8981\u7d20\u5168\u3066\u306b\u9069\u7528\u3055\u308c\u308b\u3002
-->
<!ATTLIST object journal (true | false) "true">

<!-- constructor\u8981\u7d20\u306f\u3001\u30b3\u30f3\u30b9\u30c8\u30e9\u30af\u30bf\u30a4\u30f3\u30b8\u30a7\u30af\u30b7\u30e7\u30f3\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u5f15\u6570\u3042\u308a\u306e\u30b3\u30f3\u30b9\u30c8\u30e9\u30af\u30bf\u3092\u4f7f\u7528\u3057\u3066\u30a4\u30f3\u30b9\u30bf\u30f3\u30b9\u3092\u751f\u6210\u3057\u305f\u3044\u5834\u5408\u306b\u3001\u4f7f\u7528\u3057\u307e\u3059\u3002
 \u3053\u306e\u8981\u7d20\u3092\u6307\u5b9a\u3057\u306a\u3044\u5834\u5408\u306b\u306f\u3001\u30c7\u30d5\u30a9\u30eb\u30c8\u30b3\u30f3\u30b9\u30c8\u30e9\u30af\u30bf\u3067\u30a4\u30f3\u30b9\u30bf\u30f3\u30b9\u751f\u6210\u304c\u884c\u308f\u308c\u307e\u3059\u3002
-->
<!ELEMENT constructor (argument+ | static-field-ref | static-invoke)*>

<!-- argument\u8981\u7d20\u306f\u3001\u30b3\u30f3\u30b9\u30c8\u30e9\u30af\u30bf\u30a4\u30f3\u30b8\u30a7\u30af\u30b7\u30e7\u30f3\u3084\u30e1\u30bd\u30c3\u30c9\u30e1\u30bd\u30c3\u30c9\u30a4\u30f3\u30b8\u30a7\u30af\u30b7\u30e7\u30f3\u3001\u5b50\u30d5\u30ed\u30fc\u547c\u3073\u51fa\u3057\u306e\u5f15\u6570\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ELEMENT argument (#PCDATA | input | object | service-ref | resource-ref | step-ref | static-field-ref | static-invoke | var | this | expression)*>

<!-- type\u5c5e\u6027\u306f\u3001argument\u8981\u7d20\u306e\u89aa\u8981\u7d20\u304c\u8868\u3059\u30e1\u30bd\u30c3\u30c9\u306e\u5f15\u6570\u306e\u578b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 argument\u8981\u7d20\u306e\u5185\u5bb9\u307e\u305f\u306f\u5b50\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u5f15\u6570\u5024\u306e\u578b\u304c\u3001\u30e1\u30bd\u30c3\u30c9\u306e\u5f15\u6570\u306e\u578b\u3068\u7570\u306a\u308b\u5834\u5408\u306b\u3001\u30e1\u30bd\u30c3\u30c9\u306e\u5f15\u6570\u306e\u578b\u3092\u660e\u793a\u3059\u308b\u305f\u3081\u306b\u4f7f\u7528\u3057\u307e\u3059\u3002
 argument\u8981\u7d20\u306e\u5185\u5bb9\u307e\u305f\u306f\u5b50\u8981\u7d20\u3067\u5b9a\u7fa9\u3059\u308b\u5f15\u6570\u5024\u306e\u578b\u304c\u3001\u30e1\u30bd\u30c3\u30c9\u306e\u5f15\u6570\u306e\u578b\u3068\u7b49\u3057\u3044\u5834\u5408\u306b\u306f\u3001\u6307\u5b9a\u3059\u308b\u5fc5\u8981\u306f\u3042\u308a\u307e\u305b\u3093\u3002
 \u3053\u3053\u3067\u6307\u5b9a\u3059\u308b\u578b\u306f\u3001\u5b8c\u5168\u4fee\u98fe\u30af\u30e9\u30b9\u540d\u3067\u306a\u3051\u308c\u3070\u306a\u308a\u307e\u305b\u3093\u3002
 \u4f46\u3057\u3001\u914d\u5217\u30af\u30e9\u30b9\u306f\u3001\u5b8c\u5168\u4fee\u98fe\u30af\u30e9\u30b9\u540d\u306e\u5f8c\u308d\u306b[]\u3092\u4ed8\u4e0e\u3059\u308b\u4e8b\u3067\u8868\u73fe\u3067\u304d\u307e\u3059\u3002
-->
<!ATTLIST argument type CDATA #IMPLIED>

<!-- valueType\u5c5e\u6027\u306f\u3001argument\u8981\u7d20\u306e\u5185\u5bb9\u3067\u5b9a\u7fa9\u3059\u308b\u5024\u306e\u578b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u30e1\u30bd\u30c3\u30c9\u306e\u5f15\u6570\u306e\u578b\u3068\u3001argument\u8981\u7d20\u306e\u5185\u5bb9\u3067\u5b9a\u7fa9\u3059\u308b\u5024\u306e\u578b\u304c\u4ee3\u5165\u4e92\u63db\u306e\u95a2\u4fc2\u306b\u3042\u308b\u304c\u7570\u306a\u308b\u578b\u3067\u3042\u308b\u6642\u306b\u3001argument\u8981\u7d20\u306e\u5185\u5bb9\u3067\u5b9a\u7fa9\u3059\u308b\u5024\u306e\u578b\u3092\u660e\u793a\u3059\u308b\u305f\u3081\u306b\u4f7f\u7528\u3057\u307e\u3059\u3002
 \u30e1\u30bd\u30c3\u30c9\u306e\u5f15\u6570\u306e\u578b\u3068\u3001argument\u8981\u7d20\u306e\u5185\u5bb9\u3067\u5b9a\u7fa9\u3059\u308b\u5024\u306e\u578b\u304c\u7b49\u3057\u3044\u5834\u5408\u306b\u306f\u3001\u6307\u5b9a\u3059\u308b\u5fc5\u8981\u306f\u3042\u308a\u307e\u305b\u3093\u3002
 \u3053\u3053\u3067\u6307\u5b9a\u3059\u308b\u578b\u306f\u3001\u5b8c\u5168\u4fee\u98fe\u30af\u30e9\u30b9\u540d\u3067\u306a\u3051\u308c\u3070\u306a\u308a\u307e\u305b\u3093\u3002
 \u4f46\u3057\u3001\u914d\u5217\u30af\u30e9\u30b9\u306f\u3001\u5b8c\u5168\u4fee\u98fe\u30af\u30e9\u30b9\u540d\u306e\u5f8c\u308d\u306b[]\u3092\u4ed8\u4e0e\u3059\u308b\u4e8b\u3067\u8868\u73fe\u3067\u304d\u307e\u3059\u3002
-->
<!ATTLIST argument valueType CDATA #IMPLIED>

<!-- nullValue\u5c5e\u6027\u306f\u3001\u5f15\u6570\u304cnull\u3067\u3042\u308b\u4e8b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST argument nullValue (true|false) "false">

<!-- narrowCast\u5c5e\u6027\u306f\u3001\u6570\u5024\u578b\u306e\u30c0\u30a6\u30f3\u30ad\u30e3\u30b9\u30c8\u3092\u8a31\u53ef\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST argument narrowCast (true|false) "false">

<!-- input-def\u8981\u7d20\u306f\u3001\u30d5\u30ed\u30fc\u306e\u5165\u529b\u3092\u53c2\u7167\u3057\u3066\u540d\u524d\u5b9a\u7fa9\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
 \u30d5\u30ed\u30fc\u306e\u5165\u529b\u306e\u30d7\u30ed\u30d1\u30c6\u30a3\u3092\u3001\u5185\u5bb9\u306b\u30d7\u30ed\u30d1\u30c6\u30a3\u540d\u3092\u6307\u5b9a\u3057\u3066\u53c2\u7167\u3057\u307e\u3059\u3002
 \u3053\u3053\u3067\u8a00\u3046\u3001\u30d7\u30ed\u30d1\u30c6\u30a3\u306e\u6982\u5ff5\u306f\u3001Java Beans\u306e\u30d7\u30ed\u30d1\u30c6\u30a3\u306e\u6982\u5ff5\u3088\u308a\u5e83\u304f\u3001jp.ossc.nimbus.beans.PropertyFactory\u306e\u898f\u7d04\u306b\u5f93\u3044\u307e\u3059\u3002
 Java Beans\u306e\u3088\u3046\u306a\u5358\u7d14\u306a\u30d7\u30ed\u30d1\u30c6\u30a3\u306b\u52a0\u3048\u3001java.util.Map\u306a\u3069\u306e\u30de\u30c3\u30d7\u30d7\u30ed\u30d1\u30c6\u30a3\u3084java.util.List\u3001\u914d\u5217\u306a\u3069\u306e\u30a4\u30f3\u30c7\u30c3\u30af\u30b9\u30d7\u30ed\u30d1\u30c6\u30a3\u3001\u307e\u305f\u305d\u308c\u3089\u304c\u30cd\u30b9\u30c8\u3057\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u306a\u3069\u3082\u30b5\u30dd\u30fc\u30c8\u3057\u307e\u3059\u3002
-->
<!ELEMENT input-def (#PCDATA)>

<!-- name\u5c5e\u6027\u306f\u3001input-def\u8981\u7d20\u3067\u5ba3\u8a00\u3059\u308b\u540d\u524d\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
 \u3053\u3053\u3067\u5ba3\u8a00\u3057\u305f\u540d\u524d\u306f\u3001input\u8981\u7d20\u306ename\u5c5e\u6027\u3067\u6307\u5b9a\u3057\u3066\u3001\u5024\u3092\u53c2\u7167\u3067\u304d\u307e\u3059\u3002
-->
<!ATTLIST input-def name CDATA #REQUIRED>

<!-- nullCheck\u5c5e\u6027\u306f\u3001input-def\u8981\u7d20\u306e\u5185\u5bb9\u3067\u3001\u30d7\u30ed\u30d1\u30c6\u30a3\u8868\u73fe\u3092\u6307\u5b9a\u3057\u305f\u5834\u5408\u306b\u3001\u30cd\u30b9\u30c8\u3055\u308c\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u304cnull\u304b\u3069\u3046\u304b\u3092\u30c1\u30a7\u30c3\u30af\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u8a2d\u5b9a\u3057\u307e\u3059\u3002
 true\u3092\u8a2d\u5b9a\u3057\u305f\u5834\u5408\u306f\u3001\u30cd\u30b9\u30c8\u3055\u308c\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u304cnull\u306e\u5834\u5408\u3001jp.ossc.nimbus.beans.NoSuchPropertyException\u304c\u767a\u751f\u3057\u307e\u3059\u3002
 \u30c7\u30d5\u30a9\u30eb\u30c8\u306f\u3001false\u3067\u3001\u30cd\u30b9\u30c8\u3055\u308c\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u304cnull\u306e\u5834\u5408\u3001\u305d\u306e\u30d7\u30ed\u30d1\u30c6\u30a3\u306fnull\u3068\u307f\u306a\u3055\u308c\u307e\u3059\u3002
-->
<!ATTLIST input-def nullCheck (true | false) "false">

<!-- input\u8981\u7d20\u306f\u3001\u30d5\u30ed\u30fc\u306e\u5165\u529b\u3092\u53c2\u7167\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
 \u30d5\u30ed\u30fc\u306e\u5165\u529b\u306e\u30d7\u30ed\u30d1\u30c6\u30a3\u3092\u53c2\u7167\u3059\u308b\u5834\u5408\u306f\u3001\u5185\u5bb9\u306b\u30d7\u30ed\u30d1\u30c6\u30a3\u540d\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
 \u3053\u3053\u3067\u8a00\u3046\u3001\u30d7\u30ed\u30d1\u30c6\u30a3\u306e\u6982\u5ff5\u306f\u3001Java Beans\u306e\u30d7\u30ed\u30d1\u30c6\u30a3\u306e\u6982\u5ff5\u3088\u308a\u5e83\u304f\u3001jp.ossc.nimbus.beans.PropertyFactory\u306e\u898f\u7d04\u306b\u5f93\u3044\u307e\u3059\u3002
 Java Beans\u306e\u3088\u3046\u306a\u5358\u7d14\u306a\u30d7\u30ed\u30d1\u30c6\u30a3\u306b\u52a0\u3048\u3001java.util.Map\u306a\u3069\u306e\u30de\u30c3\u30d7\u30d7\u30ed\u30d1\u30c6\u30a3\u3084java.util.List\u3001\u914d\u5217\u306a\u3069\u306e\u30a4\u30f3\u30c7\u30c3\u30af\u30b9\u30d7\u30ed\u30d1\u30c6\u30a3\u3001\u307e\u305f\u305d\u308c\u3089\u304c\u30cd\u30b9\u30c8\u3057\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u306a\u3069\u3082\u30b5\u30dd\u30fc\u30c8\u3057\u307e\u3059\u3002
-->
<!ELEMENT input (#PCDATA)>

<!-- name\u5c5e\u6027\u306f\u3001input-def\u8981\u7d20\u3067\u5ba3\u8a00\u3057\u305f\u540d\u524d\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
 input-def\u8981\u7d20\u3067\u5ba3\u8a00\u3057\u305fname\u5c5e\u6027\u306e\u5024\u3092\u6307\u5b9a\u3059\u308b\u3053\u3068\u3067\u3001\u305d\u306e\u5024\u3092\u53c2\u7167\u3067\u304d\u307e\u3059\u3002
-->
<!ATTLIST input name CDATA #IMPLIED>

<!-- nullCheck\u5c5e\u6027\u306f\u3001input\u8981\u7d20\u306e\u5185\u5bb9\u3067\u3001\u30d7\u30ed\u30d1\u30c6\u30a3\u8868\u73fe\u3092\u6307\u5b9a\u3057\u305f\u5834\u5408\u306b\u3001\u30cd\u30b9\u30c8\u3055\u308c\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u304cnull\u304b\u3069\u3046\u304b\u3092\u30c1\u30a7\u30c3\u30af\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u8a2d\u5b9a\u3057\u307e\u3059\u3002
 true\u3092\u8a2d\u5b9a\u3057\u305f\u5834\u5408\u306f\u3001\u30cd\u30b9\u30c8\u3055\u308c\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u304cnull\u306e\u5834\u5408\u3001jp.ossc.nimbus.beans.NoSuchPropertyException\u304c\u767a\u751f\u3057\u307e\u3059\u3002
 \u30c7\u30d5\u30a9\u30eb\u30c8\u306f\u3001false\u3067\u3001\u30cd\u30b9\u30c8\u3055\u308c\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u304cnull\u306e\u5834\u5408\u3001\u305d\u306e\u30d7\u30ed\u30d1\u30c6\u30a3\u306fnull\u3068\u307f\u306a\u3055\u308c\u307e\u3059\u3002
-->
<!ATTLIST input nullCheck (true | false) "false">

<!-- service-ref\u8981\u7d20\u306f\u3001\u30b5\u30fc\u30d3\u30b9\u3092\u53c2\u7167\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
 \u5185\u5bb9\u306b\u30b5\u30fc\u30d3\u30b9\u540d\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
 \u30b5\u30fc\u30d3\u30b9\u540d\u306f\u3001\u30de\u30cd\u30fc\u30b8\u30e3\u540d#\u30b5\u30fc\u30d3\u30b9\u540d\u306e\u5f62\u5f0f\u3067\u6307\u5b9a\u3057\u307e\u3059\u3002
-->
<!ELEMENT service-ref (#PCDATA | input | object | static-invoke | static-field-ref | step-ref | var | expression)*>

<!-- resource-ref\u8981\u7d20\u306f\u3001\u30ea\u30bd\u30fc\u30b9\u3092\u53c2\u7167\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
 \u53c2\u7167\u3057\u305f\u3044\u30ea\u30bd\u30fc\u30b9\u3092\u5b9a\u7fa9\u3057\u305fresource\u8981\u7d20\u306ename\u5c5e\u6027\u3067\u306e\u5024\u3092\u3001\u3053\u306e\u8981\u7d20\u306e\u5185\u5bb9\u306b\u6307\u5b9a\u3057\u307e\u3059\u3002
-->
<!ELEMENT resource-ref (#PCDATA)>

<!-- raw\u5c5e\u6027\u306f\u3001resource-ref\u8981\u7d20\u3067\u53c2\u7167\u3059\u308bTransactionResource\u3092\u305d\u306e\u307e\u307e\u53c2\u7167\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 true\u3092\u6307\u5b9a\u3057\u305f\u5834\u5408\u306f\u3001TransactionResource\u305d\u306e\u3082\u306e\u3092\u53c2\u7167\u3057\u307e\u3059\u3002
 \u30c7\u30d5\u30a9\u30eb\u30c8\u306ffalse\u3067\u3001TransactionResource#getObject()\u3067\u53d6\u5f97\u3055\u308c\u308b\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u3092\u53c2\u7167\u3057\u307e\u3059\u3002
-->
<!ATTLIST resource-ref raw  (true | false) "false">

<!-- step\u8981\u7d20\u306f\u3001\u30b9\u30c6\u30c3\u30d7\u3092\u53c2\u7167\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
 \u30b9\u30c6\u30c3\u30d7\u306e\u53c2\u7167\u3067\u306f\u3001\u30b9\u30c6\u30c3\u30d7\u306e\u5bfe\u8c61\u3068\u7d50\u679c\u3092\u53c2\u7167\u3059\u308b\u4e8b\u304c\u3067\u304d\u307e\u3059\u3002
 \u30fb\u30b9\u30c6\u30c3\u30d7\u306e\u5bfe\u8c61 : \u30b9\u30c6\u30c3\u30d7\u540d.target
 \u30fb\u30b9\u30c6\u30c3\u30d7\u306e\u7d50\u679c : \u30b9\u30c6\u30c3\u30d7\u540d.result \u307e\u305f\u306f \u30b9\u30c6\u30c3\u30d7\u540d
 \u307e\u305f\u3001\u30b9\u30c6\u30c3\u30d7\u306e\u5bfe\u8c61\u53ca\u3073\u7d50\u679c\u306e\u30d7\u30ed\u30d1\u30c6\u30a3\u3092\u53c2\u7167\u3059\u308b\u4e8b\u3082\u3067\u304d\u307e\u3059\u3002
 \u305d\u306e\u5834\u5408\u306f\u3001\u4e0a\u8a18\u306e\u8868\u73fe\u306e\u5f8c\u306b\u3001\u30d7\u30ed\u30d1\u30c6\u30a3\u3092\u8868\u73fe\u3059\u308b\u6587\u5b57\u5217\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
 \u3053\u3053\u3067\u8a00\u3046\u3001\u30d7\u30ed\u30d1\u30c6\u30a3\u306e\u6982\u5ff5\u306f\u3001Java Beans\u306e\u30d7\u30ed\u30d1\u30c6\u30a3\u306e\u6982\u5ff5\u3088\u308a\u5e83\u304f\u3001jp.ossc.nimbus.beans.PropertyFactory\u306e\u898f\u7d04\u306b\u5f93\u3044\u307e\u3059\u3002
 Java Beans\u306e\u3088\u3046\u306a\u5358\u7d14\u306a\u30d7\u30ed\u30d1\u30c6\u30a3\u306b\u52a0\u3048\u3001java.util.Map\u306a\u3069\u306e\u30de\u30c3\u30d7\u30d7\u30ed\u30d1\u30c6\u30a3\u3084java.util.List\u3001\u914d\u5217\u306a\u3069\u306e\u30a4\u30f3\u30c7\u30c3\u30af\u30b9\u30d7\u30ed\u30d1\u30c6\u30a3\u3001\u307e\u305f\u305d\u308c\u3089\u304c\u30cd\u30b9\u30c8\u3057\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u306a\u3069\u3082\u30b5\u30dd\u30fc\u30c8\u3057\u307e\u3059\u3002
  \u4f8b : \u30b9\u30c6\u30c3\u30d7\u540d.hoge[0].fuga
-->
<!ELEMENT step-ref (#PCDATA)>

<!-- nullCheck\u5c5e\u6027\u306f\u3001step-ref\u8981\u7d20\u306e\u5185\u5bb9\u3067\u3001\u30d7\u30ed\u30d1\u30c6\u30a3\u8868\u73fe\u3092\u6307\u5b9a\u3057\u305f\u5834\u5408\u306b\u3001\u30cd\u30b9\u30c8\u3055\u308c\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u304cnull\u304b\u3069\u3046\u304b\u3092\u30c1\u30a7\u30c3\u30af\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u8a2d\u5b9a\u3057\u307e\u3059\u3002
 true\u3092\u8a2d\u5b9a\u3057\u305f\u5834\u5408\u306f\u3001\u30cd\u30b9\u30c8\u3055\u308c\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u304cnull\u306e\u5834\u5408\u3001jp.ossc.nimbus.beans.NoSuchPropertyException\u304c\u767a\u751f\u3057\u307e\u3059\u3002
 \u30c7\u30d5\u30a9\u30eb\u30c8\u306f\u3001false\u3067\u3001\u30cd\u30b9\u30c8\u3055\u308c\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u304cnull\u306e\u5834\u5408\u3001\u305d\u306e\u30d7\u30ed\u30d1\u30c6\u30a3\u306fnull\u3068\u307f\u306a\u3055\u308c\u307e\u3059\u3002
-->
<!ATTLIST step-ref nullCheck (true | false) "false">

<!-- var\u8981\u7d20\u306f\u3001\u7e70\u308a\u8fd4\u3057\u5909\u6570\u3092\u53c2\u7167\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
 \u3053\u306e\u8981\u7d20\u306e\u5185\u5bb9\u306b\u3001\u7e70\u308a\u8fd4\u3057\u5909\u6570\u540d\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
 \u307e\u305f\u3001\u7e70\u308a\u8fd4\u3057\u5909\u6570\u306e\u30d7\u30ed\u30d1\u30c6\u30a3\u3092\u53c2\u7167\u3059\u308b\u4e8b\u3082\u3067\u304d\u307e\u3059\u3002
 \u305d\u306e\u5834\u5408\u306f\u3001\u4e0a\u8a18\u306e\u8868\u73fe\u306e\u5f8c\u306b\u3001\u30d7\u30ed\u30d1\u30c6\u30a3\u3092\u8868\u73fe\u3059\u308b\u6587\u5b57\u5217\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
 \u3053\u3053\u3067\u8a00\u3046\u3001\u30d7\u30ed\u30d1\u30c6\u30a3\u306e\u6982\u5ff5\u306f\u3001Java Beans\u306e\u30d7\u30ed\u30d1\u30c6\u30a3\u306e\u6982\u5ff5\u3088\u308a\u5e83\u304f\u3001jp.ossc.nimbus.beans.PropertyFactory\u306e\u898f\u7d04\u306b\u5f93\u3044\u307e\u3059\u3002
 Java Beans\u306e\u3088\u3046\u306a\u5358\u7d14\u306a\u30d7\u30ed\u30d1\u30c6\u30a3\u306b\u52a0\u3048\u3001java.util.Map\u306a\u3069\u306e\u30de\u30c3\u30d7\u30d7\u30ed\u30d1\u30c6\u30a3\u3084java.util.List\u3001\u914d\u5217\u306a\u3069\u306e\u30a4\u30f3\u30c7\u30c3\u30af\u30b9\u30d7\u30ed\u30d1\u30c6\u30a3\u3001\u307e\u305f\u305d\u308c\u3089\u304c\u30cd\u30b9\u30c8\u3057\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u306a\u3069\u3082\u30b5\u30dd\u30fc\u30c8\u3057\u307e\u3059\u3002
  \u4f8b : \u7e70\u308a\u8fd4\u3057\u5909\u6570\u540d.hoge[0].fuga
-->
<!ELEMENT var (#PCDATA)>

<!-- nullCheck\u5c5e\u6027\u306f\u3001var\u8981\u7d20\u306e\u5185\u5bb9\u3067\u3001\u30d7\u30ed\u30d1\u30c6\u30a3\u8868\u73fe\u3092\u6307\u5b9a\u3057\u305f\u5834\u5408\u306b\u3001\u30cd\u30b9\u30c8\u3055\u308c\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u304cnull\u304b\u3069\u3046\u304b\u3092\u30c1\u30a7\u30c3\u30af\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u8a2d\u5b9a\u3057\u307e\u3059\u3002
 true\u3092\u8a2d\u5b9a\u3057\u305f\u5834\u5408\u306f\u3001\u30cd\u30b9\u30c8\u3055\u308c\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u304cnull\u306e\u5834\u5408\u3001jp.ossc.nimbus.beans.NoSuchPropertyException\u304c\u767a\u751f\u3057\u307e\u3059\u3002
 \u30c7\u30d5\u30a9\u30eb\u30c8\u306f\u3001false\u3067\u3001\u30cd\u30b9\u30c8\u3055\u308c\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u304cnull\u306e\u5834\u5408\u3001\u305d\u306e\u30d7\u30ed\u30d1\u30c6\u30a3\u306fnull\u3068\u307f\u306a\u3055\u308c\u307e\u3059\u3002
-->
<!ATTLIST var nullCheck (true | false) "false">

<!-- this\u8981\u7d20\u306f\u3001\u73fe\u5728\u306e\u30b9\u30c6\u30c3\u30d7\u306e\u5bfe\u8c61\u3092\u53c2\u7167\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
 \u73fe\u5728\u306e\u30b9\u30c6\u30c3\u30d7\u5bfe\u8c61\u306e\u30d7\u30ed\u30d1\u30c6\u30a3\u3092\u53c2\u7167\u3059\u308b\u5834\u5408\u306f\u3001\u5185\u5bb9\u306b\u30d7\u30ed\u30d1\u30c6\u30a3\u540d\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
 \u3053\u3053\u3067\u8a00\u3046\u3001\u30d7\u30ed\u30d1\u30c6\u30a3\u306e\u6982\u5ff5\u306f\u3001Java Beans\u306e\u30d7\u30ed\u30d1\u30c6\u30a3\u306e\u6982\u5ff5\u3088\u308a\u5e83\u304f\u3001jp.ossc.nimbus.beans.PropertyFactory\u306e\u898f\u7d04\u306b\u5f93\u3044\u307e\u3059\u3002
 Java Beans\u306e\u3088\u3046\u306a\u5358\u7d14\u306a\u30d7\u30ed\u30d1\u30c6\u30a3\u306b\u52a0\u3048\u3001java.util.Map\u306a\u3069\u306e\u30de\u30c3\u30d7\u30d7\u30ed\u30d1\u30c6\u30a3\u3084java.util.List\u3001\u914d\u5217\u306a\u3069\u306e\u30a4\u30f3\u30c7\u30c3\u30af\u30b9\u30d7\u30ed\u30d1\u30c6\u30a3\u3001\u307e\u305f\u305d\u308c\u3089\u304c\u30cd\u30b9\u30c8\u3057\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u306a\u3069\u3082\u30b5\u30dd\u30fc\u30c8\u3057\u307e\u3059\u3002
-->
<!ELEMENT this (#PCDATA)>

<!-- nullCheck\u5c5e\u6027\u306f\u3001this\u8981\u7d20\u306e\u5185\u5bb9\u3067\u3001\u30d7\u30ed\u30d1\u30c6\u30a3\u8868\u73fe\u3092\u6307\u5b9a\u3057\u305f\u5834\u5408\u306b\u3001\u30cd\u30b9\u30c8\u3055\u308c\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u304cnull\u304b\u3069\u3046\u304b\u3092\u30c1\u30a7\u30c3\u30af\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u8a2d\u5b9a\u3057\u307e\u3059\u3002
 true\u3092\u8a2d\u5b9a\u3057\u305f\u5834\u5408\u306f\u3001\u30cd\u30b9\u30c8\u3055\u308c\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u304cnull\u306e\u5834\u5408\u3001jp.ossc.nimbus.beans.NoSuchPropertyException\u304c\u767a\u751f\u3057\u307e\u3059\u3002
 \u30c7\u30d5\u30a9\u30eb\u30c8\u306f\u3001false\u3067\u3001\u30cd\u30b9\u30c8\u3055\u308c\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u304cnull\u306e\u5834\u5408\u3001\u305d\u306e\u30d7\u30ed\u30d1\u30c6\u30a3\u306fnull\u3068\u307f\u306a\u3055\u308c\u307e\u3059\u3002
-->
<!ATTLIST this nullCheck (true | false) "false">

<!-- break\u8981\u7d20\u306f\u3001\u7e70\u308a\u8fd4\u3057\u306e\u4e2d\u65ad\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ELEMENT break EMPTY>

<!-- continue\u8981\u7d20\u306f\u3001\u7e70\u308a\u8fd4\u3057\u306e\u7d99\u7d9a\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u8981\u7d20\u4ee5\u964d\u306e\u51e6\u7406\u3092\u884c\u308f\u305a\u306b\u3001\u6b21\u306e\u7e70\u308a\u8fd4\u3057\u51e6\u7406\u3092\u884c\u3044\u307e\u3059\u3002
-->
<!ELEMENT continue EMPTY>

<!-- return\u8981\u7d20\u306f\u3001\u51e6\u7406\u306e\u4e2d\u65ad\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u8981\u7d20\u4ee5\u964d\u306e\u51e6\u7406\u3092\u884c\u308f\u305a\u306b\u3001\u30d5\u30ed\u30fc\u3092\u7d42\u4e86\u3057\u307e\u3059\u3002
 \u305d\u306e\u969b\u306e\u30d5\u30ed\u30fc\u306e\u623b\u308a\u5024\u306f\u3001\u5b50\u8981\u7d20\u306b\u6307\u5b9a\u3057\u305f\u3082\u306e\u306b\u306a\u308a\u307e\u3059\u3002\u5b50\u8981\u7d20\u3092\u6307\u5b9a\u3057\u306a\u3044\u5834\u5408\u306f\u3001\u6700\u5f8c\u306b\u5b9f\u884c\u3055\u308c\u305f\u30b9\u30c6\u30c3\u30d7\u306e\u7d50\u679c\u306b\u306a\u308a\u307e\u3059\u3002
-->
<!ELEMENT return (#PCDATA | input | object | service-ref | static-invoke | static-field-ref | resource-ref | step-ref | var | expression)*>

<!-- nullValue\u5c5e\u6027\u306f\u3001\u623b\u308a\u5024\u304cnull\u3067\u3042\u308b\u4e8b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST return nullValue (true|false) "false">

<!-- static-field-ref\u8981\u7d20\u306f\u3001static\u30d5\u30a3\u30fc\u30eb\u30c9\u53c2\u7167\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
static-field-ref\u8981\u7d20\u306ecode\u5c5e\u6027\u3067\u30af\u30e9\u30b9\u540d\u3092\u3001name\u5c5e\u6027\u3067\u30d5\u30a3\u30fc\u30eb\u30c9\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ELEMENT static-field-ref EMPTY>

<!-- code\u5c5e\u6027\u306f\u3001static-field-ref\u8981\u7d20\u3067\u53c2\u7167\u3059\u308bstatic\u30d5\u30a3\u30fc\u30eb\u30c9\u304c\u5ba3\u8a00\u3055\u308c\u3066\u3044\u308b\u30af\u30e9\u30b9\u540d\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
-->
<!ATTLIST static-field-ref code CDATA #REQUIRED>

<!-- name\u5c5e\u6027\u306f\u3001static-field-ref\u8981\u7d20\u3067\u53c2\u7167\u3059\u308bstatic\u30d5\u30a3\u30fc\u30eb\u30c9\u540d\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
-->
<!ATTLIST static-field-ref name CDATA #REQUIRED>

<!-- static-invoke\u8981\u7d20\u306f\u3001static\u30e1\u30bd\u30c3\u30c9\u306e\u547c\u3073\u51fa\u3057\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
static-invoke\u8981\u7d20\u306e\u5b50\u8981\u7d20\u306bargument\u8981\u7d20\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002\u5f15\u6570\u3042\u308a\u306e\u30e1\u30bd\u30c3\u30c9\u3092\u5b9f\u884c\u3057\u305f\u3044
\u5834\u5408\u306b\u6307\u5b9a\u3057\u307e\u3059\u3002
-->
<!ELEMENT static-invoke (argument*)>

<!-- code\u5c5e\u6027\u306f\u3001static-invoke\u8981\u7d20\u3067\u5b9f\u884c\u3059\u308bstatic\u30e1\u30bd\u30c3\u30c9\u304c\u5ba3\u8a00\u3055\u308c\u3066\u3044\u308b\u30af\u30e9\u30b9\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST static-invoke code CDATA #REQUIRED>

<!-- name\u5c5e\u6027\u306f\u3001static-invoke\u8981\u7d20\u3067\u5b9f\u884c\u3059\u308bstatic\u30e1\u30bd\u30c3\u30c9\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST static-invoke name CDATA #REQUIRED>

<!-- journal\u5c5e\u6027\u306f\u3001static-invoke\u8981\u7d20\u3067\u30b8\u30e3\u30fc\u30ca\u30eb\u3092\u51fa\u529b\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u8981\u7d20\u306e\u5b50\u8981\u7d20\u5168\u3066\u306b\u9069\u7528\u3055\u308c\u308b\u3002
-->
<!ATTLIST static-invoke journal (true | false) "true">

<!-- catch\u8981\u7d20\u306f\u3001\u4f8b\u5916\u51e6\u7406\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u6307\u5b9a\u3055\u308c\u305f\u4f8b\u5916\u304c\u767a\u751f\u3057\u305f\u5834\u5408\u306e\u51e6\u7406\u3092\u3001\u5b50\u8981\u7d20\u306b\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ELEMENT catch (step* | callflow* | reply* | switch* | if* | for* | while* | break? | continue? | return? | throw?)*>

<!-- var\u5c5e\u6027\u306f\u3001\u4f8b\u5916\u306e\u5909\u6570\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u3053\u3067\u5b9a\u7fa9\u3057\u305f\u5909\u6570\u540d\u3067\u3001var\u8981\u7d20\u3092\u4f7f\u3063\u3066\u53c2\u7167\u3059\u308b\u4e8b\u304c\u3067\u304d\u307e\u3059\u3002
-->
<!ATTLIST catch var CDATA #IMPLIED>

<!-- exception\u5c5e\u6027\u306f\u3001catch\u8981\u7d20\u3067\u6355\u6349\u3059\u308b\u4f8b\u5916\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u5c5e\u6027\u306b\u306f\u3001\u4f8b\u5916\u30af\u30e9\u30b9\u540d\u3092\u3001\u5b8c\u5168\u4fee\u98fe\u30af\u30e9\u30b9\u540d\u3067\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST catch exception CDATA #IMPLIED>

<!-- journal\u5c5e\u6027\u306f\u3001catch\u8981\u7d20\u3067\u30b8\u30e3\u30fc\u30ca\u30eb\u3092\u51fa\u529b\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u8981\u7d20\u306e\u5b50\u8981\u7d20\u5168\u3066\u306b\u9069\u7528\u3055\u308c\u308b\u3002
-->
<!ATTLIST catch journal (true | false) "true">

<!-- throw\u8981\u7d20\u306f\u3001\u4f8b\u5916\u3092throw\u3059\u308b\u4e8b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ELEMENT throw (object? | var? | step-ref?)*>

<!-- var\u5c5e\u6027\u306f\u3001throw\u3059\u308b\u4f8b\u5916\u306e\u5909\u6570\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST throw var CDATA #IMPLIED>

<!-- finally\u8981\u7d20\u306f\u3001\u6700\u7d42\u51e6\u7406\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 finally\u8981\u7d20\u3092\u5185\u5305\u3059\u308b\u8981\u7d20\u3067\u884c\u308f\u308c\u305f\u51e6\u7406\u306e\u3042\u3068\u306b\u3001\u3069\u306e\u3088\u3046\u306a\u5834\u5408\u3067\u3082\u5b9f\u884c\u3055\u308c\u308b\u51e6\u7406\u3092\u3001\u5b50\u8981\u7d20\u306b\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ELEMENT finally (step* | callflow* | reply* | switch* | if* | for* | while* | break? | continue? | return? | throw?)*>

<!-- journal\u5c5e\u6027\u306f\u3001finally\u8981\u7d20\u3067\u30b8\u30e3\u30fc\u30ca\u30eb\u3092\u51fa\u529b\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
 \u3053\u306e\u8981\u7d20\u306e\u5b50\u8981\u7d20\u5168\u3066\u306b\u9069\u7528\u3055\u308c\u308b\u3002
-->
<!ATTLIST finally journal (true | false) "true">

<!-- expression\u8981\u7d20\u306f\u3001\u5f0f\u3092\u8868\u3059\u8981\u7d20\u3067\u3059\u3002
 XML\u30a8\u30b9\u30b1\u30fc\u30d7\u3092\u610f\u8b58\u3057\u305f\u304f\u306a\u3044\u5834\u5408\u306f\u3001\u5b50\u8981\u7d20\u306e\u30b3\u30e1\u30f3\u30c8\u30a2\u30a6\u30c8\u5185\u306b\u5f0f\u3092\u8a18\u8ff0\u3067\u304d\u307e\u3059\u3002
 \u3053\u306e\u8981\u7d20\u306e\u5185\u5bb9\u306b\u306f\u3001\u5f0f\u3092\u8a18\u8ff0\u3059\u308b\u4e8b\u304c\u3067\u304d\u3001\u5f0f\u4e2d\u306e\u53ef\u5909\u30d1\u30e9\u30e1\u30fc\u30bf\u3068\u3057\u3066@\u3067\u56f2\u3093\u3060\u30ad\u30fc\u3092\u6307\u5b9a\u3059\u308b\u4e8b\u304c\u3067\u304d\u307e\u3059\u3002
 \u30ad\u30fc\u3067\u306f\u3001\u4ee5\u4e0b\u306e\u3082\u306e\u304c\u53c2\u7167\u3067\u304d\u307e\u3059\u3002
 (1)\u30b9\u30c6\u30c3\u30d7
   \u30b9\u30c6\u30c3\u30d7\u306e\u53c2\u7167\u3067\u306f\u3001\u30b9\u30c6\u30c3\u30d7\u306e\u5bfe\u8c61\u3068\u7d50\u679c\u3092\u53c2\u7167\u3059\u308b\u4e8b\u304c\u3067\u304d\u307e\u3059\u3002
   \u30fb\u30b9\u30c6\u30c3\u30d7\u306e\u5bfe\u8c61 : @\u30b9\u30c6\u30c3\u30d7\u540d.target@
   \u30fb\u30b9\u30c6\u30c3\u30d7\u306e\u7d50\u679c : @\u30b9\u30c6\u30c3\u30d7\u540d.result@ \u307e\u305f\u306f @\u30b9\u30c6\u30c3\u30d7\u540d@
   \u30fb\u3053\u306e\u8981\u7d20\u306e\u89aa\u8981\u7d20\u30b9\u30c6\u30c3\u30d7\u306e\u5bfe\u8c61\uff1a@this@
   \u30fb\u30b9\u30c6\u30c3\u30d7\u81ea\u4f53\uff1a\u30b9\u30c6\u30c3\u30d7\u540d
  \u307e\u305f\u3001\u30b9\u30c6\u30c3\u30d7\u306e\u5bfe\u8c61\u53ca\u3073\u7d50\u679c\u306e\u30d7\u30ed\u30d1\u30c6\u30a3\u3092\u53c2\u7167\u3059\u308b\u4e8b\u3082\u3067\u304d\u307e\u3059\u3002
  \u305d\u306e\u5834\u5408\u306f\u3001\u4e0a\u8a18\u306e\u8868\u73fe\u306e\u5f8c\u306b\u3001\u30d7\u30ed\u30d1\u30c6\u30a3\u3092\u8868\u73fe\u3059\u308b\u6587\u5b57\u5217\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
  \u3053\u3053\u3067\u8a00\u3046\u3001\u30d7\u30ed\u30d1\u30c6\u30a3\u306e\u6982\u5ff5\u306f\u3001Java Beans\u306e\u30d7\u30ed\u30d1\u30c6\u30a3\u306e\u6982\u5ff5\u3088\u308a\u5e83\u304f\u3001jp.ossc.nimbus.beans.PropertyFactory\u306e\u898f\u7d04\u306b\u5f93\u3044\u307e\u3059\u3002
  Java Beans\u306e\u3088\u3046\u306a\u5358\u7d14\u306a\u30d7\u30ed\u30d1\u30c6\u30a3\u306b\u52a0\u3048\u3001java.util.Map\u306a\u3069\u306e\u30de\u30c3\u30d7\u30d7\u30ed\u30d1\u30c6\u30a3\u3084java.util.List\u3001\u914d\u5217\u306a\u3069\u306e\u30a4\u30f3\u30c7\u30c3\u30af\u30b9\u30d7\u30ed\u30d1\u30c6\u30a3\u3001\u307e\u305f\u305d\u308c\u3089\u304c\u30cd\u30b9\u30c8\u3057\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u306a\u3069\u3082\u30b5\u30dd\u30fc\u30c8\u3057\u307e\u3059\u3002
   \u4f8b : @\u30b9\u30c6\u30c3\u30d7\u540d.hoge[0].fuga@
   
 (2)\u30d5\u30ed\u30fc\u306e\u5165\u529b
   \u30d5\u30ed\u30fc\u306e\u5165\u529b\u3092\u53c2\u7167\u3059\u308b\u5834\u5408\u306b\u306f\u3001@input@\u3068\u6307\u5b9a\u3057\u307e\u3059\u3002
   input-def\u8981\u7d20\u3067\u540d\u524d\u5ba3\u8a00\u3057\u305f\u3082\u306e\u3092\u53c2\u7167\u3059\u308b\u5834\u5408\u306f\u3001@inputDef(\u5909\u6570\u540d)@\u3068\u6307\u5b9a\u3057\u307e\u3059\u3002
   \u30b9\u30c6\u30c3\u30d7\u306e\u53c2\u7167\u3068\u540c\u69d8\u306b\u30d5\u30ed\u30fc\u306e\u5165\u529b\u306e\u30d7\u30ed\u30d1\u30c6\u30a3\u3082\u6307\u5b9a\u3067\u304d\u307e\u3059\u3002
   
 (3)\u7e70\u308a\u8fd4\u3057\u5909\u6570
   \u7e70\u308a\u8fd4\u3057\u5909\u6570\u3092\u53c2\u7167\u3059\u308b\u5834\u5408\u306b\u306f\u3001@var(\u5909\u6570\u540d)@\u3068\u6307\u5b9a\u3057\u307e\u3059\u3002\u307e\u305f\u3001\u5909\u6570\u540d\u306e\u307f\u3067\u3082\u53c2\u7167\u3067\u304d\u308b\u3088\u3046\u306b\u306a\u308a\u307e\u3057\u305f\u3002
   \u30b9\u30c6\u30c3\u30d7\u306e\u53c2\u7167\u3068\u540c\u69d8\u306b\u7e70\u308a\u8fd4\u3057\u5909\u6570\u306e\u30d7\u30ed\u30d1\u30c6\u30a3\u3082\u6307\u5b9a\u3067\u304d\u307e\u3059\u3002
 
 \u5f0f\u306f\u3001The Apache Jakarta Project\u306e Commons Jexl(http://jakarta.apache.org/commons/jexl/)\u3092\u4f7f\u7528\u3057\u307e\u3059\u3002
   \u4f8b : @\u30b9\u30c6\u30c3\u30d7\u540d.hoge[0].fuga@ * 100
-->
<!ELEMENT expression (#PCDATA)>

<!-- nullCheck\u5c5e\u6027\u306f\u3001expression\u8981\u7d20\u306e\u5185\u5bb9\u3067\u3001\u30d7\u30ed\u30d1\u30c6\u30a3\u8868\u73fe\u306e\u30ad\u30fc\u3092\u6307\u5b9a\u3057\u305f\u5834\u5408\u306b\u3001\u30cd\u30b9\u30c8\u3055\u308c\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u304cnull\u304b\u3069\u3046\u304b\u3092\u30c1\u30a7\u30c3\u30af\u3059\u308b\u304b\u3069\u3046\u304b\u3092\u8a2d\u5b9a\u3057\u307e\u3059\u3002
 true\u3092\u8a2d\u5b9a\u3057\u305f\u5834\u5408\u306f\u3001\u30cd\u30b9\u30c8\u3055\u308c\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u304cnull\u306e\u5834\u5408\u3001jp.ossc.nimbus.beans.NoSuchPropertyException\u304c\u767a\u751f\u3057\u307e\u3059\u3002
 \u30c7\u30d5\u30a9\u30eb\u30c8\u306f\u3001false\u3067\u3001\u30cd\u30b9\u30c8\u3055\u308c\u305f\u30d7\u30ed\u30d1\u30c6\u30a3\u304cnull\u306e\u5834\u5408\u3001\u305d\u306e\u30ad\u30fc\u306fnull\u3068\u307f\u306a\u3055\u308c\u307e\u3059\u3002
-->
<!ATTLIST expression nullCheck (true | false) "false">

<!-- interpreter\u8981\u7d20\u306f\u30a4\u30f3\u30bf\u30fc\u30d7\u30ea\u30bf\u3092\u4f7f\u3063\u3066\u51e6\u7406\u3092\u8868\u3059\u8981\u7d20\u3067\u3059\u3002
 \u3053\u306e\u8981\u7d20\u306e\u5185\u5bb9\u306b\u306f\u3001jp.ossc.nimbus.service.interpreter.Interpreter\u304c\u89e3\u91c8\u3059\u308b\u30bd\u30fc\u30b9\u30b3\u30fc\u30c9\u3092\u8a18\u8ff0\u3057\u307e\u3059\u3002
 XML\u30a8\u30b9\u30b1\u30fc\u30d7\u3092\u610f\u8b58\u3057\u305f\u304f\u306a\u3044\u5834\u5408\u306f\u3001\u5b50\u8981\u7d20\u306e\u30b3\u30e1\u30f3\u30c8\u30a2\u30a6\u30c8\u5185\u306b\u30bd\u30fc\u30b9\u30b3\u30fc\u30c9\u3092\u8a18\u8ff0\u3067\u304d\u307e\u3059\u3002
 \u30bd\u30fc\u30b9\u30b3\u30fc\u30c9\u5185\u3067\u306f\u3001\u4ee5\u4e0b\u306e\u5909\u6570\u304c\u6697\u9ed9\u7684\u306b\u4f7f\u7528\u53ef\u80fd\u3067\u3059\u3002
 (1)\u30b9\u30c6\u30c3\u30d7
   \u30b9\u30c6\u30c3\u30d7\u540d\u3067\u53c2\u7167\u3057\u307e\u3059\u3002
   \u30fb\u30b9\u30c6\u30c3\u30d7\u306e\u5bfe\u8c61 : \u30b9\u30c6\u30c3\u30d7\u540d.target
   \u30fb\u30b9\u30c6\u30c3\u30d7\u306e\u7d50\u679c : \u30b9\u30c6\u30c3\u30d7\u540d.result
   \u30fb\u3053\u306e\u8981\u7d20\u306e\u89aa\u8981\u7d20\u30b9\u30c6\u30c3\u30d7\u306e\u5bfe\u8c61\uff1atarget
   \u4f46\u3057\u3001\u6307\u5b9a\u3057\u305f\u30b9\u30c6\u30c3\u30d7\u3092\u901a\u3063\u3066\u3044\u306a\u3044\u5834\u5408\u306f\u3001\u30b9\u30c6\u30c3\u30d7\u540d\u3067\u53c2\u7167\u3057\u305f\u5024\u306fnull\u306b\u306a\u308b\u306e\u3067\u3001\u6ce8\u610f\u304c\u5fc5\u8981\u3067\u3059\u3002
 (2)\u30d5\u30ed\u30fc\u306e\u5165\u529b
   \u30d5\u30ed\u30fc\u306e\u5165\u529b\u3092\u53c2\u7167\u3059\u308b\u5834\u5408\u306b\u306f\u3001input\u3068\u6307\u5b9a\u3057\u307e\u3059\u3002
 (3)\u7e70\u308a\u8fd4\u3057\u5909\u6570
   \u7e70\u308a\u8fd4\u3057\u5909\u6570\u3092\u53c2\u7167\u3059\u308b\u5834\u5408\u306b\u306f\u3001var.get("\u5909\u6570\u540d")\u3068\u6307\u5b9a\u3057\u307e\u3059\u3002\u307e\u305f\u3001\u5909\u6570\u540d\u306e\u307f\u3067\u3082\u53c2\u7167\u3067\u304d\u308b\u3088\u3046\u306b\u306a\u308a\u307e\u3057\u305f\u3002
   \u4f46\u3057\u3001\u5909\u6570\u304c\u5ba3\u8a00\u3055\u308c\u3066\u3044\u306a\u3044\u5834\u5408\u306f\u3001var\u304cnull\u306b\u306a\u308b\u306e\u3067\u3001\u6ce8\u610f\u304c\u5fc5\u8981\u3067\u3059\u3002
 (4)\u30ea\u30bd\u30fc\u30b9
   \u30ea\u30bd\u30fc\u30b9\u3092\u53c2\u7167\u3059\u308b\u5834\u5408\u306b\u306f\u3001resource.getResource("\u30ea\u30bd\u30fc\u30b9\u540d")\u3068\u6307\u5b9a\u3057\u307e\u3059\u3002
 (5)\u30b8\u30e3\u30fc\u30ca\u30eb
   \u30b8\u30e3\u30fc\u30ca\u30eb\u3092\u51fa\u529b\u3059\u308b\u5834\u5408\u306b\u306f\u3001journal\u3067\u3001Journal\u30aa\u30d6\u30b8\u30a7\u30af\u30c8\u3092\u53c2\u7167\u3067\u304d\u307e\u3059\u3002
 \u30bd\u30fc\u30b9\u30b3\u30fc\u30c9\u5185\u3067\u623b\u308a\u5024\u3092\u8fd4\u3059\u3068\u3001\u3053\u306e\u30b9\u30c6\u30c3\u30d7\u306eresult\u306b\u306a\u308a\u307e\u3059\u3002
 \u4f46\u3057\u3001result\u8981\u7d20\u3092\u8a18\u8ff0\u3057\u305f\u5834\u5408\u306f\u3001\u305d\u3061\u3089\u304c\u512a\u5148\u3055\u308c\u307e\u3059\u3002
 BeanFlowInvokerFactory\u30b5\u30fc\u30d3\u30b9\u306b\u4f7f\u7528\u3059\u308bjp.ossc.nimbus.service.interpreter.Interpreter\u3092\u8a2d\u5b9a\u3057\u3066\u304a\u304f\u5fc5\u8981\u304c\u3042\u308a\u307e\u3059\u3002
-->
<!ELEMENT interpreter (#PCDATA)>

<!-- template\u8981\u7d20\u306f\u30c6\u30f3\u30d7\u30ec\u30fc\u30c8\u30a8\u30f3\u30b8\u30f3\u3092\u4f7f\u3063\u3066\u6587\u5b57\u5217\u3092\u4f5c\u6210\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
 \u3053\u306e\u8981\u7d20\u306e\u5185\u5bb9\u306b\u3001jp.ossc.nimbus.service.template.TemplateEngine\u304c\u89e3\u91c8\u3059\u308b\u30c6\u30f3\u30d7\u30ec\u30fc\u30c8\u3092\u8a18\u8ff0\u3059\u308b\u304b\u3001file\u5c5e\u6027\u3067\u30c6\u30f3\u30d7\u30ec\u30fc\u30c8\u30d5\u30a1\u30a4\u30eb\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
-->
<!ELEMENT template (#PCDATA)>

<!-- file\u5c5e\u6027\u306f\u3001\u30c6\u30f3\u30d7\u30ec\u30fc\u30c8\u30d5\u30a1\u30a4\u30eb\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
 \u30d5\u30a1\u30a4\u30eb\u306e\u30d1\u30b9\u306f\u3001\u7d76\u5bfe\u30d1\u30b9\u3001\u30b5\u30fc\u30d3\u30b9\u5b9a\u7fa9\u304b\u3089\u306e\u76f8\u5bfe\u30d1\u30b9\u3001\u696d\u52d9\u30d5\u30ed\u30fc\u5b9a\u7fa9\u30d5\u30a1\u30a4\u30eb\u304b\u3089\u306e\u76f8\u5bfe\u30d1\u30b9\u3067\u8a55\u4fa1\u3055\u308c\u307e\u3059\u3002
-->
<!ATTLIST template file CDATA #IMPLIED>

<!-- encoding\u5c5e\u6027\u306f\u3001\u30c6\u30f3\u30d7\u30ec\u30fc\u30c8\u306e\u6587\u5b57\u30b3\u30fc\u30c9\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002 -->
<!ATTLIST template encoding CDATA #IMPLIED>
