dtd/testcase/1.2.5/testcase_1_0.dtd

<!--
This is the XML DTD for the Nimbus 1.0 Scenario Resource descriptor.
The DOCTYPE is:
  <!DOCTYPE testcase PUBLIC
      "-//Nimbus//DTD Nimbus TestCase Resource 1.0//JA"
      "http://nimbus.sourceforge.jp/dtd/testcase_1_0.dtd">

\u4f8b:
    <testcase creator="\u30e6\u30fc\u30b6\uff11" expectedCost="60" scheduledCreateStartDate="2016/12/12 09:00" scheduledCreateEndDate="2016/12/12 10:00"
                                 createStartDate="2016/12/12 10:00" createEndDate="2016/12/12 12:00" progress="50" cost="60" errorContinue="true">
        <title>\u30c6\u30b9\u30c8\u30b1\u30fc\u30b9\uff11</title>
        <description>\u30c6\u30b9\u30c8\u30b1\u30fc\u30b9\uff11\u306e\u8aac\u660e\u3067\u3059\u3002</description>
        <phase>
            <include>
                phase1,phase2
            </include>
            <exclude>
                phase3
            </exclude>
        </phase>
        <action id="001" type="before" serviceName="Nimbus#TestAction1" expectedCost="10" cost="10">
            <phase>
                <include>
                    phase1
                </include>
            </phase>
            <title>\u30c6\u30b9\u30c8\u30b1\u30fc\u30b9\uff11\u306e\u30c6\u30b9\u30c8\u30a2\u30af\u30b7\u30e7\u30f3\uff11</title>
            <description>\u30c6\u30b9\u30c8\u30b1\u30fc\u30b9\uff11\u306e\u30c6\u30b9\u30c8\u30a2\u30af\u30b7\u30e7\u30f3\uff11\u306e\u8aac\u660e\u3067\u3059\u3002</description>
            <resources>
                <resource name="001.txt"/>
            </resources>
        </action>
        <action id="002" type="before" serviceName="Nimbus#TestAction2" retryInterval="1000" retryCount="3" expectedCost="30">
            <title>\u30c6\u30b9\u30c8\u30b1\u30fc\u30b9\uff11\u306e\u30c6\u30b9\u30c8\u30a2\u30af\u30b7\u30e7\u30f3\uff12</title>
            <description>\u30c6\u30b9\u30c8\u30b1\u30fc\u30b9\uff11\u306e\u30c6\u30b9\u30c8\u30a2\u30af\u30b7\u30e7\u30f3\uff12\u306e\u8aac\u660e\u3067\u3059\u3002</description>
            <resources>
                <resource name="002_1.txt"/>
                <resource name="002_2.txt"/>
            </resources>
        </action>
        <action id="003" type="action" serviceName="Nimbus#TestAction3" expectedCost="20" cost="20">
            <title>\u30c6\u30b9\u30c8\u30b1\u30fc\u30b9\uff11\u306e\u30c6\u30b9\u30c8\u30a2\u30af\u30b7\u30e7\u30f3\uff13</title>
            <description>\u30c6\u30b9\u30c8\u30b1\u30fc\u30b9\uff11\u306e\u30c6\u30b9\u30c8\u30a2\u30af\u30b7\u30e7\u30f3\uff13\u306e\u8aac\u660e\u3067\u3059\u3002</description>
            <resources>
                <resource name="003.txt"/>
            </resources>
        </action>
        <action id="004" type="after" serviceName="Nimbus#TestAction4" expectedCost="30" cost="30">
            <title>\u30c6\u30b9\u30c8\u30b1\u30fc\u30b9\uff11\u306e\u30c6\u30b9\u30c8\u30a2\u30af\u30b7\u30e7\u30f3\uff14</title>
            <description>\u30c6\u30b9\u30c8\u30b1\u30fc\u30b9\uff11\u306e\u30c6\u30b9\u30c8\u30a2\u30af\u30b7\u30e7\u30f3\uff14\u306e\u8aac\u660e\u3067\u3059\u3002</description>
            <resources>
                <resource name="004.txt"/>
            </resources>
        </action>
    </testcase>
-->

<!-- testcase\u8981\u7d20\u306f\u3001\u30c6\u30b9\u30c8\u30b1\u30fc\u30b9\u3067\u4f7f\u7528\u3059\u308b\u30c6\u30b9\u30c8\u30ea\u30bd\u30fc\u30b9\u7fa4\u3092\u5b9a\u7fa9\u3059\u308b\u30eb\u30fc\u30c8\u8981\u7d20\u3067\u3059\u3002
-->
<!ELEMENT testcase (title?|description?|phase?|category*|action*)*>

<!-- creator\u5c5e\u6027\u306f\u3001testcase\u306e\u30ea\u30bd\u30fc\u30b9\u306e\u4f5c\u6210\u8005\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST testcase creator CDATA #IMPLIED>

<!-- scheduledCreateStartDate\u5c5e\u6027\u306f\u3001testcase\u306e\u30ea\u30bd\u30fc\u30b9\u306e\u4f5c\u6210\u958b\u59cb\u4e88\u5b9a\u65e5(yyyy/MM/dd HH:mm)\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST testcase scheduledCreateStartDate CDATA #IMPLIED>

<!-- scheduledCreateEndDate\u5c5e\u6027\u306f\u3001testcase\u306e\u30ea\u30bd\u30fc\u30b9\u306e\u4f5c\u6210\u7d42\u4e86\u4e88\u5b9a\u65e5(yyyy/MM/dd HH:mm)\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST testcase scheduledCreateEndDate CDATA #IMPLIED>

<!-- createStartDate\u5c5e\u6027\u306f\u3001testcase\u306e\u30ea\u30bd\u30fc\u30b9\u306e\u4f5c\u6210\u958b\u65e5(yyyy/MM/dd HH:mm)\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST testcase createStartDate CDATA #IMPLIED>

<!-- createEndDate\u5c5e\u6027\u306f\u3001testcase\u306e\u30ea\u30bd\u30fc\u30b9\u306e\u4f5c\u6210\u7d42\u4e86\u65e5(yyyy/MM/dd HH:mm)\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST testcase createEndDate CDATA #IMPLIED>

<!-- expectedCost\u5c5e\u6027\u306f\u3001\u30ea\u30bd\u30fc\u30b9\u5b9a\u7fa9\u3092\u4f5c\u6210\u3059\u308b\u305f\u3081\u306e\u4e88\u5b9a\u5de5\u6570\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST testcase expectedCost CDATA #IMPLIED>

<!-- cost\u5c5e\u6027\u306f\u3001\u30ea\u30bd\u30fc\u30b9\u5b9a\u7fa9\u3092\u4f5c\u6210\u3057\u305f\u5b9f\u7e3e\u5de5\u6570\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST testcase cost CDATA #IMPLIED>

<!-- progress\u5c5e\u6027\u306f\u3001\u30ea\u30bd\u30fc\u30b9\u5b9a\u7fa9\u306e\u4f5c\u6210\u9032\u6357\u7387\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST testcase progress CDATA #IMPLIED>

<!-- errorContinue\u5c5e\u6027\u306f\u3001\u30a8\u30e9\u30fc\u767a\u751f\u6642\u306e\u7d99\u7d9a\u6709\u7121\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002\u672a\u8a2d\u5b9a\u6642\u306ffalse\u3067\u7d99\u7d9a\u7121\u3057\u3067\u3059\u3002
-->
<!ATTLIST testcase errorContinue (true|false) "false">

<!-- title\u8981\u7d20\u306f\u3001\u30c6\u30b9\u30c8\u306e\u5185\u5bb9\u306b\u95a2\u3059\u308b\u30bf\u30a4\u30c8\u30eb\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ELEMENT title (#PCDATA)>

<!-- description\u8981\u7d20\u306f\u3001\u30c6\u30b9\u30c8\u306e\u5185\u5bb9\u306b\u95a2\u3059\u308b\u8aac\u660e\u6587\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ELEMENT description (#PCDATA)>

<!-- phase\u8981\u7d20\u306f\u3001\u5bfe\u8c61\u306e\u30d5\u30a7\u30fc\u30ba\u3092\u5b9a\u7fa9\u3059\u308b\u30eb\u30fc\u30c8\u8981\u7d20\u3067\u3059\u3002
-->
<!ELEMENT phase (include?|exclude?)*>

<!-- category\u8981\u7d20\u306f\u3001\u5bfe\u8c61\u304c\u6240\u5c5e\u3059\u308b\u30ab\u30c6\u30b4\u30ea\u3092\u5b9a\u7fa9\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
-->
<!ELEMENT category EMPTY>

<!-- name\u5c5e\u6027\u306f\u3001\u30ab\u30c6\u30b4\u30ea\u306e\u540d\u524d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST category name CDATA #REQUIRED>

<!-- value\u5c5e\u6027\u306f\u3001\u30ab\u30c6\u30b4\u30ea\u306e\u5024\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST category value CDATA #REQUIRED>

<!-- include\u8981\u7d20\u306f\u3001\u5b9f\u884c\u3059\u308b\u30d5\u30a7\u30fc\u30ba\u3092\u6307\u5b9a\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
-->
<!ELEMENT include (#PCDATA)>

<!-- exclude\u8981\u7d20\u306f\u3001\u5b9f\u884c\u3057\u306a\u3044\u30d5\u30a7\u30fc\u30ba\u3092\u6307\u5b9a\u3059\u308b\u8981\u7d20\u3067\u3059\u3002
-->
<!ELEMENT exclude (#PCDATA)>

<!-- action\u8981\u7d20\u306f\u3001\u30c6\u30b9\u30c8\u6642\u306b\u5b9f\u884c\u3059\u308bAction\u306b\u5bfe\u3059\u308b\u5c5e\u6027\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ELEMENT action (title?|description?|phase?|resources)*>

<!-- id\u5c5e\u6027\u306f\u3001\u30ea\u30bd\u30fc\u30b9\u306eID\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST action id ID #REQUIRED>

<!-- type\u5c5e\u6027\u306f\u3001\u30ea\u30bd\u30fc\u30b9\u306e\u5b9f\u884c\u30bf\u30a4\u30d7\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
before\u3001action\u306f\u958b\u59cb\u6642\u306b\u5b9f\u884c\u3055\u308c\u307e\u3059\u3002after\u306f\u7d42\u4e86\u6642\u306b\u5b9f\u884c\u3055\u308c\u307e\u3059\u3002
finally\u306f\u30a8\u30e9\u30fc\u767a\u751f\u6642\u3067\u3082\u6700\u5f8c\u306b\u5fc5\u305a\u5b9f\u884c\u3055\u308c\u307e\u3059\u3002
-->
<!ATTLIST action type (before|action|after|finally) #REQUIRED>

<!-- serviceName\u5c5e\u6027\u306f\u3001\u5b9f\u884c\u3059\u308b\u30a2\u30af\u30b7\u30e7\u30f3\u306e\u30b5\u30fc\u30d3\u30b9\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST action serviceName CDATA #REQUIRED>

<!-- expectedCost\u5c5e\u6027\u306f\u3001\u30ea\u30bd\u30fc\u30b9\u5b9a\u7fa9\u3092\u4f5c\u6210\u3059\u308b\u305f\u3081\u306e\u4e88\u5b9a\u5de5\u6570\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST action expectedCost CDATA #IMPLIED>

<!-- cost\u5c5e\u6027\u306f\u3001\u30ea\u30bd\u30fc\u30b9\u5b9a\u7fa9\u3092\u4f5c\u6210\u3057\u305f\u5b9f\u7e3e\u5de5\u6570\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST action cost CDATA #IMPLIED>

<!-- retryInterval\u5c5e\u6027\u306f\u3001\u30a2\u30af\u30b7\u30e7\u30f3\u306e\u5b9f\u884c\u7d50\u679c\u304c\u4e0d\u6b63\u306a\u5834\u5408\u306b\u30b9\u30ea\u30fc\u30d7\u3059\u308b\u30a4\u30f3\u30bf\u30fc\u30d0\u30eb(\u30df\u30ea\u79d2)\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST action retryInterval CDATA #IMPLIED>

<!-- retryCount\u5c5e\u6027\u306f\u3001\u30a2\u30af\u30b7\u30e7\u30f3\u306e\u5b9f\u884c\u7d50\u679c\u304c\u4e0d\u6b63\u306a\u5834\u5408\u306b\u30a2\u30af\u30b7\u30e7\u30f3\u306b\u623b\u308b\u56de\u6570\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST action retryCount CDATA #IMPLIED>

<!-- resources\u8981\u7d20\u306f\u3001\u30a2\u30af\u30b7\u30e7\u30f3\u3092\u5b9f\u884c\u3059\u308b\u969b\u306b\u4f7f\u7528\u3059\u308b\u30ea\u30bd\u30fc\u30b9\u306e\u96c6\u5408\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ELEMENT resources (resource+)>

<!-- resource\u8981\u7d20\u306f\u3001\u30a2\u30af\u30b7\u30e7\u30f3\u3092\u5b9f\u884c\u3059\u308b\u969b\u306b\u4f7f\u7528\u3059\u308b\u30ea\u30bd\u30fc\u30b9\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
name\u5c5e\u6027\u3092\u6307\u5b9a\u3057\u3066\u3001\u30ea\u30bd\u30fc\u30b9\u30d5\u30a1\u30a4\u30eb\u3092\u6307\u5b9a\u3059\u308b\u304b\u3001\u5185\u5bb9\u3067\u30ea\u30bd\u30fc\u30b9\u6587\u5b57\u5217\u3092\u6307\u5b9a\u3057\u307e\u3059\u3002
-->
<!ELEMENT resource (#PCDATA)*>

<!-- name\u5c5e\u6027\u306f\u3001\u30ea\u30bd\u30fc\u30b9\u30d5\u30a1\u30a4\u30eb\u306e\u30d5\u30a1\u30a4\u30eb\u540d\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST resource name CDATA #IMPLIED>

<!-- encoding\u5c5e\u6027\u306f\u3001\u30ea\u30bd\u30fc\u30b9\u30d5\u30a1\u30a4\u30eb\u306e\u6587\u5b57\u30b3\u30fc\u30c9\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002
-->
<!ATTLIST resource encoding CDATA #IMPLIED>

